// --------------------------------------------------------------------------------------------------------------------------------------------
// Table of contents
// --------------------------------------------------
// 1.0 imports
// 2.0 variables
// 3.0 general
// 4.0 type
// 5.0 layout
// 6.0 modules
// --------------------------------------------------------------------------------------------------------------------------------------------

// 1.0 imports
// --------------------------------------------------------------------------------------------------------------------------------------------

@import "colors";
@import "breakpoints";
@import "links";

// 2.0 variables + mixins
// --------------------------------------------------------------------------------------------------------------------------------------------

@mixin globalNav{
	//max-width:1200px;
	height:32px;
	left:0;
	right:0;
	display:block;
	padding:0;
	margin:5px auto;
	//background:lime;

}

// 3.0 general
// --------------------------------------------------------------------------------------------------------------------------------------------

// 4.0 type
// --------------------------------------------------------------------------------------------------------------------------------------------

// 5.0 layout
// --------------------------------------------------------------------------------------------------------------------------------------------

#navigation-layout{
	border:1px solid $grey;
	padding:10px;
	float:left;
	margin:0;
	font-size:1.1rem;
	width:100%;
	height:40px;
	overflow:hidden;
	line-height:25px;
	a:link{
		padding-right:10px;
	}
}

#navigation-layout-vertical{
	display:block;
	width:100px;
	float:left;
	li{
		list-style-type: none;
		line-height:2em;
	}
	//position:fixed;
}

search input{
	display:block;
	@media (max-width:$medium){
		display:none;
	}
}





