.clear-fix:before,.clear-fix:after{content:"";display:table}
.clear-fix:after{clear:both}
.clear-clear-fix:before,.clear-clear-fix:after{clear:none;content:none;display:none}
br:last-child{clear:both}
#comments .response-to,#comments .comment-tools{font-size:12px;font-size:1.2000000000000002rem;line-height:20px;line-height:2rem;color:#666}
.comment-details{list-style:none;margin-left:0}
.comment-tools-reply-button{color:#333}.comment-tools-reply-button:hover{color:#fff}
@media (min-width:640px){.comments-quick-pick{position:absolute;top:0;right:0;width:30%}}@media (min-width:960px){.comments-quick-pick{width:18%}.comments-quick-pick input{width:auto;padding:10px 10px 10px 10px;padding:1rem 10px 1rem 10px}}
.comment-quick-reply input[type="submit"],.comment-quick-post input[type="submit"],.comment-quick-reply input[type="button"],.comment-quick-post input[type="button"]{width:100%}
@media (min-width:640px){.comments-quick-pick .comment-pick{display:none}}
#article-comments{border-top:1px dotted #e5e5e5}
.comments-quick-pick{margin-bottom:20px;margin-bottom:2rem;border-top:1px solid #e5e5e5}
@media (min-width:960px){.comment-reply:before,.comment-reply:after{content:"";display:table} .comment-reply:after{clear:both} .comment-reply li input{padding:10px 10px 10px 10px;padding:1rem 10px 1rem 10px} .comment-reply li:first-child{float:right} .comment-reply li:last-child{float:left}}
.comment{margin-bottom:10px;margin-bottom:1rem;padding-bottom:9px;padding-bottom:.9rem;border-bottom:1px dotted #e5e5e5}.comment.reply{margin-left:4.5%}
.comment:only-of-type{margin-bottom:0;border:none}
.comment p{clear:both;margin-bottom:10px;margin-bottom:1rem}
.comment-author-avatar{float:left;vertical-align:top;width:48px;margin:0 2% 10px 0;margin:0 2% 1rem 0}
.comment-tools{margin-bottom:0;margin-left:0}.comment-tools li{display:inline-block;margin-right:10px}.comment-tools li:last-child{margin-right:0}
.comment-tools-reply-button{width:auto;padding:10px 5px 10px 5px;padding:1rem 5px 1rem 5px;background:#e5e5e5}.comment-tools-reply-button:hover{background:#003656}
