.clear-fix:before,.clear-fix:after{content:"";display:table}
.clear-fix:after{clear:both}
.clear-clear-fix:before,.clear-clear-fix:after{clear:none;content:none;display:none}
br:last-child{clear:both}
input,text,select,button,textarea{font-size:15px;font-size:1.5rem;line-height:20px;line-height:2rem;font-family:Georgia,serif;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}
input[type="text"],input[type="submit"],input[type="button"],text,button,textarea{-webkit-appearance:none}
input[type="submit"],input[type="button"],button[type="submit"]{color:#fff}
input[type="button"],.button-secondary{color:#333}input[type="button"]:hover,.button-secondary:hover{color:#fff}
form ul{list-style:none;margin-left:0}
form li{margin-bottom:10px;margin-bottom:1rem}form li:last-child{margin-bottom:0}
input[type="text"],input[type="submit"],input[type="button"],button,.button-secondary{display:block;padding:10px 4% 10px 4%;padding:1rem 4% 1rem 4%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
input[type="text"],input[type="submit"],input[type="button"],button{width:100%}@media (min-width:960px){input[type="text"],input[type="submit"],input[type="button"],button{width:auto;padding:10px 10px 10px 10px;padding:1rem 10px 1rem 10px}}
input[type="submit"],input[type="button"],button[type="submit"]{background:#005689}input[type="submit"]:hover,input[type="button"]:hover,button[type="submit"]:hover{color:#fff;background:#003656;cursor:pointer}
input[type="text"],textarea{border:1px solid #e5e5e5}
input[type="button"],.button-secondary{background:#e5e5e5}input[type="button"]:hover,.button-secondary:hover{background:#003656;cursor:pointer}
textarea{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
select{display:block;width:100%;padding:10px 4% 10px 4%;padding:1rem 4% 1rem 4%;background:#e5e5e5;border:1px solid #d2d2d2}@media (min-width:640px){select{width:auto;display:inline-block}}
