.clear-fix:before,.clear-fix:after{content:"";display:table;}
.clear-fix:after{clear:both;}
.clear-clear-fix:before,.clear-clear-fix:after{clear:none;content:none;display:none;}
br:last-child{clear:both;}
body{background:#eeeeee;}
h1{margin-top:20px;margin-top:2rem;}
.wrapper{width:1100px;}
.comparison{margin:20px 0px 20px 0px;margin:2rem 0px 2rem 0px;}.comparison iframe{height:410px;background:#fff;border:1px solid #000;}
.mobile,.desktop{float:left;}
.mobile,.tablet{margin-bottom:10px;margin-bottom:1rem;}
.mobile{width:320px;}
.tablet{float:right;width:768px;}
.desktop{width:1100px;margin-bottom:50px;margin-bottom:5rem;}
