.accordion {
  margin-bottom: 20px;
  width: 100%; }

.accordion h2, .accordion h3 {
  margin: 20px;
  font-size: 18px; }

.accordion-control {
  display: block;
  padding-top: 10px;
  border-top: 1px solid #e5e5e5; }
  .accordion-control i {
    float: right;
    text-decoration: none; }

.accordion-pane {
  padding-bottom: 20px;
  height: 50px;
  padding-right: 20px; }
