// --------------------------------------------------------------------------------------------------------------------------------------------
// Table of contents
// --------------------------------------------------
// 1.0 imports
// 2.0 variables
// 3.0 general
// 4.0 type
// 5.0 layout
// 6.0 modules
// --------------------------------------------------------------------------------------------------------------------------------------------

// 1.Imports
//-----------------------------
@import "fonts";
@import "font-awesome";
@import "colors";
@import "breakpoints";
@import "mq";


// 2. variables & mixins
//-----------------------------

$background-container:$link-white;
$margin-paragraph: 10px 0 10px 0;

@mixin background-container {
	//top:0;
	//width:100%;
	margin:0;
	padding:0;
	font-size:15/20;
	color:$copy;
	text-rendering:optimizeLegibility;
	background:$code-grey;
}

@mixin content-container{
	min-width:280px;
	max-width:100%;
	background:$link-white;
	margin:$gs-gutter;
	padding:$gs-gutter;
}

@mixin margins_zero {
	margin:0;
	padding:0;
}

@mixin border-box{

}

@mixin margins_paragraphs {
	p{
		margin:$margin-paragraph;
	}
	@include box-sizing(border-box);
}

@mixin full-screen {
	width:100%;
	top:0;
	left:0;
	position:absolute;
}

@mixin block {
	width:100%;
	height:100%;
	display:block;
}

@mixin image-replacement {

}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}

// 3.General
//-----------------------------

html {
	font-family:$serif;
	list-style-type: none;
	}

body{
	@include background-container;
}

#wrapper {
	@include content-container;
}

#home{
	@include content-container;
}

.container {
	//background: lime;
	margin:0 auto;
	width:940px;
}



.border-line{
	border: 1px solid $light-grey;
	width:100%;
	//height:10%;
	margin:20px 0 30px 0;
	padding:0;
	float:left;
	&.read-more{
		margin:0;
		border-color:$link;
	}
}

.border-line-dark{
	border: 1px solid black;
	width:100%;
	opacity:0.4;
}

.border-vertical{
	border: 1px solid $light-grey;
	height:30%;
	//height:10%;
	margin:0;
	padding:0;
	float:right;
}



// x.modules
//-----------------------------


article{
	width:100%;
	height:auto;
	margin:40px 0 10px 0 ;
	padding:0;
	line-height:140%;
}


.live-latest {
	font-size:(10 / 10) * 0.5em;
	font-family:$sans-serif;
	font-weight:bold;
	font-style:normal;
	text-transform:uppercase;
	color:#fff;
	background:$highlight;	
	padding:2px;
}






