// --------------------------------------------------------------------------------------------------------------------------------------------
// Table of contents
// --------------------------------------------------
// 1.0 imports
// 2.0 variables
// 3.0 general
// 4.0 type
// 5.0 layout
// 6.0 modules
// --------------------------------------------------------------------------------------------------------------------------------------------

// 1.Imports
//-----------------------------
@import "fonts";
@import "font-awesome";
@import "colors";
@import "breakpoints";


// 2.Mixins
//-----------------------------
.box-sizing { 

}

@mixin radius {

}

@mixin full-screen {
	width:100%;
	top:0;
	left:0;
	position:absolute;
}

@mixin block {
	
}

.image-replacement {

}

// 3.General
//-----------------------------


#wrapper {
	margin: 50px auto;
	min-width:280px;
	@media (min-width:$medium-large){
	//width:90%;
	width:880px;
	}
}

#home{
	margin: 40px auto;
	width:70%;
	max-width:880px;
}

.container {
	//background: lime;
	margin:0 auto;
	width:940px;
}

html {
	font-family:$serif;
	list-style-type: none;
}

body{
	margin:0;
	font-size:15/20;
	color:$copy;
	text-rendering:optimizeLegibility;
}


.border-line{
	border: 1px solid $light-grey;
	width:100%;
	//height:10%;
	margin:20px 0 30px 0;
	padding:0;
	float:left;
	&.read-more{
		margin:0;
		border-color:$link;
	}
}

.border-line-dark{
	border: 1px solid black;
	width:100%;
	opacity:0.4;
}

.border-vertical{
	border: 1px solid $light-grey;
	height:30%;
	//height:10%;
	margin:0;
	padding:0;
	float:right;
}



// x.modules
//-----------------------------


article{
	width:100%;
	height:auto;
	margin:40px 0 10px 0 ;
	padding:0;
	line-height:140%;
}


.live-latest {
	font-size:(10 / 10) * 0.5em;
	font-family:$sans-serif;
	font-weight:bold;
	font-style:normal;
	text-transform:uppercase;
	color:#fff;
	background:$highlight;	
	padding:2px;
}






