// ------------------------------------------------------------------------------------------------------------------------------------------------- 
// Table of contents
// --------------------------------------------------
// 1.0 breakpoints
// ------------------------------------------------------------------------------------------------------------------------------------------------- 

// 1.0 breakpoints
// --------------------------------------------------
$small:320px;
$small-medium:506px;
$medium:640px;
$medium-large:960px;
$large:1200px;
$constraint:1280px;

$medium-1:750px;
$medium-large-1:1000px;