


.wrapper {
    width:58%;
    margin-top:10;
}


@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}




pre, code {
    font-size: 12px;
    line-height: 20px;
    margin-bottom:-10px;
    //color:$dark-grey;
    //background:$mid-grey;
}

.pre-line-numbers:before {
    font-size: 10px;
    text-align: right;
    color: #d2d2d2;
}

pre:before{

}

pre:after{

}

pre {
    overflow: scroll;
    border: 1px solid #e7e7e7;
    @include box-sizing(border-box);
    counter-reset: linecounter;
    width: 100%;
    margin:10px 0 10px 0;
}

.pre-line-numbers {
    counter-increment: linecounter;
}
.pre-line-numbers:before {
    content: counter(linecounter);
    display: inline-block;
    width: 2em;
    margin: 0 10px 0 0;
    padding: 0 5px 0 5px;
    border-right: 1px solid #e7e7e7;
}