// ------------------------------------------------------------------------------------------------------------------------------------------------- 
// Table of contents
// --------------------------------------------------
// 1.0 fonts
// ------------------------------------------------------------------------------------------------------------------------------------------------- 

// 1.0 fonts
// ------------------------------------------------------------------------------------------------------------------------------------------------- 
$font-path:"../font/";

$sans-serif:Helmet,Freesans,sans-serif;
$serif:"guardian-regular";

// $sans-serif-italic:;
$serif-italic:"guardian-italic";

// $sans-serif-bold:;
$serif-bold:"guardian-bold";

// $sans-serif-bold-italic:;
$serif-bold-italic:"guardian-bold-italic";

@font-face {
    font-family:"guardian-regular";
    src:url('../font/Guardian-Egyp-Web-Regular.woff') format('woff');
    font-weight:normal;
    font-style:normal;
} 

@font-face {
    font-family:"guardian-italic";
    src:url('../font/Guardian-Egyp-Web-Regular It.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"guardian-bold";
    src:url('../font/Guardian-Egyp-Web-Semibold.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"guardian-bold-italic";
    src:url('../font/Guardian-Egyp-Web-Semibold It.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}