// --------------------------------------------------------------------------------------------------------------------------------------------
// Table of contents
// --------------------------------------------------
// 1.0 imports
// 2.0 variables
// 3.0 general
// 4.0 type
// 5.0 layout
// 6.0 modules
// --------------------------------------------------------------------------------------------------------------------------------------------

// 1.0 imports
// --------------------------------------------------------------------------------------------------------------------------------------------
@import "colors";

// 2.0 variables
// --------------------------------------------------------------------------------------------------------------------------------------------



// 3.0 general
// --------------------------------------------------------------------------------------------------------------------------------------------

// 4.0 type
// --------------------------------------------------------------------------------------------------------------------------------------------

// 5.0 layout
// --------------------------------------------------------------------------------------------------------------------------------------------

.header-container {
		//background: $grey;
		margin:0 auto;
		width:940px;
		padding:40px 0 40px 0;
		div{
			color:$link-white;
			padding:0px 20px 0px 20px ;
			font-size: 80px;
			//margin:30px 0 20px 0;

		}
		p{
			color:$link-white-hover;
			//padding:25px;
			font-size: 16px;
			margin:10px 0 20px 20px;
			font-weight:normal;
			//width:70%;
		}
}

.header-top {
	left:0;
	right:0;
	bottom:0;
	margin:50px 0 0px 0;
	position:relative;
	height:100%;
	background:$link-white;
	background:url("../img/library-bg.jpg") top left repeat;
	z-index:99;
}


.header-top:after{
	border-bottom:1px solid black;
}


.nav-bar{
	left:0;
	right:0;
	top:0;
	height:50px;
	background:$link-white;
	position: fixed;
	z-index:100;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.nav-container {
	max-width:960px;
	width:100%;
	height:55px;
	margin:-15px auto;
	padding-top:13px;
}
	
// 6.0 modules
// --------------------------------------------------------------------------------------------------------------------------------------------


.framework-side-nav{
	width: 200px;
	float: left;
	//border-radius:5px;
	position: relative;
	margin: -60px 0 0 -20px ;
	padding:30px 0px 15px 22px;
	background:$light-grey;
	//opacity:0.1;
	z-index:-10;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	li {
		
		margin:0;
		padding:0;
		width:100%;
		list-style-type: none;
		line-height:1.2em;
	}
	.active{
		border-left: 3px solid $link;
		margin-left:30px;
	}
}

.nav-header {

	color: $link-white;
	width:110px;
	height:18px;
	//background:darken($link,5%); 
	//background:$link;
	font-family: $serif; 
	font-size:(14 / 14) * 1em;
	font-weight:bold;
	padding:16px;
	margin:0;
}

.nav-list {
		
	float:left;
	padding:10px;
	margin: -62px 0 0 140px;
	//background:lime;
	width:560px;
	
	li 	{
		
		display: inline;
		list-style-type: none;
		//background:lime;
		padding:0;
		font-size: 14px;
        margin:0 0 0 20px;
		a {
		&:link, &:visited {color:$dark-grey;  text-decoration:none; font-weight:normal;}
		&:hover{color:$framework-nav; text-decoration:underline;}
		}
	}
	.nav-selected {color:$framework-nav;  text-decoration:none; }
}





