// --------------------------------------------------------------------------------------------------------------------------------------------
// Table of contents
// --------------------------------------------------
// 1.0 imports
// 2.0 variables
// 3.0 general
// 4.0 type
// 5.0 layout
// 6.0 modules
// --------------------------------------------------------------------------------------------------------------------------------------------

@import "breakpoints";
@import "colors";

// 1.0 modules
// -------------------------------------------------------------------------------------------------------------------------------------------------

html {
	font-family:$serif;
	list-style-type: none;
}

body{
	margin:0;
	font-size:15/20;
	color:$copy;
	text-rendering:optimizeLegibility;
}



#wrapper {
	margin: 50px auto;
	min-width:280px;
	@media (min-width:$medium-large){
	//width:90%;
	width:880px;
	}
}

#home{
	margin: 80px auto;
	width:70%;
	max-width:880px;
}

.container {
	//background: lime;
	margin:0 auto;
	width:940px;
}

.framework-container{
	width:100%;
	float:left;
}

.framework-column-left{
	width: 200px;
	float: left;
	position: relative;
	margin: -60px 0 0 -20px ;
	padding:30px 10px 15px 22px;
	background:$code-grey;
	border: 1px solid $light-grey;
	z-index:-10;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	li {
		//float:left;
		margin:0;
		padding:0;
		width:100%;
		list-style-type: none;
		line-height:1.2em;
	}
}


.framework-column-right{
	width:70%;
	float:right;
	margin-top:-15px;
}

.fixed {
	position: fixed;
    top:100px;
    width: 200px;
	float: left;
}

.list-block {
	//float:left;
	padding:10px;
	margin:0;
	&.setup{
		margin:-5px 0 0 20px;
		
	}
}


article{
	width:100%;
	height:auto;
	margin:40px 0 10px 0 ;
	padding:0;
	line-height:140%;
}


.live-latest {
	font-size:(10 / 10) * 0.5em;
	font-family:$sans-serif;
	font-weight:bold;
	font-style:normal;
	text-transform:uppercase;
	color:#fff;
	background:$highlight;	
	padding:2px;
}


// 2.0 Columns
// -------------------------------------------------------------------------------------------------------------------------------------------------

/*.column {
	//float:left;
	margin:0 0 0 20px;
	//background: aqua;
	width:880px;
	height: 100%;
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
    column-gap:0;
    padding:0;
    h3{
    	color:$link-white;
    	font-size:20px;
    }

    
}

.column li{
	list-style-type: none;
	float:left;
	//background:lime;
	padding:0;
	margin:0 0 5px 5px;
	page-break-after:always;
}*/

.column {
	
	@media (min-width:$small){
		width:100%;
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
		padding:0; margin:0 0 0 20px;
		
		li:nth-child(n+2) {
			display:none;
			//background:lime;
			}
		
			li {
			    break-after: always;
			    -moz-column-break-after: always;
			    -webkit-column-break-after: always;
			}
	
	}
	
	
	@media (min-width:$medium){
		width:100%;
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
		padding:0; margin:0 0 0 20px;
		
		li:nth-child(n+4) {
			display:block;
			background:lime;
			}
		
			li {
			    break-after: always;
			    -moz-column-break-after: always;
			    -webkit-column-break-after: always;
			}
	
	}
	
	
	@media (min-width:$medium-large) {
		width:880px;
		-moz-column-count:4;
		-webkit-column-count:4;
		column-count:4;
		padding:0; margin:0 0 0 20px;
	
		li:nth-child(n+2) {
			display:block;
			//background:aqua;
			}
	
			li {
			    break-after: always;
			    -moz-column-break-after: always;
			    -webkit-column-break-after: always;
			}
	
		}
	
	}


.column li {
	//width:24%;
	list-style:none;
	padding:10px; margin:0;
	//font-size:1.0em;
	h3{
    	color:$link-white;
    	font-size:20px;
    }
	
}


