// --------------------------------------------------------------------------------------------------------------------------------------------
// Table of contents
// --------------------------------------------------
// 1.0 imports
// 2.0 variables
// 3.0 general
// 4.0 type
// 5.0 layout
// 6.0 modules
// --------------------------------------------------------------------------------------------------------------------------------------------

// --------------------------------------------------
// 1.0 imports

@import "colors";

// --------------------------------------------------
// 2.0 variables


// --------------------------------------------------
// 3.0 general

a {
	&:link {color:$link; text-decoration:none; font-weight:normal;}
	&:hover{color:$link-hover; text-decoration:underline;}
	&:visited{color:$link-visited; text-decoration:none;}
}

.button{
	float:left;
	margin:10px 10px 30px 0;
	a:link, a:visited{
	color:#fff;
	background: $link;
	padding: 15px 35px 15px 35px;
	//float:left;
	//break:before;
	text-decoration: none;
	}
	a:hover{
	background: $link-hover;
	}
}

.button-home{
	a:link, a:visited{
	color:#fff;
	background: lime;
	padding: 10px 30px 10px 30px;
	text-decoration: none;
	}
	a:hover{
	background: darken(lime, 20%);
	}
}

.button-inactive{
	float:left;
	margin:10px 10px 30px 0 ;
	color:#999;
	background: $grey;
	padding: 15px 35px 15px 35px;
	text-decoration: none;
}

.button-read-more{
	text-align:center;
	a:link, a:visited{
		margin:-20px 0 20px 0;
		padding: 5px 20px 10px 20px;
		height:45px;
	     width:100px;
	     border-radius: 0 0 100px 100px;
		text-decoration: none;
		background:$link;
		color:$link-white;

	}
	a:hover{
	background: $link-hover;
	}
}

