// --------------------------------------------------------------------------------------------------------------------------------------------
// Table of contents
// --------------------------------------------------
// 1.0 imports
// 2.0 variables
// 3.0 general
// 4.0 type
// 5.0 layout
// 6.0 modules
// --------------------------------------------------------------------------------------------------------------------------------------------


.logo{
	background:url("../img/guardian-logo.svg") no-repeat;
	background-size:100% auto;
	//position:absolute;
	width:120px;
	height:55px;
	margin:13px 0 0 15px;
}

.logo-grey{
	background:url("../img/g-logo.svg") no-repeat;
	background-size:100% auto;
	//position:absolute;
	width:30px;
	height:100px;
	margin-top:0px;
	float:right;
}

img {
	width:100%;
	max-width:100%;
	display:block;
}

video{

}

iframe {
	width:100%;
	height:100%;
	border:none;
	margin-top:50px;
	padding:0;
}
