// --------------------------------------------------------------------------------------------------------------------------------------------
// Table of contents
// --------------------------------------------------
// 1.0 imports
// 2.0 variables
// 3.0 general
// 4.0 type
// 5.0 layout
// 6.0 modules
// --------------------------------------------------------------------------------------------------------------------------------------------


h1, h2, h3, h4, li {
	font-weight:normal;
}

h1 {
	color: $copy; 
	font-family: $serif; 
	font-size:(30 / 14) * 1em;
	font-weight:bold;
}


h2 {
	color:$copy;
	font-family: $serif; 
	font-size:(20 / 14) * 1em;
	margin:10;
	padding:0;
	
}

h3 {
	font-size:(14 / 14) * 1em;
	font-family:$serif;
	margin:5,0,5,0;
	padding:0;
}

h4 {
	font-size:15;
	font-family:$serif-bold;
	margin:5,0,5,0;
	//float:left;
}

ul{
	list-style-type: none;
	width:100%;
	padding:0;
	margin:0;
	float:left;
}
li {
	list-style-type: square;
}


p{
	font-size:(12 / 14) * 1em;
}