// ------------------------------------------------------------------------------------------------------------------------------------------------- 
// Table of contents
// --------------------------------------------------
// 1.0 imports
// 2.0 variables
// 3.0 general
// 4.0 type
// 5.0 layout
// 6.0 modules
// -------------------------------------------------------------------------------------------------------------------------------------------------  

// 1.0 imports
// -------------------------------------------------------------------------------------------------------------------------------------------------
@import "colors.scss";

// 2.0 variables
// -------------------------------------------------------------------------------------------------------------------------------------------------

// 3.0 general
// -------------------------------------------------------------------------------------------------------------------------------------------------

// 4.0 type
// -------------------------------------------------------------------------------------------------------------------------------------------------

// 5.0 layout
// -------------------------------------------------------------------------------------------------------------------------------------------------
.accordion {
	margin-bottom:10px;
}

// 6.0 modules
// -------------------------------------------------------------------------------------------------------------------------------------------------
.accordion {
	border-bottom:1px solid $light-grey;
	h2, h3 {
		margin:0;
		
		
	}

}

.accordion-control {
	//display:block;
	padding-top :10px;
	//background:aqua;
	border-top:1px solid $light-grey;
	
}

.accordion-pane {
	padding :10px;
	height:50px;
	
	//&:after{
	//	margin-bottom:10px;
	//}
	//margin:0;
	border-top:1px dotted $light-grey;
}


