// Table of contents
//-----------------------------
// 1. imports
// x. general
// X. type
// x. images & video
// x. layout
// x. modules
// -------------------------------------------------------------------------------------------------------------------------


// 1.1 Imports General
//-----------------------------
@import "fonts.scss";
@import "font-awesome.scss";
@import "colors.scss";
@import "breakpoints.scss";
@import "typography.scss";
@import "links.scss";
@import "media.scss";
@import "layouts.scss";
//@import "navigation.scss";

// 1.2 Imports for Framework
//-----------------------------
@import "tabs.scss";
@import "accordion.scss";



// 2.General
//-----------------------------

#wrapper {
	margin: 50px auto;
	//width:90%;
	width:880px;
}

.container {
	//background: lime;
	margin:0 auto;
	width:940px;
}

html {
	font-family:$serif;
	list-style-type: none;
}

body{
	margin:0;
	font-size:15/20;
	color:$copy;
	text-rendering:optimizeLegibility;
}


.border-line{
	border: 1px solid $light-grey;
	width:100%;
	//height:10%;
	margin:20px 0 30px 0;
	padding:0;
	float:left;
}

.border-line-dark{
	border: 1px solid black;
	width:100%;
	opacity:0.4;
}

.border-vertical{
	border: 1px solid $light-grey;
	height:30%;
	//height:10%;
	margin:0;
	padding:0;
	float:right;
}



// x.modules
//-----------------------------

.list-block {
	//float:left;
	padding:18px;
	margin:-20px 0 0 20px;
}

article{
	width:100%;
	height:auto;
	margin:40px 0 10px 0 ;
	padding:0;
	line-height:140%;
}







