// Example sass file to be used a builder
// Table of contents
//-----------------------------
// 1. imports
// x. general
// X. type
// x. images & video
// x. layout
// x. modules
// ------------------------------------------------------------------------------------------------------------------------------------------------- 


// 1.Imports
//-----------------------------
@import "fonts.scss";
@import "font-awesome.scss";
@import "colors.scss";
//@import "media.scss";
//@import "library.scss";
//@import "adverts.scss";
//@import "screen.scss";
@import "breakpoints.scss";


// 2.General
//-----------------------------

#wrapper {
	margin: 0 auto;
	//width:90%;
	width:900px;
}

html {
	font-family:$serif;
	list-style-type: none;
}

body{
	margin:0;
	font-size:15/20;
	color:$copy;
	text-rendering:optimizeLegibility;
}


a {
	&:link, &:visited {color:$link; text-decoration:none;}
	&:hover{color:$link-hover; text-decoration:underline;}
}

ul {
	line-style-type:none;
}

.button{
	a:link, a:visited{
	color:#fff;
	background: $link;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	
	}

	a:hover{
	background: $link-hover;
	}
}


.nav-header{
	left:0;
	right:0;
	top:0;
	height:5px;
	background:#254a82;
	//position: fixed;
}

.border-line{
	border: 1px solid $light-grey;
	width:100%;
	//height:10%;
	margin:0;
	padding:0;
}

.intro{
	padding:10px;
	line-height: 25px;
}

nav-footer{}


// x.type
//-----------------------------

h1, h2, h3, h4 {
	font-weight:normal;
}

h1 {
	color: $copy; 
	font-family: $serif; 
	font-size:(30 / 14) * 1em;
	font-weight:bold;
}

h2 {
	color:$copy;
	font-family: $serif; 
	font-size:(20 / 14) * 1em;
}

h3 {
	font-size:15,20;
	font-family:$serif-bold;
	margin:5,0,5,0;
}

h4 {
	font-size:15,20;
	font-family:$serif-bold;
	margin:5,0,5,0;
}

ul {
	list-style-type: none;
	padding:0;
}

p{
	line-height:2.1em;
}


// x.media
//-----------------------------
.logo{
	background:url("../img/guardian-logo-2.svg") no-repeat;
	background-size:100% auto;
	position:absolute;
	width:110px;
	height:55px;
	margin:-16px 0px 0px 30px;
	//background-color:lime;

	@media (max-width:$small-medium){
		width:90px;
		height:20;
		margin:10,10,10,10;
	}
}

img {
	width:100%;
	max-width:100%;
	display:block;
}

video{

}


// x.modules
//-----------------------------

article{
	width:70%;
	height:auto;
	margin:40px 0 10px 0 ;
	padding:0;
	line-height:140%;
}

.column-left{}
.column-right{}
//:nth-child(2)

/*.column {
	float:left;
	//margin-top: 0px 0px 0px 0px;
	//background: aqua;
	height: 100px;
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
    column-gap: 20px;
    //page-break-after: </li>;
    padding:20px;
}

.column li{
	list-style-type: none;
	display: inline-block;
}
*/

.column {
	
	@media (min-width:$small){
		width:100%;
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
		padding:0; margin:0;
		
		li:nth-child(n+2) {
			display:none;
			//background:lime;
			}
		
			li {
			    break-after: always;
			    -moz-column-break-after: always;
			    -webkit-column-break-after: always;
			}
	
	}
	
	
	@media (min-width:$medium){
		width:100%;
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
		padding:0; margin:0;
		
		li:nth-child(n+4) {
			display:block;
			//background:lime;
			}
		
			li {
			    break-after: always;
			    -moz-column-break-after: always;
			    -webkit-column-break-after: always;
			}
	
	}
	
	
	@media (min-width:$medium-large) {
		width:100%;
		-moz-column-count:4;
		-webkit-column-count:4;
		column-count:4;
		padding:0; margin:0;
	
		li:nth-child(n+2) {
			display:block;
			//background:aqua;
			}
	
			li {
			    break-after: always;
			    -moz-column-break-after: always;
			    -webkit-column-break-after: always;
			}
	
		}
	
	}


.column li {
	//width:24%;
	list-style:none;
	padding:10px; margin:0;
	//font-size:1.0em;
	
}
// Tabs
/*
#tabs li {
	a:link, a:visited{
		float:left;
		width:140px;
		height:35px;
		background:$tab;
		margin:0;
		padding:10px;
		padding-bottom: 1px;
		color:$dark-grey;

		position: relative;
		//top: 0;
		white-space: nowrap;
		list-style: none;

		}
	a:hover{
		background: $tab-hover;
		text-decoration: none;
	}
}

*/
#tabs div {
	width:100%;
	float:left;
	border-top: 1px solid $grey;
	//background: lime;
	margin-top:-4px;

	&:p{
		float:left;
	}

	&:li{
		line-height:10px;
		margin:0;
		padding:0;
	}
}



.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	width:135px;
	border-bottom-width: 0;
	padding: 10px 0 0 10px;
	white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 2px;
	background: #fff;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;
}
.ui-tabs .ui-tabs-nav li a,
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	cursor: pointer;
}



.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	background: #e6e6e6;
	height:40px;
	font-weight: normal;
	color: #555555;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	
	background: #dadada;
	font-weight: normal;
	color: #212121;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border-top: 3px solid #4bc6df;
	background: #e6e6e6;
	font-weight: normal;
	color: #212121;
	padding:0;
}




