// Table of contents
// 1. Imports
// 2. Titles
// 3. Images
// 4. Video
// 5. Galleries


// 1. headers
// ------------------------------------------------------------------------------------------------------------------------------------------------- 
$header: #000;
$header-hover:darken($header, 10%);
$header-visited:lighten($header, 10%);

// 2. links
// ------------------------------------------------------------------------------------------------------------------------------------------------- 
$link: #005689;
$link-hover:darken($link,10%);
$link-visited:lighten($link,10%);
	
// 3. Body text
// ------------------------------------------------------------------------------------------------------------------------------------------------- 
$copy:#333;
$copy-supplemental:#666;
$error:#300;
	
// 4. backgrounds
// ------------------------------------------------------------------------------------------------------------------------------------------------- 
$background:#eee;
$highlight:#c00;
$tab:#edede7;
$tab-hover:darken($tab,5%);
	
// 5. greys
// ------------------------------------------------------------------------------------------------------------------------------------------------- 
$dark-grey:#252525;
$grey:#ccc;
$mid-grey:#d2d2d2;
$light-grey:#e5e5e5;