// ------------------------------------------------------------------------------------------------------------------------------------------------- 
// Table of contents
// --------------------------------------------------
// 1.0 fonts
// ------------------------------------------------------------------------------------------------------------------------------------------------- 

// 1.0 fonts
// ------------------------------------------------------------------------------------------------------------------------------------------------- 
//$font-path:"../fnt/";

$sans-serif:Helvetica, sans-serif;
$serif:Georgia,serif;
$serif-bold:Georgia, Bold;


// @sans-serif-italic:;
// @serif-italic:;

// @sans-serif-bold:;
// @serif-bold:;

// @sans-serif-bold-italic:;
// @serif-bold-italic:;

// @font-face {
//     font-family:"";
//     src:url('@{font-path}.woff') format('woff');
//     font-weight:normal;
//     font-style:normal;
// } 

//$font-face {
//     font-family:"";
//     src:url('@{font-path}.woff') format('woff');
//     font-weight:normal;
//     font-style:normal;
// }

// @font-face {
//     font-family:"";
//     src:url('@{font-path}.woff') format('woff');
//     font-weight:normal;
//     font-style:normal;
// }

// @font-face {
//     font-family:"";
//     src:url('@{font-path}.woff') format('woff');
//     font-weight:normal;
//     font-style:normal;
// }