// Table of contents
//-----------------------------
// 1. imports
// 2. general
// 3. type
// 4. code snippets
// ------------------------------------------------------------------------------------------------------------------------------------------------- 


// 1.Imports
//-----------------------------
@import "fonts.scss";
@import "font-awesome.scss";
@import "colors.scss";
//@import "media.scss";
@import "base.scss";
//@import "adverts.scss";
//@import "screen.scss";
@import "breakpoints.scss";


// 2.General
//-----------------------------

.showhide {
	color:$link;
	cursor: pointer; cursor: hand;
	&:hover{
		text-decoration:underline;
	}
}

.container{
	width:100%;
	float:left;
}

.header-container {
	//background: $grey;
	margin:0 auto;
	width:940px;
	div{
		color:$link-white;
		padding:40px 20px 0 20px ;
		font-size: 90px;
		//margin:30px 0 20px 0;
	}
	p{
		color:$link-white;
		padding:25px;
		font-size: 18px;
		margin-top:-20px;
	}
}

.framework-top {
	left:0;
	right:0;
	margin-top:50px;
	height:300px;
	background:$link;
	z-index:99;
}

.framework-bar{
	left:0;
	right:0;
	top:0;
	height:50px;
	background:$link-hover;
	position: fixed;
	z-index:100;
	border-bottom: 1px solid $grey;
}

.framework-nav-container {
	max-width:940px;
	height:38px;
	background:$link-hover;
	margin:0 auto;
}

.border-box{
	border: 1px solid $grey;
	width:98%;
	height:auto;
	margin:20px 0 0 0;
	padding:10px;
	float:left;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.border-box-code{
	border: 1px solid $grey;
	background: $code-grey;
	width:98%;
	//height:auto;
	margin:-1px 0 0 0;
	padding:10px;
	float:left;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
}

.note {
	background: $notes;
	padding:20;
	border-left: 2px solid $notes-border;
}

code {
	float:left;
}


// 3.Type
//-----------------------------

.framework-header {
	color: $link-white;
	width:110px;
	height:18px;
	//background:darken($link,5%); 
	background:$link;
	font-family: $serif; 
	font-size:(14 / 14) * 1em;
	font-weight:bold;
	padding:16px;
	margin:0;
}

.framework-nav {
		
		float:right;
		padding:10px;
		margin: -62px 0 0 200px;
		//background:lime;
		width:420px;
	
	li 	{
		
		display: inline;
		list-style-type: none;
		//background:lime;
		padding:0;
		font-size: 14px;
        margin:0 0 0 20px;
		a {
		&:link, &:visited {color:$link-white;  text-decoration:none; font-weight:normal;}
		&:hover{color:aqua; text-decoration:none;}
		}
	}
	.framework-nav-active {color:aqua; }
}

// 4.Code Snippets
//-----------------------------

pre.prettyprint {
padding: 2px;
//border: 1px solid #000;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  
  border: 0;
}

code,
pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  white-space: nowrap;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  border:0;
}

