// ------------------------------------------------------------------------------------------------------------------------------------------------- 
// Table of contents
// --------------------------------------------------
// 1.0 imports
// 2.0 variables
// 3.0 general
// 4.0 type
// 5.0 layout
// 6.0 modules
// -------------------------------------------------------------------------------------------------------------------------------------------------  

// 1.0 imports
// -------------------------------------------------------------------------------------------------------------------------------------------------

@import "colors";
@import "links";

// 2.0 variables
// -------------------------------------------------------------------------------------------------------------------------------------------------

// 3.0 general
// -------------------------------------------------------------------------------------------------------------------------------------------------

// 4.0 type
// -------------------------------------------------------------------------------------------------------------------------------------------------

// 5.0 layout
// -------------------------------------------------------------------------------------------------------------------------------------------------

// 6.0 modules
// -------------------------------------------------------------------------------------------------------------------------------------------------

.ears-nav {
	//font-size:0.7em;
	clear: both;
	overflow: hidden;
	border:1px solid $grey;
	//margin:30px 0 -20px 40px;
	background:#fff;
	//visibility: hidden;
	top:35%;
	right:-300px;
	z-index:20;
	width:300px;
	//height:100px;
	float:right;
	position:fixed;

	-webkit-transition: right .5s ease-out;


	i{
		top:0;
		left:0;
	}

	@media (max-width:$medium){
		margin:60px 0 -20px 0;
	}
}

.ears-nav-open{
	right:0;

}

.next-story{
	float:right;
	//margin:0 0 0 25px;
}

.ears-nav a {
	float: right;
	width: 100%;
	padding: 1em;
	-webkit-transition: opacity 0.5s ease-out; 
	-moz-transition: opacity 0.5s ease-out;  
	-o-transition: opacity 0.5s ease-out; 
		

	&.next-3{
		
		text-align:right;
		border-left: 1px solid $grey;
	}

	&:hover{
		width:300px;
		background:$code-grey;
		text-decoration: none;
		transition: opacity 0.5s ease-out;
	}

	@media (max-width:$small-medium){
		font-size:0.7em;
	}
}

