.accordion {
  margin-bottom: 10px;
  list-style-type: none; }

.accordion {
  border-bottom: 1px solid #e5e5e5; }
  .accordion h2, .accordion h3 {
    margin: 0;
    padding: 20px; }

.accordion-control {
  display: block;
  padding: 10,10,10,10,300;
  border-top: 1px solid #e5e5e5; }

.accordion-pane {
  padding: 10,10,10,10;
  border-top: 1px dotted #e5e5e5; }
