.accordion {
  margin-bottom: 15px; }

.accordion h2, .accordion h3 {
  margin: 0;
  padding: 10px; }

.accordion-control {
  display: block;
  padding: 10px,10px,10px,10px,300; }

.accordion-pane {
  padding: 10,10,10,10; }
