/* Current import list to implement...
* colors
* library
* adverts
* media
* screen
* template
*/
h1 {
  color: #0000cc;
  font: Helmet, Freesans, sans-serif;
  font-size: 4.3em; }

img {
  width: 50%; }
