/* -----------------------
 *  1. SASS-specific code 
 * ----------------------- */
/*
 * 1.1 Colors
 */
.color-ad {
  background-color: #fb37ff;
  border: 0; }

.color-ad-single {
  background-color: #fb37ff;
  border: 0; }

.color-neutral {
  background-color: #848484;
  border: 0; }

.color-container {
  background-color: #eeeeee;
  border: 0; }

.color-box-single {
  background-color: #cccccc;
  border: 0; }

.color-blue-single {
  background-color: #3ed5ff;
  border: 0; }

.color-hilite-single {
  background-color: #aaaaaa;
  border: 0; }

.color-hide {
  background-color: #fdc16a;
  border: 0; }

.color-hide-single {
  background-color: #fca82e;
  border: 0; }

.color-big {
  background-color: #70c1ff;
  border: 0; }

.color-big-single {
  background-color: #37a8ff;
  border: 0; }

/*
 * 1.2 Typography
 */
/*
 * 1.3 Grid
 */
/*
 * 1.4 Helper functions 
 */
/* ----------------
 *  2. Base styles
 * ---------------- */

 .video-box{
  background: #666;
  list-style: none;
    
  }

 .video-box li a {
      color:#fff;
      padding:15px 40px 10px 10px;
      background:#005689;
      text-decoration: none;
      float:left;
      /*margin-top: 186px;*/
    }

 .video-box li a:hover, li a:visited:hover {
      background:#003f64;
    }

.video-title{
  font: normal 24px/28px "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  padding:20px;
  margin-bottom: 5px;
  color:#fff;
}

/*
 * 2.1 Typography
 */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* 2.1.1 Icon Font definitions */
[data-icon]:before {
  position: absolute;
  left: 0;
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-indent: 0;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

[data-icon] {
  position: relative;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/* 2.2 Base */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0; }

body {
  width: 1248px;
  margin: 0 auto;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
  background-color: white;
  color: white;
  text-rendering: optimizeLegibility; }

p {
  margin: 0; }

p + p {
  margin-top: 1.5em; }

.row div p {
	padding-left: 0.5em;
}

h1 {
  margin-top: 0;
  margin-bottom: 2.18182em;
  font-size: 2.0625em;
  font-weight: bold;
  font-style: normal;
  line-height: 1.45455em;
  color: #000000; }

h2 {
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5em;
  margin: 0;
  color: #000000; }

* + h2 {
  margin-top: 1.5em; }

h3 {
  margin: 0;
  margin-bottom: 1.5em;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5em; }

a {
  color: white;
  font-weight: bold; }

ul {
  margin: 1.5em 0; }

b, strong {
  font-weight: bold;
  font-style: normal; }

i, em {
  font-weight: normal;
  font-style: italic; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

input[type="text"],
input[type="search"] {
  display: block;
  position: relative;
  margin-top: -5px;
  padding: 2px 10px 1px 10px;
  height: 2.41667em;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.3); }

.select-style,
input[type="submit"] {
  display: block;
  position: relative;
  margin-top: -5px;
  border: 1px solid #cccccc;
  padding: 2px 10px 1px 10px;
  height: 2.41667em;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.08); }

select {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent; }

::-webkit-input-placeholder {
  color: #adadad; }

:-moz-placeholder {
  color: #adadad; }

::-moz-placeholder {
  color: #adadad; }

:-ms-input-placeholder {
  color: #adadad; }

hr {
  height: 4px;
  border: 0;
  margin: 1.5em 0;
  padding: 0;
  background-color: #000000; }

/*
 * Modules
 */
.desktop-1 {
  position: relative;
  width: 78px;
  float: left; }

.desktop-2 {
  position: relative;
  width: 180px;
  float: left; }

.desktop-3 {
  position: relative;
  width: 282px;
  float: left; }

.desktop-4 {
  position: relative;
  width: 384px;
  float: left; }

.desktop-5 {
  position: relative;
  width: 486px;
  float: left; }

.desktop-6 {
  position: relative;
  width: 588px;
  float: left; }

.desktop-7 {
  position: relative;
  width: 690px;
  float: left; }

.desktop-8 {
  position: relative;
  width: 792px;
  float: left; }

.desktop-9 {
  position: relative;
  width: 894px;
  float: left; }

.desktop-10 {
  position: relative;
  width: 996px;
  float: left; }

.desktop-11 {
  position: relative;
  width: 1098px;
  float: left; }

.desktop-12 {
  position: relative;
  width: 1200px;
  float: left; }

.desktop-full {
  width: 100%; }

.desktop-three-quarters {
  width: 75%; }

.desktop-two-thirds {
  width: 66.66667%; }

.desktop-half {
  width: 50%; }

.desktop-third {
  width: 33.33333%; }

.desktop-quarter {
  width: 25%; }

.desktop-sixth {
  width: 16.66667%; }

*[class*="desktop-"] {
  position: relative;
  float: left;
  padding-left: 24px; }

.desktop-hide {
  display: none; }

.desktop-three-quarters + .desktop-quarter ~ *[class*="desktop-"],
.desktop-two-thirds + .desktop-third ~ *[class*="desktop-"],
.desktop-half + .desktop-quarter + .desktop-quarter ~ *[class*="desktop-"],
.desktop-third + .desktop-third + .desktop-third ~ *[class*="desktop-"]
 {
  margin-top: 1.5em; }

.sub.desktop-full ~ *[class*="desktop-"],
.sub.desktop-half + .sub.desktop-half ~ *[class*="desktop-"] {
	margin-top: 1.5em; }


.row-1 {
  height: 1.5em; }
  .row-1 h3.center {
    line-height: 1.5em;
    margin: 0; }

.desktop-row-1 {
  height: 1.5em; }
  .desktop-row-1 h3.center {
    line-height: 1.5em;
    margin: 0; }

.row-2 {
  height: 3em; }
  .row-2 h3.center {
    line-height: 3em;
    margin: 0; }

.desktop-row-2 {
  height: 3em; }
  .desktop-row-2 h3.center {
    line-height: 3em;
    margin: 0; }

.row-3 {
  height: 4.5em; }
  .row-3 h3.center {
    line-height: 4.5em;
    margin: 0; }

.desktop-row-3 {
  height: 4.5em; }
  .desktop-row-3 h3.center {
    line-height: 4.5em;
    margin: 0; }

.row-4 {
  height: 6em; }
  .row-4 h3.center {
    line-height: 6em;
    margin: 0; }

.desktop-row-4 {
  height: 6em; }
  .desktop-row-4 h3.center {
    line-height: 6em;
    margin: 0; }

.row-5 {
  height: 7.5em; }
  .row-5 h3.center {
    line-height: 7.5em;
    margin: 0; }

.desktop-row-5 {
  height: 7.5em; }
  .desktop-row-5 h3.center {
    line-height: 7.5em;
    margin: 0; }

.row-6 {
  height: 9em; }
  .row-6 h3.center {
    line-height: 9em;
    margin: 0; }

.desktop-row-6 {
  height: 9em; }
  .desktop-row-6 h3.center {
    line-height: 9em;
    margin: 0; }

.row-7 {
  height: 10.5em; }
  .row-7 h3.center {
    line-height: 10.5em;
    margin: 0; }

.desktop-row-7 {
  height: 10.5em; }
  .desktop-row-7 h3.center {
    line-height: 10.5em;
    margin: 0; }

.row-8 {
  height: 12em; }
  .row-8 h3.center {
    line-height: 12em;
    margin: 0; }

.desktop-row-8 {
  height: 12em; }
  .desktop-row-8 h3.center {
    line-height: 12em;
    margin: 0; }

.row-9 {
  height: 13.5em; }
  .row-9 h3.center {
    line-height: 13.5em;
    margin: 0; }

.desktop-row-9 {
  height: 13.5em; }
  .desktop-row-9 h3.center {
    line-height: 13.5em;
    margin: 0; }

.row-10 {
  height: 15em; }
  .row-10 h3.center {
    line-height: 15em;
    margin: 0; }

.desktop-row-10 {
  height: 15em; }
  .desktop-row-10 h3.center {
    line-height: 15em;
    margin: 0; }

.row-11 {
  height: 16.5em; }
  .row-11 h3.center {
    line-height: 16.5em;
    margin: 0; }

.desktop-row-11 {
  height: 16.5em; }
  .desktop-row-11 h3.center {
    line-height: 16.5em;
    margin: 0; }

.row-12 {
  height: 18em; }
  .row-12 h3.center {
    line-height: 18em;
    margin: 0; }

.desktop-row-12 {
  height: 18em; }
  .desktop-row-12 h3.center {
    line-height: 18em;
    margin: 0; }

.row-13 {
  height: 19.5em; }
  .row-13 h3.center {
    line-height: 19.5em;
    margin: 0; }

.desktop-row-13 {
  height: 19.5em; }
  .desktop-row-13 h3.center {
    line-height: 19.5em;
    margin: 0; }

.row-14 {
  height: 21em; }
  .row-14 h3.center {
    line-height: 21em;
    margin: 0; }

.desktop-row-14 {
  height: 21em; }
  .desktop-row-14 h3.center {
    line-height: 21em;
    margin: 0; }

.row-15 {
  height: 22.5em; }
  .row-15 h3.center {
    line-height: 22.5em;
    margin: 0; }

.desktop-row-15 {
  height: 22.5em; }
  .desktop-row-15 h3.center {
    line-height: 22.5em;
    margin: 0; }

.row-16 {
  height: 24em; }
  .row-16 h3.center {
    line-height: 24em;
    margin: 0; }

.desktop-row-16 {
  height: 24em; }
  .desktop-row-16 h3.center {
    line-height: 24em;
    margin: 0; }

.row-17 {
  height: 25.5em; }
  .row-17 h3.center {
    line-height: 25.5em;
    margin: 0; }

.desktop-row-17 {
  height: 25.5em; }
  .desktop-row-17 h3.center {
    line-height: 25.5em;
    margin: 0; }

.row-18 {
  height: 27em; }
  .row-18 h3.center {
    line-height: 27em;
    margin: 0; }

.desktop-row-18 {
  height: 27em; }
  .desktop-row-18 h3.center {
    line-height: 27em;
    margin: 0; }

.row-19 {
  height: 28.5em; }
  .row-19 h3.center {
    line-height: 28.5em;
    margin: 0; }

.desktop-row-19 {
  height: 28.5em; }
  .desktop-row-19 h3.center {
    line-height: 28.5em;
    margin: 0; }

.row-20 {
  height: 30em; }
  .row-20 h3.center {
    line-height: 30em;
    margin: 0; }

.desktop-row-20 {
  height: 30em; }
  .desktop-row-20 h3.center {
    line-height: 30em;
    margin: 0; }

.row-21 {
  height: 31.5em; }
  .row-21 h3.center {
    line-height: 31.5em;
    margin: 0; }

.desktop-row-21 {
  height: 31.5em; }
  .desktop-row-21 h3.center {
    line-height: 31.5em;
    margin: 0; }

.row-22 {
  height: 33em; }
  .row-22 h3.center {
    line-height: 33em;
    margin: 0; }

.desktop-row-22 {
  height: 33em; }
  .desktop-row-22 h3.center {
    line-height: 33em;
    margin: 0; }

.row-23 {
  height: 34.5em; }
  .row-23 h3.center {
    line-height: 34.5em;
    margin: 0; }

.desktop-row-23 {
  height: 34.5em; }
  .desktop-row-23 h3.center {
    line-height: 34.5em;
    margin: 0; }

.row-24 {
  height: 36em; }
  .row-24 h3.center {
    line-height: 36em;
    margin: 0; }

.desktop-row-24 {
  height: 36em; }
  .desktop-row-24 h3.center {
    line-height: 36em;
    margin: 0; }

.row-25 {
  height: 37.5em; }
  .row-25 h3.center {
    line-height: 37.5em;
    margin: 0; }

.desktop-row-25 {
  height: 37.5em; }
  .desktop-row-25 h3.center {
    line-height: 37.5em;
    margin: 0; }

.row-26 {
  height: 39em; }
  .row-26 h3.center {
    line-height: 39em;
    margin: 0; }

.desktop-row-26 {
  height: 39em; }
  .desktop-row-26 h3.center {
    line-height: 39em;
    margin: 0; }

.row-27 {
  height: 40.5em; }
  .row-27 h3.center {
    line-height: 40.5em;
    margin: 0; }

.desktop-row-27 {
  height: 40.5em; }
  .desktop-row-27 h3.center {
    line-height: 40.5em;
    margin: 0; }

.row-28 {
  height: 42em; }
  .row-28 h3.center {
    line-height: 42em;
    margin: 0; }

.desktop-row-28 {
  height: 42em; }
  .desktop-row-28 h3.center {
    line-height: 42em;
    margin: 0; }

.row-29 {
  height: 43.5em; }
  .row-29 h3.center {
    line-height: 43.5em;
    margin: 0; }

.desktop-row-29 {
  height: 43.5em; }
  .desktop-row-29 h3.center {
    line-height: 43.5em;
    margin: 0; }

.row-30 {
  height: 45em; }
  .row-30 h3.center {
    line-height: 45em;
    margin: 0; }

.desktop-row-30 {
  height: 45em; }
  .desktop-row-30 h3.center {
    line-height: 45em;
    margin: 0; }

.row-31 {
  height: 46.5em; }
  .row-31 h3.center {
    line-height: 46.5em;
    margin: 0; }

.desktop-row-31 {
  height: 46.5em; }
  .desktop-row-31 h3.center {
    line-height: 46.5em;
    margin: 0; }

.row-32 {
  height: 48em; }
  .row-32 h3.center {
    line-height: 48em;
    margin: 0; }

.desktop-row-32 {
  height: 48em; }
  .desktop-row-32 h3.center {
    line-height: 48em;
    margin: 0; }

.row-33 {
  height: 49.5em; }
  .row-33 h3.center {
    line-height: 49.5em;
    margin: 0; }

.desktop-row-33 {
  height: 49.5em; }
  .desktop-row-33 h3.center {
    line-height: 49.5em;
    margin: 0; }

.row-34 {
  height: 51em; }
  .row-34 h3.center {
    line-height: 51em;
    margin: 0; }

.desktop-row-34 {
  height: 51em; }
  .desktop-row-34 h3.center {
    line-height: 51em;
    margin: 0; }

.row-35 {
  height: 52.5em; }
  .row-35 h3.center {
    line-height: 52.5em;
    margin: 0; }

.desktop-row-35 {
  height: 52.5em; }
  .desktop-row-35 h3.center {
    line-height: 52.5em;
    margin: 0; }

.row-36 {
  height: 54em; }
  .row-36 h3.center {
    line-height: 54em;
    margin: 0; }

.desktop-row-36 {
  height: 54em; }
  .desktop-row-36 h3.center {
    line-height: 54em;
    margin: 0; }

.row-37 {
  height: 55.5em; }
  .row-37 h3.center {
    line-height: 55.5em;
    margin: 0; }

.desktop-row-37 {
  height: 55.5em; }
  .desktop-row-37 h3.center {
    line-height: 55.5em;
    margin: 0; }

.row-38 {
  height: 57em; }
  .row-38 h3.center {
    line-height: 57em;
    margin: 0; }

.desktop-row-38 {
  height: 57em; }
  .desktop-row-38 h3.center {
    line-height: 57em;
    margin: 0; }

.row-39 {
  height: 58.5em; }
  .row-39 h3.center {
    line-height: 58.5em;
    margin: 0; }

.desktop-row-39 {
  height: 58.5em; }
  .desktop-row-39 h3.center {
    line-height: 58.5em;
    margin: 0; }

.row-40 {
  height: 60em; }
  .row-40 h3.center {
    line-height: 60em;
    margin: 0; }

.desktop-row-40 {
  height: 60em; }
  .desktop-row-40 h3.center {
    line-height: 60em;
    margin: 0; }

.row-41 {
  height: 61.5em; }
  .row-41 h3.center {
    line-height: 61.5em;
    margin: 0; }

.desktop-row-41 {
  height: 61.5em; }
  .desktop-row-41 h3.center {
    line-height: 61.5em;
    margin: 0; }

.row-42 {
  height: 63em; }
  .row-42 h3.center {
    line-height: 63em;
    margin: 0; }

.desktop-row-42 {
  height: 63em; }
  .desktop-row-42 h3.center {
    line-height: 63em;
    margin: 0; }

.row-43 {
  height: 64.5em; }
  .row-43 h3.center {
    line-height: 64.5em;
    margin: 0; }

.desktop-row-43 {
  height: 64.5em; }
  .desktop-row-43 h3.center {
    line-height: 64.5em;
    margin: 0; }

.row-44 {
  height: 66em; }
  .row-44 h3.center {
    line-height: 66em;
    margin: 0; }

.desktop-row-44 {
  height: 66em; }
  .desktop-row-44 h3.center {
    line-height: 66em;
    margin: 0; }

.row-45 {
  height: 67.5em; }
  .row-45 h3.center {
    line-height: 67.5em;
    margin: 0; }

.desktop-row-45 {
  height: 67.5em; }
  .desktop-row-45 h3.center {
    line-height: 67.5em;
    margin: 0; }

.row-46 {
  height: 69em; }
  .row-46 h3.center {
    line-height: 69em;
    margin: 0; }

.desktop-row-46 {
  height: 69em; }
  .desktop-row-46 h3.center {
    line-height: 69em;
    margin: 0; }

.row-47 {
  height: 70.5em; }
  .row-47 h3.center {
    line-height: 70.5em;
    margin: 0; }

.desktop-row-47 {
  height: 70.5em; }
  .desktop-row-47 h3.center {
    line-height: 70.5em;
    margin: 0; }

.row-48 {
  height: 72em; }
  .row-48 h3.center {
    line-height: 72em;
    margin: 0; }

.desktop-row-48 {
  height: 72em; }
  .desktop-row-48 h3.center {
    line-height: 72em;
    margin: 0; }

.row-49 {
  height: 73.5em; }
  .row-49 h3.center {
    line-height: 73.5em;
    margin: 0; }

.desktop-row-49 {
  height: 73.5em; }
  .desktop-row-49 h3.center {
    line-height: 73.5em;
    margin: 0; }

.row-50 {
  height: 75em; }
  .row-50 h3.center {
    line-height: 75em;
    margin: 0; }

.desktop-row-50 {
  height: 75em; }
  .desktop-row-50 h3.center {
    line-height: 75em;
    margin: 0; }

h3.center {
  text-align: center; }

.vertical *[class*="row-"] + *[class*="row-"] {
  margin-top: 1.5em; }

.row {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-right: 24px; }
  .row .row {
    margin-left: -24px; }
  .row .row + .row {
    margin-top: 0;
    padding-top: 0; }

.row + .row {
  margin-top: 1.5em; }

.row:before,
.row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.row:after {
  clear: both; }

.row {
  *zoom: 1; }

.row.columns {
  padding-right: 0; }

.column {
	padding-left: 0; 
	margin-left: 0; }
	.column > h3,
	.column > p {
		margin-left: 1em;
		margin-bottom: 1em;
		color: black;
	}

.row.full-row {
  margin-left: 0;
  padding-right: 0; }

.row > .row:first-child {
  padding-top: 0; }

.row > .row:last-child {
  padding-bottom: 0; }

*[class*="-single"] {
  background-clip: content-box; }
  *[class*="-single"] h3 {
    margin-top: 0.75em;
    margin-left: 12px; }

.nav a {
  display: block;
  padding: 0.85714em 12px;
  font-size: 0.875em;
  line-height: 1.5em; }

.more {
  position: absolute;
  bottom: 0.75em;
  right: 12px;
  font-size: 0.75em;
  line-height: 1.5em;
  text-decoration: none; }

@media (min-width: 948px) and (max-width: 1248px) {
  body {
    width: 942px; }

  .tableth-1 {
    position: relative;
    width: 102px;
    float: left; }

  .tableth-2 {
    position: relative;
    width: 204px;
    float: left; }

  .tableth-3 {
    position: relative;
    width: 306px;
    float: left; }

  .tableth-4 {
    position: relative;
    width: 408px;
    float: left; }

  .tableth-5 {
    position: relative;
    width: 510px;
    float: left; }

  .tableth-6 {
    position: relative;
    width: 612px;
    float: left; }

  .tableth-7 {
    position: relative;
    width: 714px;
    float: left; }

  .tableth-8 {
    position: relative;
    width: 816px;
    float: left; }

  .tableth-9 {
    position: relative;
    width: 918px;
    float: left; }

  .tableth-full {
    width: 100%; }

  .tableth-three-quarters {
    width: 75%; }

  .tableth-two-thirds {
    width: 66.66667%; }

  .tableth-half {
    width: 50%; }

  .tableth-third {
    width: 33.33333%; }

  .tableth-quarter {
    width: 25%; }

  .tableth-sixth {
    width: 16.66667%; }

  *[class*="tableth-"] {
    position: relative;
    float: left;
    padding-left: 24px; }

  .tableth-row-1 {
    height: 1.5em; }
    .tableth-row-1 h3.center {
      line-height: 1.5em;
      margin: 0; }

  .tableth-row-2 {
    height: 3em; }
    .tableth-row-2 h3.center {
      line-height: 3em;
      margin: 0; }

  .tableth-row-3 {
    height: 4.5em; }
    .tableth-row-3 h3.center {
      line-height: 4.5em;
      margin: 0; }

  .tableth-row-4 {
    height: 6em; }
    .tableth-row-4 h3.center {
      line-height: 6em;
      margin: 0; }

  .tableth-row-5 {
    height: 7.5em; }
    .tableth-row-5 h3.center {
      line-height: 7.5em;
      margin: 0; }

  .tableth-row-6 {
    height: 9em; }
    .tableth-row-6 h3.center {
      line-height: 9em;
      margin: 0; }

  .tableth-row-7 {
    height: 10.5em; }
    .tableth-row-7 h3.center {
      line-height: 10.5em;
      margin: 0; }

  .tableth-row-8 {
    height: 12em; }
    .tableth-row-8 h3.center {
      line-height: 12em;
      margin: 0; }

  .tableth-row-9 {
    height: 13.5em; }
    .tableth-row-9 h3.center {
      line-height: 13.5em;
      margin: 0; }

  .tableth-row-10 {
    height: 15em; }
    .tableth-row-10 h3.center {
      line-height: 15em;
      margin: 0; }

  .tableth-row-11 {
    height: 16.5em; }
    .tableth-row-11 h3.center {
      line-height: 16.5em;
      margin: 0; }

  .tableth-row-12 {
    height: 18em; }
    .tableth-row-12 h3.center {
      line-height: 18em;
      margin: 0; }

  .tableth-row-13 {
    height: 19.5em; }
    .tableth-row-13 h3.center {
      line-height: 19.5em;
      margin: 0; }

  .tableth-row-14 {
    height: 21em; }
    .tableth-row-14 h3.center {
      line-height: 21em;
      margin: 0; }

  .tableth-row-15 {
    height: 22.5em; }
    .tableth-row-15 h3.center {
      line-height: 22.5em;
      margin: 0; }

  .tableth-row-16 {
    height: 24em; }
    .tableth-row-16 h3.center {
      line-height: 24em;
      margin: 0; }

  .tableth-row-17 {
    height: 25.5em; }
    .tableth-row-17 h3.center {
      line-height: 25.5em;
      margin: 0; }

  .tableth-row-18 {
    height: 27em; }
    .tableth-row-18 h3.center {
      line-height: 27em;
      margin: 0; }

  .tableth-row-19 {
    height: 28.5em; }
    .tableth-row-19 h3.center {
      line-height: 28.5em;
      margin: 0; }

  .tableth-row-20 {
    height: 30em; }
    .tableth-row-20 h3.center {
      line-height: 30em;
      margin: 0; }

  .tableth-row-21 {
    height: 31.5em; }
    .tableth-row-21 h3.center {
      line-height: 31.5em;
      margin: 0; }

  .tableth-row-22 {
    height: 33em; }
    .tableth-row-22 h3.center {
      line-height: 33em;
      margin: 0; }

  .tableth-row-23 {
    height: 34.5em; }
    .tableth-row-23 h3.center {
      line-height: 34.5em;
      margin: 0; }

  .tableth-row-24 {
    height: 36em; }
    .tableth-row-24 h3.center {
      line-height: 36em;
      margin: 0; }

  .tableth-row-25 {
    height: 37.5em; }
    .tableth-row-25 h3.center {
      line-height: 37.5em;
      margin: 0; }

  .tableth-row-26 {
    height: 39em; }
    .tableth-row-26 h3.center {
      line-height: 39em;
      margin: 0; }

  .tableth-row-27 {
    height: 40.5em; }
    .tableth-row-27 h3.center {
      line-height: 40.5em;
      margin: 0; }

  .tableth-row-28 {
    height: 42em; }
    .tableth-row-28 h3.center {
      line-height: 42em;
      margin: 0; }

  .tableth-row-29 {
    height: 43.5em; }
    .tableth-row-29 h3.center {
      line-height: 43.5em;
      margin: 0; }

  .tableth-row-30 {
    height: 45em; }
    .tableth-row-30 h3.center {
      line-height: 45em;
      margin: 0; }

  .tableth-row-31 {
    height: 46.5em; }
    .tableth-row-31 h3.center {
      line-height: 46.5em;
      margin: 0; }

  .tableth-row-32 {
    height: 48em; }
    .tableth-row-32 h3.center {
      line-height: 48em;
      margin: 0; }

  .tableth-row-33 {
    height: 49.5em; }
    .tableth-row-33 h3.center {
      line-height: 49.5em;
      margin: 0; }

  .tableth-row-34 {
    height: 51em; }
    .tableth-row-34 h3.center {
      line-height: 51em;
      margin: 0; }

  .tableth-row-35 {
    height: 52.5em; }
    .tableth-row-35 h3.center {
      line-height: 52.5em;
      margin: 0; }

  .tableth-row-36 {
    height: 54em; }
    .tableth-row-36 h3.center {
      line-height: 54em;
      margin: 0; }

  .tableth-row-37 {
    height: 55.5em; }
    .tableth-row-37 h3.center {
      line-height: 55.5em;
      margin: 0; }

  .tableth-row-38 {
    height: 57em; }
    .tableth-row-38 h3.center {
      line-height: 57em;
      margin: 0; }

  .tableth-row-39 {
    height: 58.5em; }
    .tableth-row-39 h3.center {
      line-height: 58.5em;
      margin: 0; }

  .tableth-row-40 {
    height: 60em; }
    .tableth-row-40 h3.center {
      line-height: 60em;
      margin: 0; }

  .tableth-row-41 {
    height: 61.5em; }
    .tableth-row-41 h3.center {
      line-height: 61.5em;
      margin: 0; }

  .tableth-row-42 {
    height: 63em; }
    .tableth-row-42 h3.center {
      line-height: 63em;
      margin: 0; }

  .tableth-row-43 {
    height: 64.5em; }
    .tableth-row-43 h3.center {
      line-height: 64.5em;
      margin: 0; }

  .tableth-row-44 {
    height: 66em; }
    .tableth-row-44 h3.center {
      line-height: 66em;
      margin: 0; }

  .tableth-row-45 {
    height: 67.5em; }
    .tableth-row-45 h3.center {
      line-height: 67.5em;
      margin: 0; }

  .tableth-row-46 {
    height: 69em; }
    .tableth-row-46 h3.center {
      line-height: 69em;
      margin: 0; }

  .tableth-row-47 {
    height: 70.5em; }
    .tableth-row-47 h3.center {
      line-height: 70.5em;
      margin: 0; }

  .tableth-row-48 {
    height: 72em; }
    .tableth-row-48 h3.center {
      line-height: 72em;
      margin: 0; }

  .tableth-row-49 {
    height: 73.5em; }
    .tableth-row-49 h3.center {
      line-height: 73.5em;
      margin: 0; }

  .tableth-row-50 {
    height: 75em; }
    .tableth-row-50 h3.center {
      line-height: 75em;
      margin: 0; }

  .desktop-hide {
    display: inherit; }

  .tableth-hide {
    display: none; }

  .tableth-two-thirds + .tableth-third ~ *,
  .tableth-half + .tableth-half ~ *,
  .tableth-full ~ * {
    margin-top: 1.5em; } }

@media (min-width: 648px) and (max-width: 948px) {
  body {
    width: 636px; }

  .tabletv-1 {
    position: relative;
    width: 78px;
    float: left; }

  .tabletv-2 {
    position: relative;
    width: 180px;
    float: left; }

  .tabletv-3 {
    position: relative;
    width: 282px;
    float: left; }

  .tabletv-4 {
    position: relative;
    width: 384px;
    float: left; }

  .tabletv-5 {
    position: relative;
    width: 486px;
    float: left; }

  .tabletv-6 {
    position: relative;
    width: 588px;
    float: left; }

  .tabletv-full {
    width: 100%; }

  .tabletv-three-quarters {
    width: 75%; }

  .tabletv-two-thirds {
    width: 66.66667%; }

  .tabletv-half {
    width: 50%; }

  .tabletv-third {
    width: 33.33333%; }

  .tabletv-quarter {
    width: 25%; }

  .tabletv-sixth {
    width: 16.66667%; }

  *[class*="tabletv-"] {
    position: relative;
    float: left;
    padding-left: 24px; }

  .tabletv-row-1 {
    height: 1.5em; }
    .tabletv-row-1 h3.center {
      line-height: 1.5em;
      margin: 0; }

  .tabletv-row-2 {
    height: 3em; }
    .tabletv-row-2 h3.center {
      line-height: 3em;
      margin: 0; }

  .tabletv-row-3 {
    height: 4.5em; }
    .tabletv-row-3 h3.center {
      line-height: 4.5em;
      margin: 0; }

  .tabletv-row-4 {
    height: 6em; }
    .tabletv-row-4 h3.center {
      line-height: 6em;
      margin: 0; }

  .tabletv-row-5 {
    height: 7.5em; }
    .tabletv-row-5 h3.center {
      line-height: 7.5em;
      margin: 0; }

  .tabletv-row-6 {
    height: 9em; }
    .tabletv-row-6 h3.center {
      line-height: 9em;
      margin: 0; }

  .tabletv-row-7 {
    height: 10.5em; }
    .tabletv-row-7 h3.center {
      line-height: 10.5em;
      margin: 0; }

  .tabletv-row-8 {
    height: 12em; }
    .tabletv-row-8 h3.center {
      line-height: 12em;
      margin: 0; }

  .tabletv-row-9 {
    height: 13.5em; }
    .tabletv-row-9 h3.center {
      line-height: 13.5em;
      margin: 0; }

  .tabletv-row-10 {
    height: 15em; }
    .tabletv-row-10 h3.center {
      line-height: 15em;
      margin: 0; }

  .tabletv-row-11 {
    height: 16.5em; }
    .tabletv-row-11 h3.center {
      line-height: 16.5em;
      margin: 0; }

  .tabletv-row-12 {
    height: 18em; }
    .tabletv-row-12 h3.center {
      line-height: 18em;
      margin: 0; }

  .tabletv-row-13 {
    height: 19.5em; }
    .tabletv-row-13 h3.center {
      line-height: 19.5em;
      margin: 0; }

  .tabletv-row-14 {
    height: 21em; }
    .tabletv-row-14 h3.center {
      line-height: 21em;
      margin: 0; }

  .tabletv-row-15 {
    height: 22.5em; }
    .tabletv-row-15 h3.center {
      line-height: 22.5em;
      margin: 0; }

  .tabletv-row-16 {
    height: 24em; }
    .tabletv-row-16 h3.center {
      line-height: 24em;
      margin: 0; }

  .tabletv-row-17 {
    height: 25.5em; }
    .tabletv-row-17 h3.center {
      line-height: 25.5em;
      margin: 0; }

  .tabletv-row-18 {
    height: 27em; }
    .tabletv-row-18 h3.center {
      line-height: 27em;
      margin: 0; }

  .tabletv-row-19 {
    height: 28.5em; }
    .tabletv-row-19 h3.center {
      line-height: 28.5em;
      margin: 0; }

  .tabletv-row-20 {
    height: 30em; }
    .tabletv-row-20 h3.center {
      line-height: 30em;
      margin: 0; }

  .tabletv-row-21 {
    height: 31.5em; }
    .tabletv-row-21 h3.center {
      line-height: 31.5em;
      margin: 0; }

  .tabletv-row-22 {
    height: 33em; }
    .tabletv-row-22 h3.center {
      line-height: 33em;
      margin: 0; }

  .tabletv-row-23 {
    height: 34.5em; }
    .tabletv-row-23 h3.center {
      line-height: 34.5em;
      margin: 0; }

  .tabletv-row-24 {
    height: 36em; }
    .tabletv-row-24 h3.center {
      line-height: 36em;
      margin: 0; }

  .tabletv-row-25 {
    height: 37.5em; }
    .tabletv-row-25 h3.center {
      line-height: 37.5em;
      margin: 0; }

  .tabletv-row-26 {
    height: 39em; }
    .tabletv-row-26 h3.center {
      line-height: 39em;
      margin: 0; }

  .tabletv-row-27 {
    height: 40.5em; }
    .tabletv-row-27 h3.center {
      line-height: 40.5em;
      margin: 0; }

  .tabletv-row-28 {
    height: 42em; }
    .tabletv-row-28 h3.center {
      line-height: 42em;
      margin: 0; }

  .tabletv-row-29 {
    height: 43.5em; }
    .tabletv-row-29 h3.center {
      line-height: 43.5em;
      margin: 0; }

  .tabletv-row-30 {
    height: 45em; }
    .tabletv-row-30 h3.center {
      line-height: 45em;
      margin: 0; }

  .tabletv-row-31 {
    height: 46.5em; }
    .tabletv-row-31 h3.center {
      line-height: 46.5em;
      margin: 0; }

  .tabletv-row-32 {
    height: 48em; }
    .tabletv-row-32 h3.center {
      line-height: 48em;
      margin: 0; }

  .tabletv-row-33 {
    height: 49.5em; }
    .tabletv-row-33 h3.center {
      line-height: 49.5em;
      margin: 0; }

  .tabletv-row-34 {
    height: 51em; }
    .tabletv-row-34 h3.center {
      line-height: 51em;
      margin: 0; }

  .tabletv-row-35 {
    height: 52.5em; }
    .tabletv-row-35 h3.center {
      line-height: 52.5em;
      margin: 0; }

  .tabletv-row-36 {
    height: 54em; }
    .tabletv-row-36 h3.center {
      line-height: 54em;
      margin: 0; }

  .tabletv-row-37 {
    height: 55.5em; }
    .tabletv-row-37 h3.center {
      line-height: 55.5em;
      margin: 0; }

  .tabletv-row-38 {
    height: 57em; }
    .tabletv-row-38 h3.center {
      line-height: 57em;
      margin: 0; }

  .tabletv-row-39 {
    height: 58.5em; }
    .tabletv-row-39 h3.center {
      line-height: 58.5em;
      margin: 0; }

  .tabletv-row-40 {
    height: 60em; }
    .tabletv-row-40 h3.center {
      line-height: 60em;
      margin: 0; }

  .tabletv-row-41 {
    height: 61.5em; }
    .tabletv-row-41 h3.center {
      line-height: 61.5em;
      margin: 0; }

  .tabletv-row-42 {
    height: 63em; }
    .tabletv-row-42 h3.center {
      line-height: 63em;
      margin: 0; }

  .tabletv-row-43 {
    height: 64.5em; }
    .tabletv-row-43 h3.center {
      line-height: 64.5em;
      margin: 0; }

  .tabletv-row-44 {
    height: 66em; }
    .tabletv-row-44 h3.center {
      line-height: 66em;
      margin: 0; }

  .tabletv-row-45 {
    height: 67.5em; }
    .tabletv-row-45 h3.center {
      line-height: 67.5em;
      margin: 0; }

  .tabletv-row-46 {
    height: 69em; }
    .tabletv-row-46 h3.center {
      line-height: 69em;
      margin: 0; }

  .tabletv-row-47 {
    height: 70.5em; }
    .tabletv-row-47 h3.center {
      line-height: 70.5em;
      margin: 0; }

  .tabletv-row-48 {
    height: 72em; }
    .tabletv-row-48 h3.center {
      line-height: 72em;
      margin: 0; }

  .tabletv-row-49 {
    height: 73.5em; }
    .tabletv-row-49 h3.center {
      line-height: 73.5em;
      margin: 0; }

  .tabletv-row-50 {
    height: 75em; }
    .tabletv-row-50 h3.center {
      line-height: 75em;
      margin: 0; }

  .desktop-hide,
  .tableth-hide {
    display: inherit; }

  .tabletv-hide {
    display: none; }

  .tabletv-full ~ *,
  .tabletv-two-thirds + .tabletv-third ~ *,
	.tabletv-half + .tabletv-half ~ * {
    margin-top: 1.5em; } }
@media (max-width: 648px) {
  body {
    width: 330px; }

  .phone-1 {
    position: relative;
    width: 78px;
    float: left; }

  .phone-2 {
    position: relative;
    width: 180px;
    float: left; }

  .phone-3 {
    position: relative;
    width: 282px;
    float: left; }

  .phone-full {
    width: 100%;
    float: none; }

  .phone-full + .phone-full {
    margin-top: 1.5em; }

  .phone-three-quarters {
    width: 75%; }

  .phone-half {
    width: 50%; }

  .phone-third {
    width: 33.33333%; }

  .phone-quarter {
    width: 25%; }

  .phone-sixth {
    width: 16.66667%; }

  *[class*="phone-"] + .phone-full {
    margin-top: 1.5em; }

  *[class*="phone-"] {
    position: relative;
    float: left;
    padding-left: 24px; }

  .phone-row-1 {
    height: 1.5em; }
    .phone-row-1 h3.center {
      line-height: 1.5em;
      margin: 0; }

  .phone-row-2 {
    height: 3em; }
    .phone-row-2 h3.center {
      line-height: 3em;
      margin: 0; }

  .phone-row-3 {
    height: 4.5em; }
    .phone-row-3 h3.center {
      line-height: 4.5em;
      margin: 0; }

  .phone-row-4 {
    height: 6em; }
    .phone-row-4 h3.center {
      line-height: 6em;
      margin: 0; }

  .phone-row-5 {
    height: 7.5em; }
    .phone-row-5 h3.center {
      line-height: 7.5em;
      margin: 0; }

  .phone-row-6 {
    height: 9em; }
    .phone-row-6 h3.center {
      line-height: 9em;
      margin: 0; }

  .phone-row-7 {
    height: 10.5em; }
    .phone-row-7 h3.center {
      line-height: 10.5em;
      margin: 0; }

  .phone-row-8 {
    height: 12em; }
    .phone-row-8 h3.center {
      line-height: 12em;
      margin: 0; }

  .phone-row-9 {
    height: 13.5em; }
    .phone-row-9 h3.center {
      line-height: 13.5em;
      margin: 0; }

  .phone-row-10 {
    height: 15em; }
    .phone-row-10 h3.center {
      line-height: 15em;
      margin: 0; }

  .phone-row-11 {
    height: 16.5em; }
    .phone-row-11 h3.center {
      line-height: 16.5em;
      margin: 0; }

  .phone-row-12 {
    height: 18em; }
    .phone-row-12 h3.center {
      line-height: 18em;
      margin: 0; }

  .phone-row-13 {
    height: 19.5em; }
    .phone-row-13 h3.center {
      line-height: 19.5em;
      margin: 0; }

  .phone-row-14 {
    height: 21em; }
    .phone-row-14 h3.center {
      line-height: 21em;
      margin: 0; }

  .phone-row-15 {
    height: 22.5em; }
    .phone-row-15 h3.center {
      line-height: 22.5em;
      margin: 0; }

  .phone-row-16 {
    height: 24em; }
    .phone-row-16 h3.center {
      line-height: 24em;
      margin: 0; }

  .phone-row-17 {
    height: 25.5em; }
    .phone-row-17 h3.center {
      line-height: 25.5em;
      margin: 0; }

  .phone-row-18 {
    height: 27em; }
    .phone-row-18 h3.center {
      line-height: 27em;
      margin: 0; }

  .phone-row-19 {
    height: 28.5em; }
    .phone-row-19 h3.center {
      line-height: 28.5em;
      margin: 0; }

  .phone-row-20 {
    height: 30em; }
    .phone-row-20 h3.center {
      line-height: 30em;
      margin: 0; }

  .phone-row-21 {
    height: 31.5em; }
    .phone-row-21 h3.center {
      line-height: 31.5em;
      margin: 0; }

  .phone-row-22 {
    height: 33em; }
    .phone-row-22 h3.center {
      line-height: 33em;
      margin: 0; }

  .phone-row-23 {
    height: 34.5em; }
    .phone-row-23 h3.center {
      line-height: 34.5em;
      margin: 0; }

  .phone-row-24 {
    height: 36em; }
    .phone-row-24 h3.center {
      line-height: 36em;
      margin: 0; }

  .phone-row-25 {
    height: 37.5em; }
    .phone-row-25 h3.center {
      line-height: 37.5em;
      margin: 0; }

  .phone-row-26 {
    height: 39em; }
    .phone-row-26 h3.center {
      line-height: 39em;
      margin: 0; }

  .phone-row-27 {
    height: 40.5em; }
    .phone-row-27 h3.center {
      line-height: 40.5em;
      margin: 0; }

  .phone-row-28 {
    height: 42em; }
    .phone-row-28 h3.center {
      line-height: 42em;
      margin: 0; }

  .phone-row-29 {
    height: 43.5em; }
    .phone-row-29 h3.center {
      line-height: 43.5em;
      margin: 0; }

  .phone-row-30 {
    height: 45em; }
    .phone-row-30 h3.center {
      line-height: 45em;
      margin: 0; }

  .phone-row-31 {
    height: 46.5em; }
    .phone-row-31 h3.center {
      line-height: 46.5em;
      margin: 0; }

  .phone-row-32 {
    height: 48em; }
    .phone-row-32 h3.center {
      line-height: 48em;
      margin: 0; }

  .phone-row-33 {
    height: 49.5em; }
    .phone-row-33 h3.center {
      line-height: 49.5em;
      margin: 0; }

  .phone-row-34 {
    height: 51em; }
    .phone-row-34 h3.center {
      line-height: 51em;
      margin: 0; }

  .phone-row-35 {
    height: 52.5em; }
    .phone-row-35 h3.center {
      line-height: 52.5em;
      margin: 0; }

  .phone-row-36 {
    height: 54em; }
    .phone-row-36 h3.center {
      line-height: 54em;
      margin: 0; }

  .phone-row-37 {
    height: 55.5em; }
    .phone-row-37 h3.center {
      line-height: 55.5em;
      margin: 0; }

  .phone-row-38 {
    height: 57em; }
    .phone-row-38 h3.center {
      line-height: 57em;
      margin: 0; }

  .phone-row-39 {
    height: 58.5em; }
    .phone-row-39 h3.center {
      line-height: 58.5em;
      margin: 0; }

  .phone-row-40 {
    height: 60em; }
    .phone-row-40 h3.center {
      line-height: 60em;
      margin: 0; }

  .phone-row-41 {
    height: 61.5em; }
    .phone-row-41 h3.center {
      line-height: 61.5em;
      margin: 0; }

  .phone-row-42 {
    height: 63em; }
    .phone-row-42 h3.center {
      line-height: 63em;
      margin: 0; }

  .phone-row-43 {
    height: 64.5em; }
    .phone-row-43 h3.center {
      line-height: 64.5em;
      margin: 0; }

  .phone-row-44 {
    height: 66em; }
    .phone-row-44 h3.center {
      line-height: 66em;
      margin: 0; }

  .phone-row-45 {
    height: 67.5em; }
    .phone-row-45 h3.center {
      line-height: 67.5em;
      margin: 0; }

  .phone-row-46 {
    height: 69em; }
    .phone-row-46 h3.center {
      line-height: 69em;
      margin: 0; }

  .phone-row-47 {
    height: 70.5em; }
    .phone-row-47 h3.center {
      line-height: 70.5em;
      margin: 0; }

  .phone-row-48 {
    height: 72em; }
    .phone-row-48 h3.center {
      line-height: 72em;
      margin: 0; }

  .phone-row-49 {
    height: 73.5em; }
    .phone-row-49 h3.center {
      line-height: 73.5em;
      margin: 0; }

  .phone-row-50 {
    height: 75em; }
    .phone-row-50 h3.center {
      line-height: 75em;
      margin: 0; }

  .desktop-hide,
  .tableth-hide,
  .tabletv-hide {
    display: inherit; }

  .phone-hide {
    display: none; } }
