@import "grid-system";

// ------------------------------------------------------------------------------------------------------------------------------------------------- 
// Table of contents
// --------------------------------------------------
// 1.0 breakpoints
// ------------------------------------------------------------------------------------------------------------------------------------------------- 


// 1.0 breakpoints
// --------------------------------------------------
$small:320px;
$small-medium:506px;
$medium:640px;
$medium-large:960px;
$large:1200px;
$constraint:1280px;

$medium-1:750px;
$medium-large-1:1000px;

// Article breakpoints
$a-rightCol-width:    gs-span(4);
$a-rightCol-trigger:  gs-span(11) + $gs-gutter*2; // 900px
$a-leftCol-width:     gs-span(2); // Grows to 3 columns on wide viewports
$a-leftCol-trigger:   gs-span(13) + $gs-gutter*2; // 1060px
$a-leftColWide-width: gs-span(3); // Grows to 3 columns on wide viewports

$mq-breakpoints: (
    (mobile  gs-span(4)  + $gs-gutter)   // 320px
    (tablet  gs-span(9)  + $gs-gutter*2) // 740px
    (desktop gs-span(12) + $gs-gutter*2) // 980px
    (wide    gs-span(16) + $gs-gutter*2) // 1300px

    // Tweakpoints
    (mobileLandscape gs-span(6) + $gs-gutter) // 480px
    (desktopAd 810px)

    // Article layout
    (rightCol $a-rightCol-trigger)
    (leftCol $a-leftCol-trigger)
);