.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.clear-clear-fix:before,
.clear-clear-fix:after {
  clear: none;
  content: none;
  display: none;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.reset {
  margin: 0;
  padding: 0;
  border: none;
}
/* general
--------------------------------------------------*/
article {
  clear: both;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding-bottom: 9px;
  padding-bottom: 0.9rem;
  border-bottom: 1px dotted #cccccc;
}
article:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
article[data-importance="small"][data-has-pictures="yes"] h3 img,
article[data-importance="small-medium"][data-has-pictures="yes"] h3 img,
article[data-importance="medium"][data-has-pictures="yes"] h3 img,
article[data-importance="medium-large"][data-has-pictures="yes"] h3 img,
article[data-importance="large"][data-has-pictures="yes"] h3 img,
article[data-importance="nuclear"][data-has-pictures="yes"] h3 img {
  display: block;
}
article[data-importance="small"] .ratings,
article[data-importance="small-medium"] .ratings,
article[data-importance="medium"] .ratings,
article[data-importance="medium-large"] .ratings,
article[data-importance="large"] .ratings,
article[data-importance="nuclear"] .ratings {
  float: left;
  width: 62px;
  height: 10px;
  text-indent: -9999em;
  /*margin:0 0 5px;*/

  background-position: 0 0, 13px 0, 26px 0, 39px 0, 52px 0;
  background-repeat: no-repeat;
}
article[data-importance="small"] .ratings:last-child,
article[data-importance="small-medium"] .ratings:last-child,
article[data-importance="medium"] .ratings:last-child,
article[data-importance="medium-large"] .ratings:last-child,
article[data-importance="large"] .ratings:last-child,
article[data-importance="nuclear"] .ratings:last-child {
  margin: 0;
}
article[data-importance="small"] .rating-one,
article[data-importance="small-medium"] .rating-one,
article[data-importance="medium"] .rating-one,
article[data-importance="medium-large"] .rating-one,
article[data-importance="large"] .rating-one,
article[data-importance="nuclear"] .rating-one {
  background-image: url("/img/star-lit.svg"), url("/img/star.svg"), url("/img/star.svg"), url("/img/star.svg"), url("/img/star.svg");
}
article[data-importance="small"] .rating-two,
article[data-importance="small-medium"] .rating-two,
article[data-importance="medium"] .rating-two,
article[data-importance="medium-large"] .rating-two,
article[data-importance="large"] .rating-two,
article[data-importance="nuclear"] .rating-two {
  background-image: url("/img/star-lit.svg"), url("/img/star-lit.svg"), url("/img/star.svg"), url("/img/star.svg"), url("/img/star.svg");
}
article[data-importance="small"] .rating-three,
article[data-importance="small-medium"] .rating-three,
article[data-importance="medium"] .rating-three,
article[data-importance="medium-large"] .rating-three,
article[data-importance="large"] .rating-three,
article[data-importance="nuclear"] .rating-three {
  background-image: url("/img/star-lit.svg"), url("/img/star-lit.svg"), url("/img/star-lit.svg"), url("/img/star.svg"), url("/img/star.svg");
}
article[data-importance="small"] .rating-four,
article[data-importance="small-medium"] .rating-four,
article[data-importance="medium"] .rating-four,
article[data-importance="medium-large"] .rating-four,
article[data-importance="large"] .rating-four,
article[data-importance="nuclear"] .rating-four {
  background-image: url("/img/star-lit.svg"), url("/img/star-lit.svg"), url("/img/star-lit.svg"), url("/img/star-lit.svg"), url("/img/star.svg");
}
article[data-importance="small"] .rating-five,
article[data-importance="small-medium"] .rating-five,
article[data-importance="medium"] .rating-five,
article[data-importance="medium-large"] .rating-five,
article[data-importance="large"] .rating-five,
article[data-importance="nuclear"] .rating-five {
  background-image: url("/img/star-lit.svg"), url("/img/star-lit.svg"), url("/img/star-lit.svg"), url("/img/star-lit.svg"), url("/img/star-lit.svg");
}
article[data-importance="small"] ul,
article[data-importance="small-medium"] ul,
article[data-importance="medium"] ul,
article[data-importance="medium-large"] ul,
article[data-importance="large"] ul,
article[data-importance="nuclear"] ul {
  list-style: none;
  margin-bottom: 0;
  /*			li {
				display:inline-block;
				margin-right:2%;
				padding-right:1.5%;
				border-right:1px solid @light-grey;
				&:only-child {
					display:block;
				}
				&:last-child {
					.reset;
				}
			}*/

}
article[data-importance="small"] > ul:last-child,
article[data-importance="small-medium"] > ul:last-child,
article[data-importance="medium"] > ul:last-child,
article[data-importance="medium-large"] > ul:last-child,
article[data-importance="large"] > ul:last-child,
article[data-importance="nuclear"] > ul:last-child {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
}
article[data-importance="small"] blockquote,
article[data-importance="small-medium"] blockquote,
article[data-importance="medium"] blockquote,
article[data-importance="medium-large"] blockquote,
article[data-importance="large"] blockquote,
article[data-importance="nuclear"] blockquote {
  margin: 10px 0px 0px 0px;
  margin: 1rem 0px 0rem 0px;
  padding: 0;
  background: none;
}
article[data-importance="small"] blockquote p:last-of-type,
article[data-importance="small-medium"] blockquote p:last-of-type,
article[data-importance="medium"] blockquote p:last-of-type,
article[data-importance="medium-large"] blockquote p:last-of-type,
article[data-importance="large"] blockquote p:last-of-type,
article[data-importance="nuclear"] blockquote p:last-of-type {
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}
article[data-importance="small"].poll h3,
article[data-importance="small-medium"].poll h3,
article[data-importance="medium"].poll h3,
article[data-importance="medium-large"].poll h3,
article[data-importance="large"].poll h3,
article[data-importance="nuclear"].poll h3 {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
article[data-importance="small"].poll ul.result,
article[data-importance="small-medium"].poll ul.result,
article[data-importance="medium"].poll ul.result,
article[data-importance="medium-large"].poll ul.result,
article[data-importance="large"].poll ul.result,
article[data-importance="nuclear"].poll ul.result {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
article[data-importance="small"].poll ul.result:before,
article[data-importance="small-medium"].poll ul.result:before,
article[data-importance="medium"].poll ul.result:before,
article[data-importance="medium-large"].poll ul.result:before,
article[data-importance="large"].poll ul.result:before,
article[data-importance="nuclear"].poll ul.result:before,
article[data-importance="small"].poll ul.result:after,
article[data-importance="small-medium"].poll ul.result:after,
article[data-importance="medium"].poll ul.result:after,
article[data-importance="medium-large"].poll ul.result:after,
article[data-importance="large"].poll ul.result:after,
article[data-importance="nuclear"].poll ul.result:after {
  content: "";
  display: table;
}
article[data-importance="small"].poll ul.result:after,
article[data-importance="small-medium"].poll ul.result:after,
article[data-importance="medium"].poll ul.result:after,
article[data-importance="medium-large"].poll ul.result:after,
article[data-importance="large"].poll ul.result:after,
article[data-importance="nuclear"].poll ul.result:after {
  clear: both;
}
article[data-importance="small"].poll ul.result li,
article[data-importance="small-medium"].poll ul.result li,
article[data-importance="medium"].poll ul.result li,
article[data-importance="medium-large"].poll ul.result li,
article[data-importance="large"].poll ul.result li,
article[data-importance="nuclear"].poll ul.result li {
  float: left;
  width: 50%;
  padding: 5px 3.333333333% 5px 3.333333333%;
  padding: 0.5rem 3.333333333% 0.5rem 3.333333333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
article[data-importance="small"].poll ul.result li:first-child,
article[data-importance="small-medium"].poll ul.result li:first-child,
article[data-importance="medium"].poll ul.result li:first-child,
article[data-importance="medium-large"].poll ul.result li:first-child,
article[data-importance="large"].poll ul.result li:first-child,
article[data-importance="nuclear"].poll ul.result li:first-child {
  text-align: right;
  background: #cccccc;
}
article[data-importance="small"].poll ul.result li:last-child,
article[data-importance="small-medium"].poll ul.result li:last-child,
article[data-importance="medium"].poll ul.result li:last-child,
article[data-importance="medium-large"].poll ul.result li:last-child,
article[data-importance="large"].poll ul.result li:last-child,
article[data-importance="nuclear"].poll ul.result li:last-child {
  text-align: left;
  background: #eeeeee;
}
article[data-importance="small"].poll p:only-of-type,
article[data-importance="small-medium"].poll p:only-of-type,
article[data-importance="medium"].poll p:only-of-type,
article[data-importance="medium-large"].poll p:only-of-type,
article[data-importance="large"].poll p:only-of-type,
article[data-importance="nuclear"].poll p:only-of-type {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
article[data-importance="small"].poll form ul:first-child,
article[data-importance="small-medium"].poll form ul:first-child,
article[data-importance="medium"].poll form ul:first-child,
article[data-importance="medium-large"].poll form ul:first-child,
article[data-importance="large"].poll form ul:first-child,
article[data-importance="nuclear"].poll form ul:first-child {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
article[data-importance="small"].poll form ul:first-child li,
article[data-importance="small-medium"].poll form ul:first-child li,
article[data-importance="medium"].poll form ul:first-child li,
article[data-importance="medium-large"].poll form ul:first-child li,
article[data-importance="large"].poll form ul:first-child li,
article[data-importance="nuclear"].poll form ul:first-child li {
  display: inline-block;
  width: 50%;
}
article[data-importance="small"].poll form ul:last-child input[type="submit"],
article[data-importance="small-medium"].poll form ul:last-child input[type="submit"],
article[data-importance="medium"].poll form ul:last-child input[type="submit"],
article[data-importance="medium-large"].poll form ul:last-child input[type="submit"],
article[data-importance="large"].poll form ul:last-child input[type="submit"],
article[data-importance="nuclear"].poll form ul:last-child input[type="submit"] {
  width: 100%;
}
article[data-importance="small"] h5 img,
article[data-importance="small-medium"] h5 img,
article[data-importance="medium"] h5 img {
  display: none;
}
article[data-importance="small"] h3 img,
article[data-importance="small-medium"] h3 img,
article[data-importance="medium"] h3 img,
article[data-importance="medium-large"] h3 img,
article[data-importance="large"] h3 img {
  float: left;
  margin-right: 2%;
}
article[data-importance="small"] p:last-of-type,
article[data-importance="small-medium"] p:last-of-type,
article[data-importance="medium"] p:last-of-type,
article[data-importance="medium-large"] p:last-of-type,
article[data-importance="large"] p:last-of-type {
  clear: both;
}
article[data-importance="medium"] h5,
article[data-importance="medium-large"] h5,
article[data-importance="medium"] .related-items li:nth-child(n+3),
article[data-importance="medium-large"] .related-items li:nth-child(n+3) {
  display: none;
}
article[data-importance="medium"] p,
article[data-importance="medium-large"] p,
article[data-importance="large"] p,
article[data-importance="nuclear"] p,
article[data-importance="medium"] h5,
article[data-importance="medium-large"] h5,
article[data-importance="large"] h5,
article[data-importance="nuclear"] h5,
article[data-importance="medium"] .related-items,
article[data-importance="medium-large"] .related-items,
article[data-importance="large"] .related-items,
article[data-importance="nuclear"] .related-items {
  display: block;
}
article[data-importance="medium"] h3 img,
article[data-importance="medium-large"] h3 img,
article[data-importance="large"] h3 img {
  width: 41.66666666666667%;
  margin: 0px 2% 10px 0px;
  margin: 0rem 2% 1rem 0px;
}
article[data-importance="large"] h4,
article[data-importance="nuclear"] h4 {
  margin: 10px 0px 5px 0px;
  margin: 1rem 0px 0.5rem 0px;
}
article[data-importance="large"] .related-items li,
article[data-importance="nuclear"] .related-items li {
  clear: both;
  margin-top: 5px;
  margin-top: 0.5rem;
  padding-top: 4px;
  padding-top: 0.4rem;
  border-top: 1px solid #eeeeee;
}
article[data-importance="large"] .related-items li:first-child,
article[data-importance="nuclear"] .related-items li:first-child {
  margin: 0;
  padding: 0;
  border: none;
}
article[data-importance="large"] .related-items li:nth-child(n),
article[data-importance="nuclear"] .related-items li:nth-child(n) {
  display: block;
}
article[data-importance="large"] .related-items li:nth-child(n+4),
article[data-importance="nuclear"] .related-items li:nth-child(n+4) {
  margin: 0;
  padding: 0;
  border: none;
}
article[data-importance="large"] .related-items li h5 img,
article[data-importance="nuclear"] .related-items li h5 img {
  float: left;
  display: block;
  width: 20%;
  margin: 0px 2% 10px 0px;
  margin: 0rem 2% 1rem 0px;
}
article[data-importance="small"] h3 {
  margin: 0;
}
article[data-importance="small"] h3:before,
article[data-importance="small"] h3:after {
  content: "";
  display: table;
}
article[data-importance="small"] h3:after {
  clear: both;
}
article[data-importance="small"] h3 img {
  width: 33.33333333333333%;
}
article[data-importance="small-medium"] h3 img {
  float: left;
  width: 33.33333333333333%;
  margin: 0px 2% 10px 0px;
  margin: 0rem 2% 1rem 0px;
}
article[data-importance="small-medium"] p:last-child {
  clear: both;
  display: block;
  margin: 0;
}
article[data-importance="nuclear"] h3 img {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
.comment #top-stories article[data-importance="small"] div[role="presentation"],
.comment #top-stories article[data-importance="small-medium"] div[role="presentation"],
.comment #top-stories article[data-importance="medium"] div[role="presentation"],
.comment #top-stories article[data-importance="medium-large"] div[role="presentation"],
.comment #top-stories article[data-importance="large"] div[role="presentation"],
.comment #top-stories article[data-importance="nuclear"] div[role="presentation"] {
  min-height: 70px;
  padding-right: 70px;
  background: url("/img/headshot.svg") right bottom no-repeat;
}
.comment #top-stories article[data-importance="small"] div[role="presentation"] h3,
.comment #top-stories article[data-importance="small-medium"] div[role="presentation"] h3,
.comment #top-stories article[data-importance="medium"] div[role="presentation"] h3,
.comment #top-stories article[data-importance="medium-large"] div[role="presentation"] h3,
.comment #top-stories article[data-importance="large"] div[role="presentation"] h3,
.comment #top-stories article[data-importance="nuclear"] div[role="presentation"] h3 {
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}
.culture .hot-topics article[data-importance="small"] div[role="presentation"],
.culture .hot-topics article[data-importance="small-medium"] div[role="presentation"],
.culture .hot-topics article[data-importance="medium"] div[role="presentation"],
.culture .hot-topics article[data-importance="medium-large"] div[role="presentation"],
.culture .hot-topics article[data-importance="large"] div[role="presentation"],
.culture .hot-topics article[data-importance="nuclear"] div[role="presentation"] {
  min-height: 70px;
  padding-right: 70px;
  background: url("/img/headshot.svg") right bottom no-repeat;
}
.culture .hot-topics article[data-importance="small"] div[role="presentation"] h3,
.culture .hot-topics article[data-importance="small-medium"] div[role="presentation"] h3,
.culture .hot-topics article[data-importance="medium"] div[role="presentation"] h3,
.culture .hot-topics article[data-importance="medium-large"] div[role="presentation"] h3,
.culture .hot-topics article[data-importance="large"] div[role="presentation"] h3,
.culture .hot-topics article[data-importance="nuclear"] div[role="presentation"] h3 {
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}
.cartoon article[data-importance="small-medium"] h3 img {
  float: none;
  width: 100%;
}
.regulars:before,
.regulars:after {
  content: "";
  display: table;
}
.regulars:after {
  clear: both;
}
.regulars article[data-importance="medium"] {
  clear: none;
  width: 48.333333333%;
  border: none;
}
.regulars article[data-importance="medium"]:nth-child(odd) {
  float: left;
}
.regulars article[data-importance="medium"]:nth-child(even) {
  float: right;
}
.regulars article[data-importance="medium"] img {
  float: none;
  width: 100%;
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}
/* typography
--------------------------------------------------*/
article[data-importance="small"] blockquote p,
article[data-importance="small-medium"] blockquote p,
article[data-importance="medium"] blockquote p,
article[data-importance="medium-large"] blockquote p,
article[data-importance="large"] blockquote p,
article[data-importance="nuclear"] blockquote p,
article[data-importance="small"] blockquote ul,
article[data-importance="small-medium"] blockquote ul,
article[data-importance="medium"] blockquote ul,
article[data-importance="medium-large"] blockquote ul,
article[data-importance="large"] blockquote ul,
article[data-importance="nuclear"] blockquote ul {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
}
article[data-importance="small"] h3,
article[data-importance="small-medium"] h3 {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
}
article[data-importance="medium"] h3,
article[data-importance="medium-large"] h3,
article[data-importance="large"] h3 {
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
}
article[data-importance="large"] h4,
article[data-importance="nuclear"] h4 {
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
}
article[data-importance="large"] .related-items h5,
article[data-importance="nuclear"] .related-items h5 {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
}
article[data-importance="large"] .related-items li:nth-child(-n+2) h5,
article[data-importance="nuclear"] .related-items li:nth-child(-n+2) h5 {
  font-family: "guardian-bold";
}
article[data-importance="small-medium"] h3 {
  font-family: "guardian-bold";
}
article[data-importance="medium-large"] .related-items li:nth-child(-n+2) h5 {
  font-family: "guardian-bold";
}
article[data-importance="large"] h3 {
  font-family: "guardian-bold";
}
article[data-importance="nuclear"] h3 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 30px;
  line-height: 3rem;
}
.comment article[data-importance="small"] blockquote ul:last-child li:last-child,
.comment article[data-importance="small-medium"] blockquote ul:last-child li:last-child,
.comment article[data-importance="medium"] blockquote ul:last-child li:last-child,
.comment article[data-importance="medium-large"] blockquote ul:last-child li:last-child,
.comment article[data-importance="large"] blockquote ul:last-child li:last-child,
.comment article[data-importance="nuclear"] blockquote ul:last-child li:last-child,
.comment article[data-importance="small"] > ul:last-child li:last-child,
.comment article[data-importance="small-medium"] > ul:last-child li:last-child,
.comment article[data-importance="medium"] > ul:last-child li:last-child,
.comment article[data-importance="medium-large"] > ul:last-child li:last-child,
.comment article[data-importance="large"] > ul:last-child li:last-child,
.comment article[data-importance="nuclear"] > ul:last-child li:last-child {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
}
.comment article[data-importance="small"] ul:last-child li {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
}
.regulars article[data-importance="medium"] h3 {
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
}
.regulars article[data-importance="medium"] p {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
}
