.clear-fix:before,.clear-fix:after{content:"";display:table;}
.clear-fix:after{clear:both;}
.clear-clear-fix:before,.clear-clear-fix:after{clear:none;content:none;display:none;}
.no-margin-padding{margin:0;padding:0;}
.reset{margin:0;padding:0;border:none;}
.dwell{display:none;}
h1:not(.branding){margin-top:5px;margin-top:0.5rem;}
#actors p,#actors ol,#actors ul,#actors dl{font-size:13px;font-size:1.3rem;line-height:18px;line-height:1.8rem;}
#actors ol,#actors ul,#actors dl{margin-bottom:18px;margin-bottom:1.8rem;}
#actors dd{margin-bottom:9px;margin-bottom:0.9rem;}#actors dd:last-child{margin:0;}
#actors .title{font-family:"guardian-italic";font-weight:normal;font-size:13px;font-size:1.3rem;line-height:18px;line-height:1.8rem;color:#666666;margin-bottom:0;}
#coverage article h4{font-family:"guardian-bold";font-weight:normal;font-size:13px;font-size:1.3rem;line-height:18px;line-height:1.8rem;}
#more-on-story h3{font-family:"guardian-bold";font-weight:normal;font-size:15px;font-size:1.5rem;line-height:20px;line-height:2rem;}
.date-stamp{font-size:12px;font-size:1.2000000000000002rem;line-height:12px;line-height:1.2000000000000002rem;margin-bottom:0;}
.parent-event{font-size:15px;font-size:1.5rem;line-height:20px;line-height:2rem;width:93.75%;margin:10px auto;}
.parent-event+.date-stamp{width:93.75%;margin:0 auto;}
.cast h4{font-family:"guardian-bold";font-weight:normal;font-size:13px;font-size:1.3rem;line-height:18px;line-height:1.8rem;}
.timeline>li h3{font-family:"guardian-bold";font-weight:normal;font-size:13px;font-size:1.3rem;line-height:18px;line-height:1.8rem;}
.news-org{font-family:"guardian-italic";font-weight:normal;font-size:13px;font-size:1.3rem;line-height:18px;line-height:1.8rem;margin-bottom:0;}
.gallery{list-style:none;}
.author a{font-family:"guardian-bold";}
#you-might-like{margin-bottom:10px;margin-bottom:1rem;padding-bottom:10px;padding-bottom:1rem;border-bottom:1px solid #cccccc;}
#coverage{margin-bottom:20px;margin-bottom:2rem;}
.cast,#you-might-like article{}.cast img,#you-might-like article img{float:left;width:20%;margin-right:1.6666666666666667%;margin-bottom:5px;margin-bottom:0.5rem;}
.timeline{list-style:none;}.timeline>li{min-height:10px;min-height:1rem;margin-bottom:1px;margin-bottom:0.1rem;padding:5px 0px 5px 2%;padding:0.5rem 0px 0.5rem 2%;border-left:2px solid #666666;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}.timeline>li.blank-hour{border-color:#b3b3b3;}
.timeline article{margin-bottom:8px;margin-bottom:0.8rem;}.timeline article:only-of-type{margin:0;}
.timeline article ol,.timeline article ul{margin-bottom:0;margin-left:4%;padding-left:2%;}
#you-might-like+.navigation-controls{display:none;}
.gallery{margin-bottom:0;}.gallery:before,.gallery:after{content:"";display:table;}
.gallery:after{clear:both;}
.gallery li{float:left;width:25%;border:1px solid #fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}.gallery li.lead-image{z-index:0;position:relative;float:none;clear:both;width:100%;}
.gallery li.selected{border:1px solid #000;}
.gallery li img{display:block;}
#gallery li{width:100%;}
.next,.prev{position:absolute;display:block;width:30px;height:36px;top:50%;margin-top:-18px;}
.next{right:0;}
.prev{left:0;}
#you-might-like article{margin-bottom:10px;margin-bottom:1rem;padding-bottom:10px;padding-bottom:1rem;border-bottom:1px dotted #cccccc;}#you-might-like article:last-child{padding:0;border:none;}
.article-details{overflow:hidden;margin:0px 0px 20px 0px;margin:0rem 0px 2rem 0px;padding:9px 0px 9px 0px;padding:0.9rem 0px 0.9rem 0px;list-style:none;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;}.article-details .date-stamp,.article-details .history{display:inline-block;}
.article-details li{}.article-details li:last-child:before,.article-details li:last-child:after{content:"";display:table;}
.article-details li:last-child:after{clear:both;}
.author-avatar{float:left;vertical-align:top;width:13.333333333%;margin-right:3.333333333%;}
.promo{margin:10px 0px 10px 0px;margin:1rem 0px 1rem 0px;padding:10px 0px 10px 0px;padding:1rem 0px 1rem 0px;border-top:1px dotted #cccccc;border-bottom:1px dotted #cccccc;}.promo blockquote{margin-bottom:0;}
.accordian{border-bottom:1px solid #cccccc;}.accordian h3{margin:0;}
.accordian dt a{display:block;padding:10px 2% 10px 2%;padding:1rem 2% 1rem 2%;background:#eeeeee;border-top:1px solid #cccccc;}.accordian dt a.selected{background:#fff;border-bottom:1px dotted #cccccc;}
.accordian dd{padding:10px 2% 10px 2%;padding:1rem 2% 1rem 2%;}
.pane article{margin-bottom:8px;margin-bottom:0.8rem;padding-bottom:8px;padding-bottom:0.8rem;border-bottom:1px dotted #cccccc;}.pane article:last-child{margin:0;padding:0;border:none;}
.graph{height:172px;height:17.2rem;}
@media only screen and (max-width:480px){.viewport-top{top:0;-moz-box-shadow:0 1px 2px #cccccc;-webkit-box-shadow:0 1px 2px #cccccc;box-shadow:0 1px 2px #cccccc;} .viewport-bottom{bottom:0;-moz-box-shadow:0 -1px 2px #cccccc;-webkit-box-shadow:0 -1px 2px #cccccc;box-shadow:0 -1px 2px #cccccc;} .navigator{position:fixed;left:0;width:93.75%;margin:0;padding:8px 3.125% 8px 3.125%;padding:0.8rem 3.125% 0.8rem 3.125%;background:#fff;}.navigator li a{display:inline-block;width:50%;padding:8px 2% 8px 2%;padding:0.8rem 2% 0.8rem 2%;background:#eeeeee;border:1px solid #fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}.navigator li a:only-child{width:100%;} .navigator li a i{float:right;}}
