.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.clear-clear-fix:before,
.clear-clear-fix:after {
  clear: none;
  content: none;
  display: none;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.reset {
  margin: 0;
  padding: 0;
  border: none;
}
/* general
--------------------------------------------------*/
.mpu {
  display: none;
}
section[class]:not(.advert) {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  padding-bottom: 9px;
  padding-bottom: 0.9rem;
  border-bottom: 1px solid #cccccc;
}
section[class]:not(.advert) > h2 {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
section[class]:not(.advert) > h2 a.show-hide {
  float: right;
}
section[class]:not(.advert) > div.show-hide {
  display: block;
}
section.top-stories:not(.advert) article:last-of-type,
section.sport-stories:not(.advert) article:last-of-type,
section.comment-is-free:not(.advert) article:last-of-type {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding-bottom: 9px;
  padding-bottom: 0.9rem;
  border-bottom: 1px dotted #cccccc;
}
section.sport-stories div > p:last-child {
  margin-top: 10px;
  margin-top: 1rem;
  padding-top: 9px;
  padding-top: 0.9rem;
  border-top: 1px solid #cccccc;
}
section.features:not(.advert) {
  padding: 10px 3.333333333% 10px 3.333333333%;
  padding: 1rem 3.333333333% 1rem 3.333333333%;
  background: #eeeeee;
  border: none;
}
section.features:not(.advert) div.show-hide {
  position: relative;
}
section.features:not(.advert) article {
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
section.features:not(.advert) article[data-importance="medium"] {
  height: 210px;
  height: 21rem;
  margin-bottom: 2px;
  margin-bottom: 0.2rem;
}
section.features:not(.advert) article[data-importance="medium"] a {
  height: 210px;
  height: 21rem;
}
section.features:not(.advert) article[data-importance="small"] {
  clear: none;
  float: left;
  width: 50%;
  height: 105px;
  height: 10.5rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
section.features:not(.advert) article[data-importance="small"]:nth-child(2) {
  border-right: 2px solid #eeeeee;
}
section.features:not(.advert) article[data-importance="small"] a {
  height: 105px;
  height: 10.5rem;
}
section.features:not(.advert) article p {
  display: none;
}
section.features:not(.advert) article a {
  display: block;
  width: 100%;
  color: #fff;
  padding: 10px 3.333333333% 10px 3.333333333%;
  padding: 1rem 3.333333333% 1rem 3.333333333%;
  background: #c1c1c1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
section.features:not(.advert) article a:hover,
section.features:not(.advert) article a:visited {
  color: #fff;
}
section.features:not(.advert) article a:hover {
  background: #a8a8a8;
}
section.features:not(.advert) ol,
section.features:not(.advert) ul {
  list-style: none;
}
section.features:not(.advert) ul.carousel-controls li {
  position: absolute;
  top: 50%;
  width: 10%;
  height: 20%;
  margin-top: -10%;
}
section.features:not(.advert) ul.carousel-controls li:first-child {
  left: 0;
}
section.features:not(.advert) ul.carousel-controls li:first-child a {
  background-image: url('/img/in-body-prev.svg');
}
section.features:not(.advert) ul.carousel-controls li:last-child {
  right: 0;
}
section.features:not(.advert) ul.carousel-controls li:last-child a {
  background-image: url('/img/in-body-next.svg');
}
section.features:not(.advert) ul.carousel-controls li a {
  text-indent: -9999em;
  display: block;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
}
section.features:not(.advert) ul.carousel-controls li a:hover {
  opacity: 1;
}
section.features:not(.advert) ol.pagination {
  /*		clear:both;*/

  text-align: center;
}
section.features:not(.advert) ol.pagination li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
section.features:not(.advert) ol.pagination li:last-child {
  margin: 0;
}
section.features:not(.advert) ol.pagination li a {
  display: block;
  text-indent: -9999em;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #666666;
}
section.features:not(.advert) ol.pagination li a.selected,
section.features:not(.advert) ol.pagination li a:hover {
  background: #bfbfbf;
}
section.features:not(.advert) .more-features {
  display: none;
}
section.business-stories table {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  /*		.padding-bottom(9);
		border-bottom:1px dotted @light-grey;*/

}
section.business-stories table tr {
  width: 25%;
}
section.business-stories table tr:nth-child(odd) {
  background: #eeeeee;
}
section.business-stories table tr:nth-child(even) {
  background: #cccccc;
}
section.business-stories table tr th,
section.business-stories table tr td {
  padding: 0 5px 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
section.business-stories table tr th:nth-child(n+2),
section.business-stories table tr td:nth-child(n+2) {
  text-align: right;
}
section.event:not(.advert) {
  padding: 10px 3.333333333% 10px 3.333333333%;
  padding: 1rem 3.333333333% 1rem 3.333333333%;
  background: #eeeeee;
  border-bottom: none;
}
section.event:not(.advert) article {
  margin: 0;
  padding: 0;
  border: none;
}
section.event:not(.advert) article .related-items li {
  border-top: 1px dotted #cccccc;
}
section.event:not(.advert) article .related-items li:first-child,
section.event:not(.advert) article .related-items li:nth-child(n+4) {
  margin: 0;
  padding: 0;
  border: none;
}
blockquote {
  min-height: 60px;
  min-height: 6rem;
  margin-bottom: 12px;
  margin-bottom: 1.2000000000000002rem;
  padding: 6px 70px 6px 6px;
  padding: 0.6000000000000001rem 70px 0.6000000000000001rem 6px;
  background: url("/img/headshot.svg") bottom right no-repeat #eeeeee;
  background-size: 70px 70px;
}
blockquote:last-of-type {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
blockquote:hover {
  background-color: #d5d5d5;
  cursor: pointer;
}
blockquote p,
blockquote cite {
  margin: 0;
}
/* typography
--------------------------------------------------*/
section[class] > h2 {
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
}
section[class] > h2 a.show-hide {
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  text-transform: uppercase;
  font-family: "guardian-regular", georgia, serif;
  text-transform: none;
}
section.business-stories table {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
}
blockquote p {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-style: italic;
  color: #666666;
}
blockquote cite {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: "guardian-bold";
  font-style: normal;
  color: #333333;
}
section.comment-is-free .author {
  font-family: "guardian-bold";
}
/* 640 plus
--------------------------------------------------*/
@media only screen and (min-width: 640px) {
  .wrapper {
    width: 91.40625%;
    margin: 0 auto;
  }
  #content {
    width: 100%;
    padding: 0;
  }
  section:not(.advert).top-stories article,
  section:not(.advert).sport-stories article {
    clear: none;
  }
  section:not(.advert).top-stories > div:before,
  section:not(.advert).sport-stories > div:before,
  section:not(.advert).top-stories > div:after,
  section:not(.advert).sport-stories > div:after {
    content: "";
    display: table;
  }
  section:not(.advert).top-stories > div:after,
  section:not(.advert).sport-stories > div:after {
    clear: both;
  }
  section:not(.advert).top-stories > div > article:first-of-type,
  section:not(.advert).sport-stories > div > article:first-of-type {
    /*					clear:both;*/
  
    width: 100%;
  }
  section:not(.advert).top-stories > div > article:first-of-type:before,
  section:not(.advert).sport-stories > div > article:first-of-type:before,
  section:not(.advert).top-stories > div > article:first-of-type:after,
  section:not(.advert).sport-stories > div > article:first-of-type:after {
    content: "";
    display: table;
  }
  section:not(.advert).top-stories > div > article:first-of-type:after,
  section:not(.advert).sport-stories > div > article:first-of-type:after {
    clear: both;
  }
  section:not(.advert).top-stories > div > article:first-of-type p,
  section:not(.advert).sport-stories > div > article:first-of-type p {
    clear: none;
  }
  section:not(.advert).top-stories > div > article:nth-of-type(n+2),
  section:not(.advert).sport-stories > div > article:nth-of-type(n+2) {
    float: left;
    width: 48%;
    margin: 9px 4% 0px 0px;
    margin: 0.9rem 4% 0rem 0px;
    padding: 10px 0px 0px 0px;
    padding: 1rem 0px 0rem 0px;
    border: none;
    border-top: 1px dotted #cccccc;
  }
  section:not(.advert).top-stories > div > article:nth-of-type(2),
  section:not(.advert).sport-stories > div > article:nth-of-type(2),
  section:not(.advert).top-stories > div > article:nth-of-type(3),
  section:not(.advert).sport-stories > div > article:nth-of-type(3) {
    border-top: none;
  }
  section:not(.advert).top-stories > div > article:nth-of-type(odd),
  section:not(.advert).sport-stories > div > article:nth-of-type(odd) {
    /*					clear:none;*/
  
    margin-right: 0;
  }
  section:not(.advert).top-stories > div > article:last-of-type,
  section:not(.advert).sport-stories > div > article:last-of-type {
    margin-bottom: 10px;
    margin-bottom: 1rem;
    border-bottom: none;
  }
  section:not(.advert).top-stories > div > div,
  section:not(.advert).sport-stories > div > div {
    clear: both;
    border-top: 1px dotted #cccccc;
  }
  section:not(.advert).top-stories > div > div:before,
  section:not(.advert).sport-stories > div > div:before,
  section:not(.advert).top-stories > div > div:after,
  section:not(.advert).sport-stories > div > div:after {
    content: "";
    display: table;
  }
  section:not(.advert).top-stories > div > div:after,
  section:not(.advert).sport-stories > div > div:after {
    clear: both;
  }
  section:not(.advert).top-stories > div > div article,
  section:not(.advert).sport-stories > div > div article {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  section:not(.advert).top-stories > div > div article:nth-child(-n+2),
  section:not(.advert).sport-stories > div > div article:nth-child(-n+2) {
    margin-top: 9px;
    margin-top: 0.9rem;
  }
  section:not(.advert).top-stories > div > div article:nth-child(even),
  section:not(.advert).sport-stories > div > div article:nth-child(even) {
    margin-right: 0;
  }
  section:not(.advert).top-stories > div > div article:last-child,
  section:not(.advert).sport-stories > div > div article:last-child {
    margin: 0;
    padding: 0;
    border: none;
  }
  section:not(.advert).top-stories > div > p,
  section:not(.advert).sport-stories > div > p {
    clear: both;
  }
  section:not(.advert).top-stories > div > p:first-of-type,
  section:not(.advert).sport-stories > div > p:first-of-type {
    margin-top: 9px;
    margin-top: 0.9rem;
    padding-top: 10px;
    padding-top: 1rem;
    border-top: 1px dotted #cccccc;
  }
  section.comment-is-free:not(.advert):before,
  section.comment-is-free:not(.advert):after {
    content: "";
    display: table;
  }
  section.comment-is-free:not(.advert):after {
    clear: both;
  }
  section.comment-is-free:not(.advert) blockquote {
    float: left;
    width: 30%;
    padding: 6px 6px 50px 6px;
    padding: 0.6000000000000001rem 6px 5rem 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  section.comment-is-free:not(.advert) blockquote:nth-child(-n+2) {
    margin-right: 5%;
  }
  section.comment-is-free:not(.advert) > div > div {
    clear: both;
    padding-top: 10px;
    padding-top: 1rem;
    border-top: 1px dotted #cccccc;
  }
  section.comment-is-free:not(.advert) > div > div article {
    float: left;
    clear: none;
    width: 30%;
    padding-bottom: 0;
    border-bottom: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  section.comment-is-free:not(.advert) > div > div article:nth-child(-n+2) {
    margin-right: 5%;
  }
  section.comment-is-free:not(.advert) > div > div article:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  section.comment-is-free:not(.advert) > div > p {
    clear: both;
    margin-top: 9px;
    margin-top: 0.9rem;
    padding-top: 10px;
    padding-top: 1rem;
    border-top: 1px dotted #cccccc;
  }
  .column {
    float: left;
    width: 48%;
    margin: 9px 4% 0px 0px;
    margin: 0.9rem 4% 0rem 0px;
    padding: 10px 0px 0px 0px;
    padding: 1rem 0px 0rem 0px;
    border: none;
  }
  .column:last-of-type {
    margin-right: 0;
  }
  #most-read {
    float: right;
    width: 48%;
  }
  /* typography
  	--------------------------------------------------*/
  section.comment-is-free blockquote p:first-child {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 20px;
    line-height: 2rem;
  }
}
/* 960 plus
--------------------------------------------------*/
@media only screen and (min-width: 960px) {
  .wrapper {
    width: 93.333333333%;
    max-width: 1120px;
  }
  .mpu {
    float: right;
    display: block;
    width: 65.454545455%;
    margin-bottom: 20px;
    margin-bottom: 2rem;
  }
  .advert:not(.mpu) {
    clear: both;
  }
  .advert:not(.mpu):last-of-type {
    display: none;
  }
  #content {
    width: 100%;
  }
  #content > ul.navigation-controls:last-of-type {
    display: none;
  }
  #content .advert + p {
    clear: both;
  }
  h2 a.show-hide {
    display: none;
  }
  .news-sport {
    float: left;
    width: 49.107142857%;
  }
  .features-comment {
    float: right;
    width: 49.107142857%;
  }
  section:not(.advert) > div.show-hide {
    /*			p:only-of-type {
  				display:none;
  			}*/
  
  }
  section:not(.advert).sport-stories > div.show-hide {
    /*				> p:first-of-type {
  					display:none;
  				}*/
  
  }
  section:not(.advert).comment-is-free:not(.advert) {
    float: right;
    width: 65.454545455%;
  }
  section:not(.advert).comment-is-free:not(.advert):before,
  section:not(.advert).comment-is-free:not(.advert):after {
    clear: none;
    content: none;
    display: none;
  }
  section:not(.advert).comment-is-free:not(.advert) blockquote {
    float: none;
    width: 100%;
    padding: 6px 50px 6px 2.777777778%;
    padding: 0.6000000000000001rem 50px 0.6000000000000001rem 2.777777778%;
  }
  section:not(.advert).comment-is-free:not(.advert) > div > div article {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    margin-bottom: 1rem;
    padding-bottom: 9px;
    padding-bottom: 0.9rem;
    border-bottom: 1px dotted #cccccc;
  }
  section:not(.advert).comment-is-free:not(.advert) > div > div article:last-of-type {
    padding: 0;
    border: none;
  }
  section:not(.advert).features {
    padding: 0px 0px 0px 0px;
    padding: 0rem 0px 0rem 0px;
    background: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  section:not(.advert).features > div > article[data-importance="medium"] {
    height: 330px;
    margin-bottom: 10px;
    margin-bottom: 1rem;
  }
  section:not(.advert).features > div > article[data-importance="medium"] a {
    height: 330px;
  }
  section:not(.advert).features > div > article[data-importance="small"] {
    display: none;
  }
  section:not(.advert).features article[data-importance="small"] {
    float: none;
    width: 100%;
  }
  section:not(.advert).features .pagination,
  section:not(.advert).features .carousel-controls {
    display: none;
  }
  section:not(.advert).features .more-features {
    float: left;
    display: block;
    width: 30.909090909%;
  }
  section:not(.advert).travel-stories article[data-importance="small-medium"] h3 img {
    float: none;
    width: 100%;
  }
  /*	.column {
  		float:left;
  		width:32.142857143%;
  		width:23.660714286%;
  		margin-top:0;
  		margin-right:1.785714286%;
  		padding-top:0;
  		&.one {
  			clear:both;
  		}
  		&.two {
  			margin-right:0;
  		}
  	}*/
  .column {
    float: left;
    width: 49.107142857%;
    margin: 0;
  }
  .column.two {
    clear: both;
  }
  .column.two section:not(.advert).travel-stories article[data-importance="small-medium"] h3 img {
    float: left;
    width: 33.33333333333333%;
  }
  .column article[data-importance="small-medium"] p:last-child {
    clear: none;
  }
  #most-read {
    clear: none;
    float: right;
    width: 65.454545455%;
    /*		width:32.142857143%;*/
  
  }
  footer nav li:nth-child(n+2) {
    width: auto;
    float: none;
    display: inline-block;
    margin: 0px 2% 0px 0px;
    margin: 0rem 2% 0rem 0px;
    border: none;
  }
  footer nav li:nth-last-child(2) {
    border-right: none;
  }
  footer nav li:last-child {
    width: 100%;
    display: block;
    border-right: none;
  }
}
