.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.clear-clear-fix:before,
.clear-clear-fix:after {
  clear: none;
  content: none;
  display: none;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.reset {
  margin: 0;
  padding: 0;
  border: none;
}
/* general
--------------------------------------------------*/
.wrapper {
  width: 96%;
  max-width: 1120px;
  margin: 20px auto 20px;
}
#more-more-on-story div[role="presentation"],
#more-most-read div[role="presentation"] {
  display: none;
}
#article-history {
  display: none;
}
.article-details {
  overflow: hidden;
  margin: 0px 0px 20px 0px;
  margin: 0rem 0px 2rem 0px;
  padding: 9px 0px 9px 0px;
  padding: 0.9rem 0px 0.9rem 0px;
  list-style: none;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.article-details .author a {
  font-weight: bold;
}
.article-details .date-stamp,
.article-details .history {
  display: inline-block;
}
.article-details li {
  padding-bottom: 5px;
  padding-bottom: 0.5rem;
}
.article-details li:last-child:before,
.article-details li:last-child:after {
  content: "";
  display: table;
}
.article-details li:last-child:after {
  clear: both;
}
.author-avatar {
  float: left;
  vertical-align: top;
  width: 13.333333333%;
  margin-right: 3.333333333%;
}
figure {
  margin: 0px 0px 20px 0px;
  margin: 0rem 0px 2rem 0px;
}
figure img {
  display: block;
}
figure figcaption {
  margin: 0px 0px 20px 0px;
  margin: 0rem 0px 2rem 0px;
}
.article-body {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  padding: 0;
  border-bottom: 1px solid #cccccc;
}
.article-body h2 {
  margin: 0px 0px 10px 0px;
  margin: 0rem 0px 1rem 0px;
  padding: 10px 0px 0px 0px;
  padding: 1rem 0px 0rem 0px;
}
.article-body hgroup > h2 {
  margin: 0;
  padding: 0;
}
.article-body > p,
.article-body ul,
.article-body ol,
.article-body address,
.article-body blockquote {
  margin: 0px 0px 20px 0px;
  margin: 0rem 0px 2rem 0px;
}
.article-body blockquote {
  padding: 0px 2% 0px 20px;
  padding: 0rem 2% 0rem 20px;
}
.article-body blockquote p {
  margin: 0px 0px 20px 0px;
  margin: 0rem 0px 2rem 0px;
}
#article-history {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  margin-top: 10px;
  margin-top: 1rem;
  padding: 10px 3.333333333% 10px 3.333333333%;
  padding: 1rem 3.333333333% 1rem 3.333333333%;
  background: #eeeeee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#article-history dt {
  font-family: "guardian-bold";
}
.comment-details {
  list-style: none;
}
#comments {
  border-top: 1px dotted #cccccc;
}
#comments article {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding-bottom: 9px;
  padding-bottom: 0.9rem;
  border-bottom: 1px dotted #cccccc;
}
#comments article p {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
#comments article .comment-details {
  list-style: none;
}
#comments article .comment-tools {
  margin-bottom: 0;
}
#comments article .comment-tools li {
  display: inline-block;
  margin-right: 10px;
}
#comments article .comment-tools li:last-child {
  margin-right: 0;
}
#comments > article:only-of-type {
  margin-bottom: 0;
  border: none;
}
#comments div[role="presentation"] {
  display: none;
}
#comments div[role="presentation"] > p:last-child {
  padding-bottom: 9px;
  padding-bottom: 0.9rem;
}
#comments > p {
  padding: 9px 0px 9px 0px;
  padding: 0.9rem 0px 0.9rem 0px;
  border-top: 1px dotted #cccccc;
  /*		border-bottom:1px solid @light-grey;	*/
}
.sponsored {
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
.more-on-story {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  border-bottom: 1px solid #cccccc;
}
.more-on-story h2 {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
.more-on-story div[role="presentation"] {
  display: none;
}
.more-on-story div[role="presentation"] article:last-of-type {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding-bottom: 9px;
  padding-bottom: 0.9rem;
  border-bottom: 1px dotted #cccccc;
}
.more-on-story > p {
  padding-bottom: 9px;
  padding-bottom: 0.9rem;
}
/* typography
--------------------------------------------------*/
hgroup h2 {
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  text-transform: uppercase;
}
h2 {
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  color: #000;
}
.article-details {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
}
.article-details .history {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
}
figure figcaption {
  font-family: helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  text-indent: 0;
  color: #666666;
}
figure figcaption cite {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 2rem;
  font-style: normal;
  text-transform: uppercase;
}
figure figcaption cite a {
  color: #666666;
}
figure figcaption cite a:hover,
figure figcaption cite a:visited:hover {
  color: #4d4d4d;
  border-bottom: 1px dotted #4d4d4d;
}
figure figcaption cite a:visited {
  color: #808080;
  border-bottom: 1px dotted #808080;
}
.article-body > p,
.article-body ul,
.article-body ol,
.article-body address,
.article-body blockquote {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-style: normal;
}
.article-body blockquote p {
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  color: #666666;
}
#comments .response-to,
#comments .comment-tools {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  color: #666666;
}
/* 960px
--------------------------------------------------*/
@media only screen and (min-width: 960px) {
  .wrapper:before,
  .wrapper:after {
    content: "";
    display: table;
  }
  .wrapper:after {
    clear: both;
  }
  .article-body {
    float: left;
    width: 66.071428571%;
  }
  aside {
    float: right;
    width: 32.142857143%;
    margin-top: 130px;
    margin-top: 13rem;
  }
}
