.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.clear-clear-fix:before,
.clear-clear-fix:after {
  clear: none;
  content: none;
  display: none;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.reset {
  margin: 0;
  padding: 0;
  border: none;
}
/* general
--------------------------------------------------*/
#most-read {
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
  padding: 0;
  border: none;
}
#most-read h2 {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
#most-read section {
  padding: 10px 3.333333333% 10px 3.333333333%;
  padding: 1rem 3.333333333% 1rem 3.333333333%;
  background: #eeeeee;
  border: 1px solid #b3b3b3;
  border-top: none;
}
#most-read section:first-child {
  display: block;
}
#most-read section:last-child {
  display: none;
}
#most-read section div[role="presentation"] {
  display: none;
}
#most-read section div[role="presentation"] article:last-of-type {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding-bottom: 9px;
  padding-bottom: 0.9rem;
  border-bottom: 1px dotted #cccccc;
}
/* typography
--------------------------------------------------*/
#most-read h2 {
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
}
