.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.clear-clear-fix:before,
.clear-clear-fix:after {
  clear: none;
  content: none;
  display: none;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.reset {
  margin: 0;
  padding: 0;
  border: none;
}
/* general
--------------------------------------------------*/
.update-control {
  width: 100%;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  background: #eeeeee;
}
.update-control dt,
.update-control dd {
  display: inline-block;
  vertical-align: top;
}
.update-control dt,
.update-control li a {
  padding: 5px 5px 5px 5px;
  padding: 0.5rem 5px 0.5rem 5px;
}
.update-control dt {
  font-family: "guardian-regular", georgia, serif;
}
.update-control dd {
  float: right;
  width: 50%;
}
.update-control li {
  width: 50%;
  display: inline-block;
  text-align: center;
  border-left: 1px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.update-control li a {
  display: block;
  color: #333333;
  background: #eeeeee;
}
.update-control li a:hover,
.update-control li a:visited:hover,
.update-control li a.selected {
  color: #fff;
  background: #003656;
}
.update-control li a.selected {
  font-family: "guardian-bold";
  cursor: default;
}
/* typeography
--------------------------------------------------*/
.update-control dt {
  font-family: "guardian-regular", georgia, serif;
}
.update-control li a {
  color: #333333;
}
.update-control li a:hover,
.update-control li a:visited:hover,
.update-control li a.selected {
  color: #fff;
}
.update-control li a.selected {
  font-family: "guardian-bold";
}
