.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.clear-clear-fix:before,
.clear-clear-fix:after {
  clear: none;
  content: none;
  display: none;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.reset {
  margin: 0;
  padding: 0;
  border: none;
}
/* general
--------------------------------------------------*/
ul.tabs {
  height: 32px;
  height: 3.2rem;
  list-style: none;
  margin-bottom: 0;
  border-bottom: 1px solid #b3b3b3;
  clear: both;
}
ul.tabs li {
  display: inline-block;
}
ul.tabs li a {
  display: block;
  margin: 3px 0px 0px 2px;
  margin: 0.30000000000000004rem 0px 0rem 2px;
  padding: 4px 10px 4px 10px;
  padding: 0.4rem 10px 0.4rem 10px;
  border: 1px solid #eeeeee;
  border-bottom: none;
}
ul.tabs li a:hover {
  background: #eeeeee;
  border: 1px solid #ccc;
  border-bottom: none;
}
ul.tabs li a.selected {
  margin-top: 0;
  padding: 5px 10px 5px 10px;
  padding: 0.5rem 10px 0.5rem 10px;
  background: #eeeeee;
  border: 1px solid #b3b3b3;
  border-bottom: 1px solid #eeeeee;
}
.article-body ul.tabs li a {
  background: #eeeeee;
}
.article-body ul.tabs li a.selected {
  background: #fff;
}
.tab {
  padding: 10px 3.333333333% 10px 3.333333333%;
  padding: 1rem 3.333333333% 1rem 3.333333333%;
  background: #eeeeee;
  border: 1px solid #b3b3b3;
  border-top: none;
}
.tab:first-child {
  display: block;
}
.tab:last-child {
  display: none;
}
