// --------------------------------------------------------------------------------------------------------------------------------------------
// Table of contents
// --------------------------------------------------
// 1.0 imports
// 2.0 variables
// 3.0 general
// 4.0 type
// 5.0 layout
// 6.0 modules
// --------------------------------------------------------------------------------------------------------------------------------------------

// --------------------------------------------------
// 1.0 imports

@import "colors";

// --------------------------------------------------
// 2.0 variables

$img-path: "../img";
$img-extension : ".svg";
$guardian-logo-header : "#{$img-path}/guardian-logo-4#{$img-extension}";
$guardian-logo : "#{$img-path}/guardian-logo#{$img-extension}";

$img-landscape:"#{$img-path}/image-5x3#{$img-extension}";

@mixin img{
	width:100%;
	height:100%;
	display:block;
}

// --------------------------------------------------
// 3.0 general

.global-logo{
	float:right;
	&.footer{
		background: url($guardian-logo) no-repeat;
		background-size:100% auto;
		width:130px;
		height:53px;
		margin:0px 50px 0 0;
	}
	&.header{
		background: url($guardian-logo-header) no-repeat;
		background-size:100% auto;
		width:300px;
		height:53px;
		margin:0px 50px 0 0;
	}
}

img {
	@include img;
}

.media-container{
	width:300px;
	height:169px;
	background:$light-grey;
	margin-bottom:20px;
}

.media-button{
	margin:137px 0 0 0;
}

.icon-play{
	position:absolute;
	margin:0 0 0 -35px;
	padding:10px 0px 7px 10px;
}

.icon-volume-up{
	position:absolute;
	margin:0 0 0 -35px;
	padding:10px 0px 7px 10px;
}

iframe {
	width:100%;
	height:100%;
	border:none;
	margin-top:50px;
	padding:0;
	//background: lime;
	position:absolute;
}

.video-overlay {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2000;
	background:$dark-grey;
}

.fronts-image{
	@include img;
	width:100%;
	height:100%;
	background: url($img-landscape) no repeat;
}

