// Example less file to be used a a builder
// Table of contents

// 1.Title
//-----------------------------
// Imports would go here
@import "fonts.scss";
@import "colors.scss";
//
/* Current import list to implement...
* colors
* library
* adverts
* media
* screen
* template
*/


h1 {
  color: $link;
  font: $sans-serif;
  font-size: 4.3em;
}

img {
	width:50%;
}
