.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.clear-clear-fix:before,
.clear-clear-fix:after {
  clear: none;
  content: none;
  display: none;
}
br:last-child {
  clear: both;
}
@font-face {
  font-family: "guardian-regular";
  src: url('../fnt/Guardian-Egyp-Web-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "guardian-italic";
  src: url('../fnt/Guardian-Egyp-Web-Regular It.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "guardian-bold";
  src: url('../fnt/Guardian-Egyp-Web-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "guardian-bold-italic";
  src: url('../fnt/Guardian-Egyp-Web-Semibold It.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.tabs {
  z-index: 10;
  list-style: none;
  margin: 0;
  border-bottom: 1px solid #cccccc;
}
.tabs > li {
  display: inline-block;
}
.tab-control {
  z-index: 10;
  display: block;
  margin: 3px 0px 0px 2px;
  margin: 0.30000000000000004rem 0px 0rem 2px;
  padding: 4px 10px 4px 10px;
  padding: 0.4rem 10px 0.4rem 10px;
  border: 1px solid #eeeeee;
  border-bottom: none;
}
.tab-control:hover {
  background: #eeeeee;
  border: 1px solid #ccc;
  border-bottom: none;
}
.tab-control.is-current {
  margin-top: 0;
  padding: 5px 10px 5px 10px;
  padding: 0.5rem 10px 0.5rem 10px;
  background: #eeeeee;
  border: 1px solid #cccccc;
  border-bottom: 1px solid #eeeeee;
}
.tab-pane {
  padding: 10px 3.333333333% 10px 3.333333333%;
  padding: 1rem 3.333333333% 1rem 3.333333333%;
  background: #eeeeee;
  border: 1px solid #cccccc;
  border-top: none;
}
.is-expanded header h3:nth-child(n) {
  font-size: 24px;
  font-size: 2.4000000000000004rem;
  line-height: 30px;
  line-height: 3rem;
  font-family: "guardian-regular";
  font-weight: normal;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
.article-match-score span,
.article-match-details span {
  vertical-align: top;
}
.article-match-score .home,
.article-match-details .home {
  text-align: right;
}
.article-match-score .away,
.article-match-details .away {
  text-align: left;
}
.article-match-score .score,
.article-match-details .score {
  text-align: center;
}
.article-match-details {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 16px;
  line-height: 1.6rem;
}
@media (min-width: 640px) {
  .article-match-details {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 20px;
    line-height: 2rem;
  }
}
.container-article-comments .statistics,
.container-article-comments .scores,
.container-article-comments .comment-count {
  text-align: center;
}
.article-update-control dt {
  font-family: "guardian-regular";
  font-weight: normal;
}
.article-update-control ul {
  text-align: center;
}
.article-update-control a:hover,
.article-update-control a:visited:hover,
.article-update-control a.selected {
  color: #fff;
}
.article-update-control a.is-selected {
  font-family: "guardian-bold";
  color: #fff;
}
.article-related p {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
}
@media (min-width: 960px) {
  .articles-most-popular .tab-pane .show-hide {
    font-size: 12px;
    font-size: 1.2000000000000002rem;
    line-height: 16px;
    line-height: 1.6rem;
  }
}
.page-controls {
  list-style: none;
}
.page-controls .article-section {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
}
#article-statistics ul {
  list-style: none;
}
@media (min-width: 960px) {
  #article-scores-table #scores table,
  #article-scores-table #table table {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 20px;
    line-height: 2rem;
  }
}
.container-article-comments {
  position: relative;
}
@media (min-width: 640px) {
  .articles-most-popular {
    width: 68%;
  }
}
@media (min-width: 960px) {
  .articles-most-popular {
    width: 100%;
  }
  .articles-most-popular:before,
  .articles-most-popular:after {
    content: "";
    display: table;
  }
  .articles-most-popular:after {
    clear: both;
  }
  .articles-most-popular .tab-pane {
    margin: 0px 0px 10px 0px;
    margin: 0rem 0px 1rem 0px;
    padding: 0px 0px 20px 0px;
    padding: 0rem 0px 2rem 0px;
    background: none;
    border: none;
    border-bottom: 5px solid #e5e5e5;
  }
  .articles-most-popular .tab-pane:before,
  .articles-most-popular .tab-pane:after {
    content: "";
    display: table;
  }
  .articles-most-popular .tab-pane:after {
    clear: both;
  }
  .articles-most-popular .tab-pane:last-child {
    border: none;
  }
  .articles-most-popular .article {
    width: 60%;
    margin-left: 20%;
  }
}
@media (min-width: 640px) {
  #article-statistics,
  #article-scores-table {
    width: 68%;
  }
}
@media (min-width: 960px) {
  #article-statistics {
    width: 60%;
    margin-left: 20%;
  }
}
#article-scores-table #scores table td:first-child,
#article-scores-table #tables table td:first-child {
  text-align: right;
}
#article-scores-table #scores table td:nth-child(3),
#article-scores-table #tables table td:nth-child(3),
#article-scores-table #scores table td:last-child,
#article-scores-table #tables table td:last-child {
  text-align: left;
}
#article-scores-table #scores table td:nth-child(2),
#article-scores-table #tables table td:nth-child(2) {
  text-align: center;
}
#article-scores-table #tables table tr[data-is-link="true"] td,
#article-scores-table #table table tr[data-is-link="true"] td {
  color: #333333;
}
#article-scores-table #tables table tr[data-is-link="true"] td:nth-child(2),
#article-scores-table #table table tr[data-is-link="true"] td:nth-child(2) {
  color: #005689;
}
#article-scores-table #tables table tr[data-is-link="true"] td:nth-child(2):hover,
#article-scores-table #table table tr[data-is-link="true"] td:nth-child(2):hover {
  color: #003656;
}
#article-scores-table #tables table tr[data-is-link="true"] td:nth-child(2):visited,
#article-scores-table #table table tr[data-is-link="true"] td:nth-child(2):visited {
  color: #0076bc;
}
#article-scores-table #tables table td:nth-child(2),
#article-scores-table #table table td:nth-child(2) {
  text-align: left;
}
#article-scores-table #tables table td:nth-child(n+3),
#article-scores-table #table table td:nth-child(n+3) {
  text-align: right;
}
@media (min-width: 960px) {
  #article-scores-table {
    position: absolute;
    top: 79px;
    top: 7.9rem;
    left: 0;
    width: 18%;
  }
}
#article-body,
#article-comments {
  clear: both;
}
.article[data-importance="small"] img,
.article[data-importance="small-medium"] img,
.article[data-importance="medium"] img,
.article[data-importance="medium-large"] img,
.article[data-importance="large"] img,
.article[data-importance="small"] h3,
.article[data-importance="small-medium"] h3,
.article[data-importance="medium"] h3,
.article[data-importance="medium-large"] h3,
.article[data-importance="large"] h3 {
  -webkit-transition: all 0.2s ease-in-out;
}
.article[data-importance="small"] .show-on-expand,
.article[data-importance="small-medium"] .show-on-expand,
.article[data-importance="medium"] .show-on-expand,
.article[data-importance="medium-large"] .show-on-expand,
.article[data-importance="large"] .show-on-expand {
  display: none;
}
.is-expanded[data-importance="small"] img,
.is-expanded[data-importance="small-medium"] img,
.is-expanded[data-importance="medium"] img,
.is-expanded[data-importance="medium-large"] img,
.is-expanded[data-importance="large"] img {
  float: none;
  width: 100%;
  min-width: 100%;
}
.is-expanded[data-importance="small"] .show-on-expand,
.is-expanded[data-importance="small-medium"] .show-on-expand,
.is-expanded[data-importance="medium"] .show-on-expand,
.is-expanded[data-importance="medium-large"] .show-on-expand,
.is-expanded[data-importance="large"] .show-on-expand {
  display: block;
}
.article-match-score,
.article-match-details {
  min-width: 100%;
}
.article-match-score span,
.article-match-details span {
  display: inline-block;
  padding: 5px 5px 5px 5px;
  padding: 0.5rem 5px 0.5rem 5px;
}
.article-match-score .home,
.article-match-details .home,
.article-match-score .away,
.article-match-details .away {
  width: 37%;
}
.article-match-score .score,
.article-match-details .score {
  width: 16%;
}
.article-match-score {
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}
.article-match-details {
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
.container-article-comments .author {
  width: 45%;
}
.container-article-comments .statistics {
  width: 17%;
}
.container-article-comments .scores {
  width: 19%;
}
.container-article-comments .comment-count {
  width: 19%;
}
@media (min-width: 640px) {
  .container-article-comments .author {
    width: 50%;
  }
  .container-article-comments .statistics {
    width: 16.666666667%;
  }
  .container-article-comments .scores {
    width: 16.666666667%;
  }
  .container-article-comments .comment-count {
    width: 16.666666667%;
  }
}
@media (min-width: 960px) {
  .container-article-comments .statistics {
    width: 25%;
  }
  .container-article-comments .tabs .scores {
    display: none;
  }
  .container-article-comments .comment-count {
    width: 25%;
  }
}
#article-comments {
  border-top: 5px solid #e5e5e5;
}
#article-comments #show-comments {
  margin-top: 20px;
  margin-top: 2rem;
  border-top: 5px solid #e5e5e5;
}
.article-related {
  padding-right: 2%;
  padding-left: 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
aside {
  padding-bottom: 10px;
  padding-bottom: 1rem;
  border-top: 5px solid #e5e5e5;
  border-bottom: 5px solid #e5e5e5;
}
.articles-most-popular .tab-pane > h2 {
  display: none;
}
.articles-most-popular .tab-pane .article:nth-child(n+2) {
  border-top: 1px dotted #d2d2d2;
}
.articles-most-popular .tab-pane .show-hide {
  border-top: 1px dotted #d2d2d2;
}
.articles-most-popular .tab-pane .show-hide-control {
  background: #d2d2d2;
}
.articles-most-popular .tab-pane .show-hide-control:hover {
  background: #003656;
}
@media (min-width: 960px) {
  .articles-most-popular > h2 {
    display: none;
  }
  .articles-most-popular .tabs {
    display: none;
  }
  .articles-most-popular .tab-pane h2 {
    display: block;
  }
  .articles-most-popular .tab-pane .show-hide {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    border-top: 2px solid #e5e5e5;
  }
  .articles-most-popular .tab-pane .show-hide-control {
    display: inline-block;
    margin-top: 0;
    background: #e5e5e5;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
    /* IE, Opera, W3C */
  }
  .articles-most-popular .tab-pane .show-hide-control:hover {
    background: #003656;
  }
}
.article-update-control {
  clear: both;
  width: 100%;
  background: #eeeeee;
}
.article-update-control dt,
.article-update-control dd,
.article-update-control li {
  display: inline-block;
  vertical-align: middle;
}
.article-update-control ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
.article-update-control dt,
.article-update-control li a {
  padding: 10px 5px 10px 5px;
  padding: 1rem 5px 1rem 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.article-update-control dt,
.article-update-control dd,
.article-update-control li {
  width: 50%;
}
.article-update-control li {
  border-left: 1px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.article-update-control a {
  display: block;
}
.article-update-control a:hover,
.article-update-control a:visited:hover,
.article-update-control a.is-selected {
  background: #003656;
}
.article-update-control a.is-selected {
  background: #005689;
  cursor: default;
}
.page-controls {
  display: none;
}
@media (min-width: 960px) {
  .page-controls {
    display: block;
    width: 100%;
  }
  .page-controls .article {
    position: fixed;
    top: 50%;
    width: 60px;
    min-height: 72px;
    margin-top: -36px;
    background-size: 100%;
    background-color: #e5e5e5;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.2s ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .page-controls .article h2,
  .page-controls .article h3,
  .page-controls .article p {
    display: none;
  }
  .page-controls .article:hover {
    width: 20%;
    padding: 10px 1% 10px 1%;
    padding: 1rem 1% 1rem 1%;
    cursor: pointer;
  }
  .page-controls .article:hover h2,
  .page-controls .article:hover h3,
  .page-controls .article:hover p {
    display: block;
  }
  .page-controls .page-next {
    right: 0;
    background-image: url('../img/in-body-next.svg');
  }
  .page-controls .page-previous {
    left: 0;
    background-image: url('../img/in-body-prev.svg');
  }
  .page-controls .page-next:hover,
  .page-controls .page-previous:hover {
    background-image: none;
  }
}
#article-statistics dl {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding-bottom: 9px;
  padding-bottom: 0.9rem;
  border-bottom: 1px dotted #e5e5e5;
}
#article-statistics dl:before,
#article-statistics dl:after {
  content: "";
  display: table;
}
#article-statistics dl:after {
  clear: both;
}
#article-statistics dl:last-child {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  padding: 0;
  border: none;
}
#article-statistics dl:last-child dd:nth-of-type(-n+2) {
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
#article-statistics dl ul {
  width: 48%;
  margin: 0;
}
#article-statistics dl ul:first-child {
  float: left;
}
#article-statistics dl ul:first-child {
  float: right;
}
#article-statistics dl ul:only-child {
  float: none;
  width: 100%;
}
#article-statistics dl ul:only-child li {
  float: left;
  width: 50%;
  padding: 5px 3% 5px 3%;
  padding: 0.5rem 3% 0.5rem 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#article-statistics dl ul:only-child li:first-child {
  text-align: right;
  background: #e5e5e5;
}
#article-statistics dl ul:only-child li:last-child {
  text-align: left;
  background: #eeeeee;
}
#article-scores-table #fixtures,
#article-scores-table #results,
#article-scores-table #scores {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  padding-bottom: 9px;
  padding-bottom: 0.9rem;
  border-bottom: 1px solid #e5e5e5;
}
#article-scores-table #fixtures h2,
#article-scores-table #results h2,
#article-scores-table #scores h2 {
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
#article-scores-table #fixtures h3,
#article-scores-table #results h3,
#article-scores-table #scores h3 {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
#article-scores-table #fixtures table,
#article-scores-table #results table,
#article-scores-table #scores table {
  width: 100%;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
#article-scores-table #fixtures table:last-of-type,
#article-scores-table #results table:last-of-type,
#article-scores-table #scores table:last-of-type {
  margin-bottom: 0;
}
#article-scores-table #fixtures table tr,
#article-scores-table #results table tr,
#article-scores-table #scores table tr {
  background: #eeeeee;
}
#article-scores-table #fixtures table tr[data-is-link="true"],
#article-scores-table #results table tr[data-is-link="true"],
#article-scores-table #scores table tr[data-is-link="true"] {
  color: #005689;
  cursor: pointer;
}
#article-scores-table #fixtures table tr[data-is-link="true"]:hover,
#article-scores-table #results table tr[data-is-link="true"]:hover,
#article-scores-table #scores table tr[data-is-link="true"]:hover {
  color: #003656;
  background: #e5e5e5;
}
#article-scores-table #fixtures table tr[data-is-link="true"]:visited,
#article-scores-table #results table tr[data-is-link="true"]:visited,
#article-scores-table #scores table tr[data-is-link="true"]:visited {
  color: #0076bc;
}
#article-scores-table #fixtures table th,
#article-scores-table #results table th,
#article-scores-table #scores table th,
#article-scores-table #fixtures table td,
#article-scores-table #results table td,
#article-scores-table #scores table td {
  vertical-align: top;
  padding: 5px 1.666666667% 5px 1.666666667%;
  padding: 0.5rem 1.666666667% 0.5rem 1.666666667%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#article-scores-table #fixtures table td:first-child,
#article-scores-table #results table td:first-child,
#article-scores-table #scores table td:first-child,
#article-scores-table #fixtures table td:nth-child(3),
#article-scores-table #results table td:nth-child(3),
#article-scores-table #scores table td:nth-child(3) {
  width: 34%;
}
#article-scores-table #fixtures table td:nth-child(2),
#article-scores-table #results table td:nth-child(2),
#article-scores-table #scores table td:nth-child(2) {
  width: 15%;
}
#article-scores-table #fixtures table td:last-child,
#article-scores-table #results table td:last-child,
#article-scores-table #scores table td:last-child {
  width: 18%;
}
#article-scores-table #fixtures > p:last-child,
#article-scores-table #results > p:last-child,
#article-scores-table #scores > p:last-child {
  margin-top: 20px;
  margin-top: 2rem;
  padding-top: 9px;
  padding-top: 0.9rem;
  border-top: 1px dotted #e5e5e5;
}
#article-scores-table .primary-detail,
#article-scores-table .secondary-detail,
#article-scores-table .full-detail {
  display: none;
}
#article-scores-table #table table,
#article-scores-table #tables table {
  width: 100%;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
#article-scores-table #table table.league tbody tr:first-child td,
#article-scores-table #tables table.league tbody tr:first-child td,
#article-scores-table #table table.league tbody tr:nth-child(4) td,
#article-scores-table #tables table.league tbody tr:nth-child(4) td,
#article-scores-table #table table.league tbody tr:nth-last-child(4) td,
#article-scores-table #tables table.league tbody tr:nth-last-child(4) td {
  border-collapse: collapse;
  border-bottom: 2px solid #e5e5e5;
}
#article-scores-table #table tr,
#article-scores-table #tables tr {
  background: #eeeeee;
}
#article-scores-table #table tr[data-is-link="true"],
#article-scores-table #tables tr[data-is-link="true"] {
  cursor: pointer;
}
#article-scores-table #table tr[data-is-link="true"]:hover,
#article-scores-table #tables tr[data-is-link="true"]:hover {
  background: #e5e5e5;
}
#article-scores-table #table thead tr:nth-child(n),
#article-scores-table #tables thead tr:nth-child(n) {
  background: transparent;
}
#article-scores-table #table thead tr:first-child th,
#article-scores-table #tables thead tr:first-child th {
  text-align: center;
}
#article-scores-table #table th,
#article-scores-table #tables th,
#article-scores-table #table td,
#article-scores-table #tables td {
  text-align: right;
  vertical-align: top;
  padding: 5px 1.666666667% 5px 1.666666667%;
  padding: 0.5rem 1.666666667% 0.5rem 1.666666667%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#article-scores-table #table th:nth-child(2),
#article-scores-table #tables th:nth-child(2),
#article-scores-table #table td:nth-child(2),
#article-scores-table #tables td:nth-child(2) {
  text-align: left;
}
#article-scores-table #table th:first-child,
#article-scores-table #tables th:first-child,
#article-scores-table #table td:first-child,
#article-scores-table #tables td:first-child {
  width: 7%;
}
#article-scores-table #table th:nth-child(n+3),
#article-scores-table #tables th:nth-child(n+3),
#article-scores-table #table td:nth-child(n+3),
#article-scores-table #tables td:nth-child(n+3) {
  width: 8%;
}
#article-scores-table #table tbody tr:nth-child(4),
#article-scores-table #tables tbody tr:nth-child(4) {
  border-bottom: 1px dotted #e5e5e5;
}
#article-scores-table #table > p:last-child,
#article-scores-table #tables > p:last-child {
  margin-top: 20px;
  margin-top: 2rem;
  padding-top: 9px;
  padding-top: 0.9rem;
  border-top: 1px dotted #e5e5e5;
}
@media (min-width: 506px) {
  #article-scores-table .primary-detail {
    display: table-cell;
  }
  #article-scores-table #table th,
  #article-scores-table #tables th,
  #article-scores-table #table td,
  #article-scores-table #tables td {
    padding: 5px 1.041666667% 5px 1.041666667%;
    padding: 0.5rem 1.041666667% 0.5rem 1.041666667%;
  }
  #article-scores-table #table th:first-child,
  #article-scores-table #tables th:first-child,
  #article-scores-table #table td:first-child,
  #article-scores-table #tables td:first-child {
    width: 5%;
  }
  #article-scores-table #table th:nth-child(n+3),
  #article-scores-table #tables th:nth-child(n+3),
  #article-scores-table #table td:nth-child(n+3),
  #article-scores-table #tables td:nth-child(n+3) {
    width: 6%;
  }
}
@media (min-width: 640px) {
  #article-scores-table .secondary-detail {
    display: table-cell;
  }
  #article-scores-table #table th,
  #article-scores-table #tables th,
  #article-scores-table #table td,
  #article-scores-table #tables td {
    padding: 5px 0.78125% 5px 0.78125%;
    padding: 0.5rem 0.78125% 0.5rem 0.78125%;
  }
}
@media (min-width: 960px) {
  #article-scores-table .primary-detail,
  #article-scores-table .secondary-detail {
    display: none;
  }
  #article-scores-table #fixtures table th,
  #article-scores-table #results table th,
  #article-scores-table #scores table th,
  #article-scores-table #fixtures table td,
  #article-scores-table #results table td,
  #article-scores-table #scores table td {
    overflow: hidden;
    padding: 2px 3px 2px 3px;
    padding: 0.2rem 3px 0.2rem 3px;
  }
  #article-scores-table #fixtures table td:first-child,
  #article-scores-table #results table td:first-child,
  #article-scores-table #scores table td:first-child,
  #article-scores-table #fixtures table td:nth-child(3),
  #article-scores-table #results table td:nth-child(3),
  #article-scores-table #scores table td:nth-child(3) {
    width: 30%;
  }
  #article-scores-table #fixtures table td:nth-child(2),
  #article-scores-table #results table td:nth-child(2),
  #article-scores-table #scores table td:nth-child(2) {
    width: 25%;
  }
  #article-scores-table #fixtures table td:last-child,
  #article-scores-table #results table td:last-child,
  #article-scores-table #scores table td:last-child {
    display: none;
  }
  #article-scores-table #table th,
  #article-scores-table #tables th,
  #article-scores-table #table td,
  #article-scores-table #tables td {
    padding: 2px 3px 2px 3px;
    padding: 0.2rem 3px 0.2rem 3px;
  }
  #article-scores-table #table th:first-child,
  #article-scores-table #tables th:first-child,
  #article-scores-table #table td:first-child,
  #article-scores-table #tables td:first-child {
    width: 12%;
  }
  #article-scores-table #table th:nth-child(n+3),
  #article-scores-table #tables th:nth-child(n+3),
  #article-scores-table #table td:nth-child(n+3),
  #article-scores-table #tables td:nth-child(n+3) {
    width: 15%;
  }
}
