.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.clear-clear-fix:before,
.clear-clear-fix:after {
  clear: none;
  content: none;
  display: none;
}
br:last-child {
  clear: both;
}
@font-face {
  font-family: "guardian-regular";
  src: url('../fnt/Guardian-Egyp-Web-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "guardian-italic";
  src: url('../fnt/Guardian-Egyp-Web-Regular It.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "guardian-bold";
  src: url('../fnt/Guardian-Egyp-Web-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "guardian-bold-italic";
  src: url('../fnt/Guardian-Egyp-Web-Semibold It.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.article-details,
.list-live-blog-stream-item-details,
.list-live-blog-stream-item-tools {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 16px;
  line-height: 1.6rem;
  list-style: none;
}
.article-rating a,
.live-blog-stream-item-details a {
  color: #e5e5e5;
  text-decoration: none;
}
.article-rating a:hover,
.live-blog-stream-item-details a:hover,
.article-rating a:visited:hover,
.live-blog-stream-item-details a:visited:hover {
  color: #666666;
}
.article-rating a:visited,
.live-blog-stream-item-details a:visited {
  color: #333333;
}
.list-sharing-tools li,
.list-live-blog-stream-item-tools li {
  text-align: center;
}
.list-sharing-tools li a,
.list-live-blog-stream-item-tools li a {
  color: #ffffff;
  text-decoration: none;
}
.list-sharing-tools li a:hover,
.list-live-blog-stream-item-tools li a:hover,
.list-sharing-tools li a:visited:hover,
.list-live-blog-stream-item-tools li a:visited:hover {
  color: #ffffff;
}
.list-sharing-tools li a:visited,
.list-live-blog-stream-item-tools li a:visited {
  color: #ffffff;
}
.live-blog-match-score .home,
.live-blog-match-details .home {
  text-align: right;
}
.live-blog-match-score .score,
.live-blog-match-details .score {
  text-align: center;
}
.live-blog-match-score .away,
.live-blog-match-details .away,
.live-blog-match-score .info,
.live-blog-match-details .info {
  text-align: left;
}
.live-blog-match-score .info,
.live-blog-match-details .info {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  color: #666666;
}
.live-blog-summary {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
}
.live-blog-match-details,
.live-blog-match-comment {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  color: #666666;
}
.live-blog-match-comment {
  font-family: "guardian-bold";
}
.live-blog-match-comment .comment {
  text-align: center;
}
.live-blog-controls dt {
  font-family: "guardian-regular";
}
.live-blog-controls ul {
  list-style: none;
}
.byline-on-ground {
  list-style: none;
}
.article-header-oppm {
  font-size: 24px;
  font-size: 2.4000000000000004rem;
  line-height: 30px;
  line-height: 3rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
figcaption {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: Helmet, Freesans, sans-serif;
  color: #666666;
}
figcaption cite {
  font-size: 10px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 2rem;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}
.article-related p {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
}
.live-blog-stream {
  list-style: none;
}
@media (min-width: 960px) {
  .live-blog-stream .show-hide {
    font-size: 12px;
    font-size: 1.2000000000000002rem;
    line-height: 16px;
    line-height: 1.6rem;
  }
}
.tweet-details,
.tweet-tools {
  list-style: none;
}
.tweet-tools {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 16px;
  line-height: 1.6rem;
}
.article-tags h2 {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 16px;
  line-height: 1.6rem;
  font-family: "guardian-bold";
}
.list-article-tags {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 16px;
  line-height: 1.6rem;
}
.article-normal .article-header .list-sharing-tools,
.article-live-blog-v2 .article-header .list-sharing-tools {
  display: none;
}
.article-normal .article-comments,
.article-live-blog-v2 .article-comments {
  display: none;
}
.article-normal .article-related,
.article-live-blog-v2 .article-related {
  margin: 10px 0px 20px 0px;
  margin: 1rem 0px 2rem 0px;
}
@media (min-width: 750px) {
  .article-normal .article-body,
  .article-live-blog-v2 .article-body,
  .article-normal .article-comments,
  .article-live-blog-v2 .article-comments {
    width: 60%;
  }
  .article-normal .article-body,
  .article-live-blog-v2 .article-body {
    float: left;
  }
  .article-normal .comment-teaser,
  .article-live-blog-v2 .comment-teaser {
    float: right;
    width: 38%;
  }
  .article-normal .article-comments,
  .article-live-blog-v2 .article-comments {
    clear: both;
  }
  .article-normal .article-related,
  .article-live-blog-v2 .article-related {
    float: right;
    clear: both;
    width: 63.333333333%;
    margin-right: -68%;
  }
}
@media (min-width: 960px) {
  .article-normal .wrapper > .article-header,
  .article-live-blog-v2 .wrapper > .article-header {
    width: 60%;
    margin-left: 20%;
  }
  .article-normal .article-header .list-sharing-tools,
  .article-live-blog-v2 .article-header .list-sharing-tools,
  .article-normal .article-body .list-sharing-tools,
  .article-live-blog-v2 .article-body .list-sharing-tools {
    float: left;
    clear: both;
    display: block;
    width: 30%;
    margin-left: -33.333333333%;
  }
  .article-normal .article-body,
  .article-live-blog-v2 .article-body {
    margin-left: 2%;
  }
  .article-normal .article-comments,
  .article-live-blog-v2 .article-comments {
    margin-left: 20%;
  }
  .article-normal .comment-teaser,
  .article-live-blog-v2 .comment-teaser {
    width: 18%;
  }
  .article-normal .article-comments,
  .article-live-blog-v2 .article-comments {
    display: block;
    margin-left: 0;
    padding-right: 20%;
    padding-left: 20%;
  }
  .article-normal .article-comments > h2,
  .article-live-blog-v2 .article-comments > h2 {
    margin-left: -33.333333333%;
  }
  .article-normal .article-related,
  .article-live-blog-v2 .article-related {
    float: none;
    width: 30%;
    margin-right: 0;
  }
  .article-normal .article-related.article-related-left,
  .article-live-blog-v2 .article-related.article-related-left {
    float: left;
    margin-left: -33.333333333%;
  }
  .article-normal .article-related.article-related-right,
  .article-live-blog-v2 .article-related.article-related-right {
    float: right;
    margin-right: -33.333333333%;
  }
}
.article-normal .live-blog-article-insert {
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
.article-normal .live-blog-article-insert .live-blog-stream {
  height: 250px;
  height: 25rem;
}
@media (min-width: 640px) {
  .article-normal .live-blog-article-insert .live-blog-stream {
    height: 300px;
    height: 30rem;
  }
}
.article-live-blog-v2#uk-edition-football .wrapper-squad-sheets.show-hide-parent .article-image {
  display: none;
  -webkit-transition: all 0.2s ease-in-out;
}
.article-live-blog-v2#uk-edition-football .wrapper-squad-sheets.is-expanded .article-image {
  display: block;
}
@media (min-width: 960px) {
  .article-live-blog-v2#uk-edition-uk .article-related,
  .article-live-blog-v2#uk-edition-football .article-related {
    width: 40.909090909%;
  }
  .article-live-blog-v2#uk-edition-uk .article-related-left,
  .article-live-blog-v2#uk-edition-football .article-related-left {
    margin-left: -45.454545455%;
  }
  .article-live-blog-v2#uk-edition-uk .article-related-right,
  .article-live-blog-v2#uk-edition-football .article-related-right {
    margin-right: -45.454545455%;
  }
  .article-live-blog-v2#uk-edition-uk .article-body .live-blog-controls,
  .article-live-blog-v2#uk-edition-uk .article-body .load-more {
    width: 73.333333333%;
  }
  .article-live-blog-v2#uk-edition-uk .live-blog-stream {
    float: left;
    width: 73.333333333%;
  }
  .article-live-blog-v2#uk-edition-uk .live-blog-summary {
    float: right;
    width: 56.666666667%;
    margin-right: -33.333333333%;
  }
  .article-live-blog-v2#uk-edition-football .tabs-container:before,
  .article-live-blog-v2#uk-edition-football .tabs-container:after {
    content: "";
    display: table;
  }
  .article-live-blog-v2#uk-edition-football .tabs-container:after {
    clear: both;
  }
  .article-live-blog-v2#uk-edition-football #live-blog-tab-1 {
    float: left;
    width: 73.333333333%;
  }
  .article-live-blog-v2#uk-edition-football #live-blog-tab-3 {
    float: right;
    width: 56.666666667%;
    margin-right: -33.333333333%;
  }
  .article-live-blog-v2#uk-edition-football .wrapper-live-blog .article-related,
  .article-live-blog-v2#uk-edition-football .wrapper-squad-sheets .article-related {
    width: 30%;
  }
  .article-live-blog-v2#uk-edition-football .wrapper-live-blog .article-related-left,
  .article-live-blog-v2#uk-edition-football .wrapper-squad-sheets .article-related-left {
    margin-left: -33.333333333%;
  }
  .article-live-blog-v2#uk-edition-football .wrapper-live-blog .article-related-right,
  .article-live-blog-v2#uk-edition-football .wrapper-squad-sheets .article-related-right {
    margin-right: -33.333333333%;
  }
}
.list-sharing-tools,
.list-live-blog-stream-item-tools {
  margin-left: 0;
}
.list-sharing-tools li,
.list-live-blog-stream-item-tools li {
  display: inline-block;
  width: 25%;
  border-right: 1px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.list-sharing-tools li:last-child,
.list-live-blog-stream-item-tools li:last-child {
  border-right: none;
}
.list-sharing-tools a,
.list-live-blog-stream-item-tools a {
  display: block;
  padding: 10px 2% 10px 2%;
  padding: 1rem 2% 1rem 2%;
  background: #005689;
}
.list-sharing-tools a:visited,
.list-live-blog-stream-item-tools a:visited {
  background: #005689;
}
.list-sharing-tools a:hover,
.list-live-blog-stream-item-tools a:hover {
  background: #003656;
}
.list-sharing-tools span,
.list-live-blog-stream-item-tools span {
  display: none;
}
.list-live-blog-stream-item-tools {
  margin-bottom: 0;
}
.list-live-blog-stream-item-tools li {
  width: 12.5%;
}
.list-live-blog-stream-item-tools a {
  padding: 5px 2% 5px 2%;
  padding: 0.5rem 2% 0.5rem 2%;
}
@media (min-width: 960px) {
  .list-live-blog-stream-item-tools {
    margin-bottom: 10px;
    margin-bottom: 1rem;
  }
  .list-live-blog-stream-item-tools li {
    width: 8%;
  }
}
.article-section {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
h1 {
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}
.live-blog-match-score,
.live-blog-match-details,
.live-blog-match-comment {
  width: 100%;
  display: table;
  margin-bottom: 0;
}
.live-blog-match-score .home,
.live-blog-match-details .home,
.live-blog-match-score .score,
.live-blog-match-details .score,
.live-blog-match-score .away,
.live-blog-match-details .away,
.live-blog-match-score .info,
.live-blog-match-details .info {
  display: table-cell;
}
.live-blog-match-score .home,
.live-blog-match-details .home,
.live-blog-match-score .away,
.live-blog-match-details .away {
  width: 35%;
}
.live-blog-match-score .score,
.live-blog-match-details .score {
  width: 25%;
}
.live-blog-match-score .info,
.live-blog-match-details .info {
  width: 5%;
}
.live-blog-match-comment {
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}
.live-blog-match-comment .comment {
  display: table-cell;
  width: 95%;
}
.article-details {
  margin: 0px 0px 20px 0px;
  margin: 0rem 0px 2rem 0px;
}
.tabs.live-blog-tabs {
  height: auto;
  border: none;
}
.tabs.live-blog-tabs li {
  width: 33.333333333333336%;
  margin: 0;
}
@media (min-width: 960px) {
  .tabs.live-blog-tabs li {
    width: 50%;
  }
  .tabs.live-blog-tabs li:last-child {
    display: none;
  }
}
.tab-control.live-blog-tab-control {
  padding: 10px 5px 10px 5px;
  padding: 1rem 5px 1rem 5px;
  background: #eeeeee;
  border: none;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
.tab-control.live-blog-tab-control.is-current {
  padding: 10px 5px 10px 5px;
  padding: 1rem 5px 1rem 5px;
  background: #fff;
  border: none;
  border-top: 1px solid #e5e5e5;
  border-right: none;
}
.tab-control.live-blog-tab-control:last-child {
  border-right: none;
}
.tab-control.live-blog-tab-control:hover {
  background: #e5e5e5;
  border: none;
  border-top: 1px solid #fff;
}
.tab-pane.live-blog-tab-pane {
  padding: 0;
  background: none;
  border: none;
}
.list-live-blog-stream-item-details {
  margin: 0px 0px 5px 0px;
  margin: 0rem 0px 0.5rem 0px;
}
.article-comment-count,
.live-blog-stream-item-comment-count,
.article-rating,
.live-blog-stream-item-rating {
  display: inline-block;
}
.article-comment-count,
.live-blog-stream-item-comment-count {
  margin-right: 2%;
  padding-right: 2%;
  border-right: 1px solid #e5e5e5;
}
.article-rating span,
.live-blog-stream-item-rating span {
  display: none;
}
.article-byline {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding: 10px 0px 10px 0px;
  padding: 1rem 0px 1rem 0px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px dotted #e5e5e5;
}
.article-live-blog-v2 .article-body .article-byline {
  margin-bottom: 0;
  border-bottom: none;
}
.article-live-blog-v2 .article-body .article-byline.article-byline-oppm {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding: 10px 0px 10px 0px;
  padding: 1rem 0px 1rem 0px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px dotted #e5e5e5;
}
.article-live-blog-v2 .tab-pane .article-byline {
  border: none;
}
.live-blog-controls {
  margin-left: 0;
  background: #eeeeee;
}
.live-blog-controls ul {
  margin-left: 0;
}
.live-blog-controls-show,
.live-blog-controls-update {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 5px 5px 5px 5px;
  padding: 0.5rem 5px 0.5rem 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.live-blog-controls-show a,
.live-blog-controls-update a {
  display: none;
  vertical-align: top;
}
.live-blog-controls-show .is-selected,
.live-blog-controls-update .is-selected {
  display: block;
}
.live-blog-controls-show dl,
.live-blog-controls-update dl,
.live-blog-controls-show ul,
.live-blog-controls-update ul {
  margin-bottom: 0;
}
.live-blog-controls-show dt,
.live-blog-controls-update dt,
.live-blog-controls-show dd,
.live-blog-controls-update dd {
  display: inline-block;
}
.live-blog-controls-show dt {
  width: 40%;
}
.live-blog-controls-show dd {
  width: 60%;
}
.live-blog-controls-update dt {
  width: 65%;
}
.live-blog-controls-update dd {
  width: 35%;
}
@media (min-width: 960px) {
  .live-blog-summary h2 .show-hide-control {
    display: none;
  }
}
.live-blog-summary-initial,
#live-blog-summary-more {
  margin-bottom: 0;
}
.article-related,
.live-blog-article-insert {
  padding-bottom: 10px;
  padding-bottom: 1rem;
  border-top: 5px solid #e5e5e5;
  border-bottom: 5px solid #e5e5e5;
}
.article-related .article p {
  display: none;
}
@media (min-width: 750px) {
  .article-related .article p {
    display: block;
  }
}
.article-video {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
@media (min-width: 506px) {
  .article-image-portrait {
    float: right;
    width: 49%;
    margin-left: 2%;
  }
}
@media (min-width: 750px) {
  .article-image-portrait {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}
@media (min-width: 960px) {
  .article-image-portrait {
    float: right;
    width: 49%;
    margin-left: 2%;
  }
}
.wrapper-live-blog,
.wrapper-squad-sheets {
  padding-bottom: 10px;
  padding-bottom: 1rem;
  border-top: 5px solid #e5e5e5;
}
.live-blog-stream {
  margin-left: 0;
}
.live-blog-stream .show-hide {
  padding-top: 0;
  border: none;
}
@media (min-width: 960px) {
  .live-blog-stream .show-hide {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    border-top: 2px solid #e5e5e5;
  }
  .live-blog-stream .show-hide-control {
    display: inline-block;
    margin-top: 0;
    padding: 5px 5px 5px 5px;
    padding: 0.5rem 5px 0.5rem 5px;
    background: #e5e5e5;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
    /* IE, Opera, W3C */
  }
  .live-blog-stream .show-hide-control:hover {
    background: #003656;
  }
}
.live-blog-stream-item {
  margin-top: 10px;
  margin-top: 1rem;
  padding-top: 10px;
  padding-top: 1rem;
  border-top: 1px dotted #e5e5e5;
}
.live-blog-stream-item.article-related {
  border-top: 5px solid #e5e5e5;
}
.live-blog-stream-item.is-key-event {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding: 5px 5px 5px 5px;
  padding: 0.5rem 5px 0.5rem 5px;
  background: #eeeeee;
  border: none;
}
.live-blog-stream-item.is-key-event .show-hide {
  margin-bottom: 0;
}
.live-blog-stream-item.is-key-event .show-hide-control {
  background: #e5e5e5;
}
.live-blog-stream-item.is-key-event .show-hide-control:hover {
  background: #005689;
}
.live-blog-stream-item .show-hide {
  clear: none;
}
.live-blog-article-insert .live-blog-stream {
  overflow-y: scroll;
  padding: 5px 5px 5px 5px;
  padding: 0.5rem 5px 0.5rem 5px;
  background: #eeeeee;
  border: 1px solid #e5e5e5;
}
.live-blog-article-insert .live-blog-stream .show-hide {
  padding: 0;
  border: none;
}
.live-blog-article-insert .live-blog-stream .show-hide-control {
  background: #e5e5e5;
}
.live-blog-article-insert .live-blog-stream .show-hide-control:hover {
  background: #005689;
}
.live-blog-article-insert .live-blog-stream .live-blog-stream-item {
  border-top: 1px dotted #cccccc;
}
.live-blog-article-insert .live-blog-stream .is-key-event {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding: 5px 5px 5px 5px;
  padding: 0.5rem 5px 0.5rem 5px;
  background: #e5e5e5;
  border: none;
}
.live-blog-article-insert .live-blog-stream .is-key-event .show-hide {
  margin: 0;
}
.live-blog-article-insert .live-blog-stream .is-key-event .show-hide-control {
  background: #cccccc;
}
.live-blog-article-insert .live-blog-stream .is-key-event .show-hide-control:hover {
  background: #005689;
}
@media (min-width: 960px) {
  .live-blog-article-insert .live-blog-stream {
    padding: 10px 10px 10px 10px;
    padding: 1rem 10px 1rem 10px;
  }
  .live-blog-article-insert .live-blog-stream .show-hide {
    border-top: 1px solid #e5e5e5;
  }
  .live-blog-article-insert .live-blog-stream .is-key-event {
    padding: 10px 10px 10px 10px;
    padding: 1rem 10px 1rem 10px;
  }
  .live-blog-article-insert .live-blog-stream .is-key-event .show-hide {
    border-top: 1px solid #cccccc;
  }
}
.live-blog-embed,
.live-blog-embed.comment,
.live-blog-embed.comment:only-of-type {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  padding: 10px 2% 0px 2%;
  padding: 1rem 2% 0rem 2%;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tweet-details {
  margin-left: 0;
}
.tweet-author-avatar {
  float: left;
  vertical-align: top;
  width: 48px;
  margin: 0px 2% 10px 0px;
  margin: 0rem 2% 1rem 0px;
}
.tweet-follow {
  float: right;
  vertical-align: top;
  margin-top: -20px;
  margin-top: -2rem;
}
.tweet-tools {
  margin-bottom: 0;
  margin-left: 0;
}
.tweet-tools li {
  display: inline-block;
  margin-right: 10px;
}
.tweet-tools li:last-child {
  margin-right: 0;
}
.tweet-tools span {
  display: none;
}
.byline-on-ground {
  margin: 0px 0px 10px 0px;
  margin: 0rem 0px 1rem 0px;
  padding: 0px 0px 10px 0px;
  padding: 0rem 0px 1rem 0px;
  border-bottom: 1px dotted #e5e5e5;
}
.byline-on-ground:before,
.byline-on-ground:after {
  content: "";
  display: table;
}
.byline-on-ground:after {
  clear: both;
}
.byline-on-ground .author-avatar,
.byline-on-ground .author-details {
  float: left;
  vertical-align: top;
}
.byline-on-ground .author-avatar {
  width: 13.333333333333334%;
  max-width: 13.333333333333334%;
  margin-right: 3.3333333333333335%;
}
.byline-on-ground .author-details {
  width: 83.33333333333334%;
  max-width: 83.33333333333334%;
}
@media (min-width: 506px) {
  .byline-on-ground .author-avatar {
    width: 8.695652173913043%;
    max-width: 8.695652173913043%;
    margin-right: 2.1739130434782608%;
  }
  .byline-on-ground .author-details {
    width: 89.13043478260869%;
    max-width: 89.13043478260869%;
  }
}
.show-hide-continue-reading,
.show-hide-summary {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}
@media (min-width: 960px) {
  .wrapper-team-details:before,
  .wrapper-team-details:after {
    content: "";
    display: table;
  }
  .wrapper-team-details:after {
    clear: both;
  }
  .wrapper-team-details .article-related {
    clear: none;
  }
}
@media (min-width: 960px) {
  .team-details {
    width: 49%;
  }
}
@media (min-width: 960px) {
  .team-details-home {
    float: left;
  }
}
@media (min-width: 960px) {
  .team-details-away {
    float: right;
  }
}
.article-tags h2 {
  margin-bottom: 0;
}
.list-article-tags {
  margin-left: 0;
}
.list-article-tags li {
  display: inline-block;
}
.list-article-tags li:after {
  content: ",";
}
.list-article-tags li:last-child:after {
  content: none;
}
@media (min-width: 960px) {
  .article-comments {
    border-top: 5px solid #e5e5e5;
  }
}
.article-comments-close {
  display: none;
}
