
// --------------------------------------------------------------------------------------------------------------------------------------
// Table of contents
// --------------------------------------------------
// 1.0 imports
// 2.0 variables
// 3.0 general
// 4.0 type
// 5.0 layout
// 6.0 modules
// --------------------------------------------------------------------------------------------------------------------------------------

// 1.0 imports
// --------------------------------------------------------------------------------------------------------------------------------------

@import "base";
@import "colors";

// 2.0 variables
// --------------------------------------------------------------------------------------------------------------------------------------

// 3.0 general
// --------------------------------------------------------------------------------------------------------------------------------------

body {
	background:$background;
}

#wrapper-demo {
	width:1200px;
	height:100%;
	margin: 20px auto;
}

// 6.0 modules
// -------------------------------------------------------------------------------------------------------------------------------------------------
.comparison {
	@include clear-fix;
	margin:(20px 0 20px 0);
	height:100%;
	iframe {
		height:410px;
		background:#fff;
		position:relative;
		border:1px solid #000;
	}
}

.mobile, .desktop {
	float:left;
}

.mobile, .tablet {
	margin-bottom:(10px);
}

.mobile {
	width:320px;
}

.tablet {
	float:right;
	width:768px;
}

.desktop {
	width:1205px;
	@include margin-bottom(50);
}

