// --------------------------------------------------------------------------------------------------------------------------------------------
// Table of contents
// --------------------------------------------------
// 1.0 imports
// 2.0 variables
// 3.0 general
// 4.0 type
// 5.0 layout
// 6.0 modules
// --------------------------------------------------------------------------------------------------------------------------------------------

// 1.0 imports
// --------------------------------------------------------------------------------------------------------------------------------------------
	
	@import 'base';
	@import 'breakpoints';
	@import 'colors';

// 2.0 variables
// --------------------------------------------------------------------------------------------------------------------------------------------

// 3.0 general
// --------------------------------------------------------------------------------------------------------------------------------------------

.match-statistics {
	ul {
		list-style:none;
	}
}

.football-scores {
	td:first-child {
		text-align:right;
	}
	td:nth-child(2) {
		text-align:center;
	}
}

.football-scores, .football-league-table {
	@media (min-width:$medium-large) {
		@include font-size(11,20);
	}
}


// 5.0 layout
// -------------------------------------------------------------------------------------------------------------------------------------------------

// 6.0 modules
// -------------------------------------------------------------------------------------------------------------------------------------------------
.match-statistics {
	@include margin-top(10);
	dl {
		@include margin-bottom(10);
		@include padding-bottom(9);
		border-bottom:1px dotted $light-grey;
		@include clear-fix;
		&:last-child {
			@include margin-bottom(20);
			padding:0;
			border:none;
			dd:nth-of-type(-n+2) {
				@include margin-bottom(20);
			}
		}
		ul {
			width:48%;
			margin:0;
			&:first-child {
				float:left;
			}
			&:first-child {
				float:right;
			}
			&:only-child {
				float:none;
				width:100%;
				li {
					float:left;
					width:50%;
					padding:3px;
					@include box-sizing;
					&:first-child {
						text-align:right;
						background:$light-grey;
					}
					&:last-child {
						text-align:left;
						background:$background;
					}
				}
			}
		}
	}
}

.football-scores {
	width:100%;
	@include margin-bottom(20);
	&:last-of-type {
		margin-bottom:0;
	}
	tr {
		background:$background;
		&[data-is-link="true"] {
			color:$link;
			cursor:pointer;
			&:hover {
				color:$link-hover;
				background:$light-grey;
			}
			&:visited {
				color:$link-visited;
			}
		}
	}
	th, td {
		vertical-align:top;
		//@include padding(5,1.666666667%,5,1.666666667%);
		@include box-sizing;
	}
	td:first-child, td:nth-child(3) {
		width:34%;
	}
	td:nth-child(2) {
		width:15%;
	}
	td:last-child {
		width:18%;
	}
}

.live-blog-summary {
	.live-blog-summary-initial {
		margin-bottom:0;
	}
}

.football-league-table {
	width:100%;
	@include margin-bottom(20);
	tbody {
		tr:first-child, tr:nth-child(4), tr:nth-last-child(4) {
			td {
				border-collapse:collapse;
				border-bottom:2px solid $light-grey;
			}
		}
	}
	tr {
		background:$background;
		&[data-is-link="true"] {
			cursor:pointer;
			&:hover {
				background:$light-grey;
			}
		}
	}
	thead {
		tr {
			&:nth-child(n) {
				background:transparent;
			}
			&:first-child {
				th {
					text-align:center;
				}
			}
		}
	}
	th, td {
		text-align:right;
		vertical-align:top;
		padding:3px;
		@include box-sizing;
		&:nth-child(2) {
			text-align:left;
		}
	}
	th:first-child, td:first-child {
		width:7%;
	}
	th:nth-child(n+3), td:nth-child(n+3) {
		width:8%;
	}
	.primary-detail, .secondary-detail, .full-detail {
		display:none;
	}
	// @media (min-width:@medium-large) {
	// 	th:nth-child(3), th:nth-last-child(2), td:nth-child(3), td:nth-last-child(2) {
	// 		display:none;
	// 	}
	// }
}