// --------------------------------------------------------------------------------------------------------------------------------------------
// Table of contents
// --------------------------------------------------
// 1.0 imports
// 2.0 variables
// 3.0 general
// 4.0 type
// 5.0 layout
// 6.0 modules
// --------------------------------------------------------------------------------------------------------------------------------------------

@import "breakpoints";
@import "colors";

// 1.0 modules
// -------------------------------------------------------------------------------------------------------------------------------------------------

html {
	font-family:$serif;
	list-style-type: none;
}

body{
	margin:0;
	font-size:15/20;
	color:$copy;
	text-rendering:optimizeLegibility;
}

.showhide {
        color:$link;
        cursor: pointer; cursor: hand;
        &:hover{
                text-decoration:underline;
        }
}

.background {
        background:url("../img/library-bg.jpg") top left repeat;
}



#home{
	margin: 0px auto;
	width:70%;
	max-width:880px;
	
}

html {
	font-family:$serif;
	list-style-type: none;
	}

body{
	@include background-container;
	&.work{
		background:$link-white;
		margin:0 auto;
	}
}

#wrapper {
	@include content-container;
}

.container {
	//background: lime;
	margin:0 auto;
	width:940px;	
}

.container-controls{
	@include clear-fix;
	text-align:center;
	margin-top:-30px;
	li{
		display:inline;
		margin-right:10px;
	}
}

#container-section{
	//background:$code-grey;
	//padding-bottom:10px;
}

article{
	margin:-5px auto;
	position:relative;
 	right:50px;
	width:100%;
	max-width:580px;
	&:h1{
		margin-top:-60px;
	}
}

aside{
	margin-bottom: -60px;
	p{
		line-height:18px;
	}
	h4{
		width:200px;
	}
	&.left{
		width:200px;
		float:left;
		margin: 0 0 0 0;
	}
	&.right{
		float:right;
		width:300px;
		margin: 0px -10px 0 0;
	}
	&.header{
		margin-top:30px;
	}
}

.icon-stack {
	margin-top:5px;
	padding:5px;
}

.icon-circle {}

.col {
	float:left;
	margin-left:$gs-gutter+10px;
	margin-right:$gs-gutter/2;
	li{
		display:inline;
	}
}


.gs-wrapper {
	overflow: hidden;
	margin:0 auto;
	//background: red;
	margin-right: $gs-gutter/2;
	margin-left: $gs-gutter/2;

	@include mq(mobileLandscape) {
		margin-right: $gs-gutter;
		margin-left: $gs-gutter;
	}
}

.last{
	margin-right:0;
}

@each $breakpoint in $mq-breakpoints {
	@for $i from 1 through $gs-max-columns {
		@include mq(nth($breakpoint, 1)) {
			.col-#{nth($breakpoint, 1)}-#{$i} { 
				width:gs-span($i); 
			}
		}
	}
}


.test{
 width:gs-span(10);
 background:$dark-grey;
}

.test-2{
 width:gs-span(2);
 background:lime;
}

.framework-container{
	width:100%;
	float:left;
}

.framework-column-left{
	width: 100%;
	//float: left;
	//position: relative;
	margin: 0 auto ;
	padding:30px 10px 30px 22px;
	background:$framework-nav-light;
	border: 1px solid $light-grey;
	z-index:10;
	border-radius: 5px;
	li {
		//float:left;
		margin:0;
		padding:0;
		width:100%;
		list-style-type: none;
		line-height:1.2em;
	}
	h3{
		margin:-5px 0 10px 0;
	}
}


.framework-column-right{
	width:80%;
	float:right;
	margin-top:-15px;
}

.fixed {
	position: fixed;
    top:100px;
    width: 200px;
	float: left;
	&.advert{
		position: fixed;
	    top:50px;
	    width: 300px;
		float: right;
	}
}

.list-block {
	//float:left;
	padding:10px;
	margin-top:10px;
	&.setup{
		margin:0 0 5px 40px;
		
	}
}


.live-latest {
	font-size:(10 / 10) * 0.5em;
	font-family:$sans-serif;
	font-weight:bold;
	font-style:normal;
	text-transform:uppercase;
	color:#fff;
	background:$highlight;	
	padding:2px;
}


// 2.0 Welcome screen
// -------------------------------------------------------------------------------------------------------------------------------------------------

.welcome {
  text-align: center;
  margin: 50px;
  //top:80px;
  left:0;
  right:0;
  //bottom:0;
  //position:relative;
}
 
.welcome:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
 }
 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width:600px
  //padding: 10px 15px 0 0;
 
 }

// 2.0 Columns
// -------------------------------------------------------------------------------------------------------------------------------------------------

.column {
	
	@media (min-width:$small){
		width:300px;
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
		padding:0; margin:30px 0 0 20px;
		
		li:nth-child(n+2) {
			display:inline;
			//background:lime;
			}
		
			li {
			    break-after: always;
			    -moz-column-break-after: always;
			    -webkit-column-break-after: always;
			}
	
	}
	
	
	@media (min-width:$medium){
		width:600px;
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
		padding:0; margin:30px 0 0 20px;


		li:nth-child(n+3) {
			//display:block;
			display:block;
			background:darken($framework-nav, 30%);
			//float:left;
			}
		
			li {
			    break-after: always;
			    -moz-column-break-after: always;
			    -webkit-column-break-after: always;
			}
	
	}
	
	
	@media (min-width:$medium-large) {
		width:880px;
		-moz-column-count:4;
		-webkit-column-count:4;
		column-count:4;
		padding:0; margin:30px 0 0 20px;
	
		li:nth-child(n+2) {
			display:block;
			//background:aqua;
			}
	
			li {
			    break-after: always;
			    -moz-column-break-after: always;
			    -webkit-column-break-after: always;
			}
	
		}
	
	}


.column li {
	//width:24%;
	list-style:none;
	padding:10px; margin:0;
	//font-size:1.0em;
	h3{
    	color:$link-white;
    	font-size:20px;
    }
	
	
}

.message-container{
	left: 0;
	right:0;
	height:100%;
	color:$link-white;
	background:$dark-grey;
	border-bottom: 1px solid $grey;
	margin:0;
	padding:10px;
	
	.message-bar {
		width:1200px;
		margin:0 auto;
		padding:7px;
		text-align:left;
	}
}
