// --------------------------------------------------------------------------------------------------------------------------------------------
// Table of contents
// --------------------------------------------------
// 1.0 imports
// 2.0 variables
// 3.0 general
// 4.0 type
// 5.0 layout
// 6.0 modules
// --------------------------------------------------------------------------------------------------------------------------------------------

// 1.0 imports
// --------------------------------------------------------------------------------------------------------------------------------------------

// 2.0 variables
// --------------------------------------------------------------------------------------------------------------------------------------------

@mixin font-size($sizeValue: 12 ){
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.125 * $sizeValue) + rem;
}

@mixin line-height($heightValue: 14 ){
	line-height: $heightValue + px; //fallback for old browsers
	line-height: (0.125 * $heightValue) + rem;
}

// 3.0 general
// --------------------------------------------------------------------------------------------------------------------------------------------

// 4.0 type
// --------------------------------------------------------------------------------------------------------------------------------------------

h1, h2, h3, h4, li {
	font-weight:normal;
}

h1 {
	@media (min-width:$small){
		color: $copy; 
		font-family: $serif; 
		font-size:(18 /10) * 1em;
		font-weight:bold;
		line-height:1.1em;
		//margin: 30px 0 20px 0;
	}

	@media (min-width:$medium) {
		font-size:(24 /10) * 1.5em;
		line-height:60px;
	}

	@media (min-width:$large) {
		font-size:(24 /10) * 1.5em;
		line-height:60px;
	}
}


h2 {
	color:$copy;
	font-family: $serif; 
	font-size:(20 / 14) * 0.6em;
	margin:10;
	padding:0;
	@media (max-width:$small){
		font-weight:light;
	}
}

h3 {
	@include clear-fix;
	font-size:(16 / 14) * 1em;
	font-family:$serif;
	margin:0;
	padding:0;
}

h4 {
	font-size:15;
	font-family:$serif-bold;
	margin:5,0,5,0;
	//float:left;
}

ul{
	list-style-type: none;
	width:100%;
	padding:0;
	margin:0;
	float:left;
}
li {
	list-style-type: square;
	font-size:(13 / 14) * 1em;
	line-height:1.6em;
	text-decoration:none
}


p {
	@include clear-fix;
	font-size:(18 / 14) * 1em;
	line-height:1.4em;

	&.editor-name{
		font-size:(12 / 14) * 1em;
		line-height:1.4em;
	}
}

dd{
	color:$semi-grey;
	padding:0;
	margin:10px 0 0 0;
    }

strong, th, dt {
	font-family:$serif-bold;
	font-weight:normal;
	padding:0;
	margin:0;

}

// 5.0 layout
// --------------------------------------------------------------------------------------------------------------------------------------------

// 6.0 modules
// --------------------------------------------------------------------------------------------------------------------------------------------



.signoff {
	font-family:$serif;
	font-weight:normal;
	padding:10px;
	margin:0;
	color:$grey;
	text-align:center;
}

.work-landing {
	
	font-family: $serif; 
	font-size:(24 / 14) * 1em;
	font-weight:bold;
}

.sub {
	@extend .work-landing;
	font-size:(24 / 14) * 1em;
	margin-top:-15px;
	color:$link;
}

sub {
	font-size:(10 / 14) * 1em;
	margin-top:-15px;
	color:$semi-grey;
}

.quote {
	font-size:(20 / 14) * 1em;
	font-style:italic;
	margin:-5px 0 0 0;
	&.small{
		@extend .quote;
		font-size:(14 / 14) * 1em;
	}
	&.quote-standout{
		//float:left;
		margin-left:0px;
		display:inline;
	}
	img{
		width:8%;	
	}
}


.summary {
	@extend .work-landing;
	font-size:(24 / 14) * 1em;
	color:$copy;
	&.article{
		text-align:left;
		margin-top:-20px;
		font-size:18px;
	}
}

.body-copy{
	@extend .summary;
	font-size:(10 / 14) * .9em;
	margin-top:-15px;
}

.scrolltoview {
	@extend .work-landing;
	font-size:(24 / 14) * 1em;
	color:$link;
	bottom:0;
}

.note {
  background: #f9ff9b;
  padding-left: 15px;
  border-left: 4px solid #dae800;
  width: 97%;
  margin-bottom: 10px; 
  p{
  	font-size:14px;
  	color:$copy;
  }
}

.article-comment-count {
	font-size:13px;
}

.container-header {
	font-size:20px;
	font-family:$serif-bold;
	&.large{
		font-size:(24 / 14) * 1em;
		font-family:$serif;
		line-height: 24px;
	}
	&.medium{
		font-size:(18 / 14) * 1em;
		font-family:$serif;
		line-height: 20px;
	}
	&.small{
		font-size:(16 / 14) * 1em;
		font-family:$serif;
		line-height: 20px;
		//margin:-5px 0 -10px 0;
	}
}

.header{
	font-size:18px;
}

.theday{
	
}


