.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.reset {
  margin: 0;
  padding: 0;
  border: none;
}
/* structure
--------------------------------------------------*/
article {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding-bottom: 9px;
  padding-bottom: 0.9rem;
  border-bottom: 1px dotted #cccccc;
}
article:last-of-type {
  padding: 0;
  border: none;
}
article h2 {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
article h2 img {
  display: none;
}
article p {
  clear: both;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
article h3 {
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}
article h4 img {
  display: none;
}
.small[data-has-pictures="yes"] h2 img,
.small-medium[data-has-pictures="yes"] h2 img,
.medium[data-has-pictures="yes"] h2 img,
.medium-large[data-has-pictures="yes"] h2 img,
.large[data-has-pictures="yes"] h2 img,
.nuclear[data-has-pictures="yes"] h2 img {
  display: block;
}
.small h4 img,
.small-medium h4 img,
.medium h4 img {
  display: none;
}
.small h2 img,
.small-medium h2 img,
.medium h2 img,
.medium-large h2 img {
  float: left;
  margin-right: 2%;
}
.medium h3,
.medium-large h3,
.medium .related-items li:nth-child(n+3),
.medium-large .related-items li:nth-child(n+3) {
  display: none;
}
.medium p,
.medium-large p,
.large p,
.nuclear p,
.medium h3,
.medium-large h3,
.large h3,
.nuclear h3,
.medium .related-items,
.medium-large .related-items,
.large .related-items,
.nuclear .related-items {
  display: block;
}
.medium-large .related-items li,
.large .related-items li,
.nuclear .related-items li {
  margin-top: 5px;
  margin-top: 0.5rem;
  padding-top: 4px;
  padding-top: 0.4rem;
  border-top: 1px solid #eeeeee;
}
.medium-large .related-items li:first-child,
.large .related-items li:first-child,
.nuclear .related-items li:first-child {
  margin: 0;
  padding: 0;
  border: none;
}
.medium-large[data-has-pictures="yes"] h4 img,
.large[data-has-pictures="yes"] h4 img,
.nuclear[data-has-pictures="yes"] h4 img {
  float: left;
  display: block;
  width: 20%;
  margin-right: 2%;
}
.medium h2 img,
.medium-large h2 img,
.large h2 img {
  float: left;
  width: 41.66666666666667%;
  margin: 0px 2% 10px 0px;
  margin: 0rem 2% 1rem 0px;
}
.large .related-items li:nth-child(n),
.nuclear .related-items li:nth-child(n) {
  display: block;
}
.large .related-items li:nth-child(n+4),
.nuclear .related-items li:nth-child(n+4) {
  margin: 0;
  padding: 0;
  border: none;
}
.small h2 {
  margin: 0;
}
.small h2:before,
.small h2:after {
  content: "";
  display: table;
}
.small h2:after {
  clear: both;
}
.small h2 img {
  width: 33.33333333333333%;
}
.small p,
.small h3,
.small .related-items {
  display: none;
}
.small-medium h2 img {
  float: left;
  width: 33.33333333333333%;
  margin: 0px 2% 10px 0px;
  margin: 0rem 2% 1rem 0px;
}
.small-medium p {
  clear: both;
  display: block;
  margin: 0;
}
.small-medium h3,
.small-medium .related-items {
  display: none;
}
/* typography
--------------------------------------------------*/
article h2 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 30px;
  line-height: 3rem;
}
article h3 {
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
}
article .related-items {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
}
.small h2 {
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
}
.small-medium h2,
.medium h2,
.medium-large h2,
.large h2 {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
}
.medium-large .related-items li:nth-child(-n+2) h4 {
  font-family: "guardian-bold";
}
.large h2,
.large .related-items li:nth-child(-n+2) h4 {
  font-family: "guardian-bold";
}
