.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.reset {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
}
.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.reset {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
}
/* general
--------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-text-size-adjust: none;
}
body {
  text-align: center;
}
.wrapper {
  width: 93.75%;
  width: 93.75%;
  text-align: left;
  margin: 0 auto;
}
header,
hgroup,
nav,
footer,
section,
article,
figure,
figcaption {
  display: block;
}
a {
  color: #005689;
  text-decoration: none;
}
a:hover {
  color: #003656;
}
a:visited {
  color: #0076bc;
}
header {
  border-bottom: 1px solid #cccccc;
}
header .branding {
  position: relative;
  width: 120px;
  height: 21px;
  overflow: hidden;
  margin: 10px 0px 9px 0px;
  margin: 1rem 0px 0.9rem 0px;
  margin: 10px 0px 9px 0px;
  margin: 1rem 0px 0.9rem 0px;
}
header .branding a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 21px;
  background: url("/img/logo.gif") center center no-repeat;
  background-size: 120px 21px;
  border: none;
}
nav:before,
nav:after {
  content: "";
  display: table;
}
nav:after {
  clear: both;
}
nav:before,
nav:after {
  content: "";
  display: table;
}
nav:after {
  clear: both;
}
nav ul li,
nav ol li {
  padding: 10px 0px 10px 0px;
  padding: 1rem 0px 1rem 0px;
  padding: 10px 0px 10px 0px;
  padding: 1rem 0px 1rem 0px;
  border-bottom: 1px solid #eeeeee;
}
nav ul li:last-child,
nav ol li:last-child {
  border: none;
}
#navigation-controls {
  text-align: right;
  margin: -30px 0px 9px 0px;
  margin: -3rem 0px 0.9rem 0px;
  margin: -30px 0px 9px 0px;
  margin: -3rem 0px 0.9rem 0px;
}
#navigation-controls li {
  display: inline-block;
}
#navigation-controls li:first-child {
  margin-right: 6%;
}
strong.live-latest {
  padding: 2px;
}
h1 {
  margin: 20px 0px 20px 0px;
  margin: 2rem 0px 2rem 0px;
  margin: 20px 0px 20px 0px;
  margin: 2rem 0px 2rem 0px;
}
footer {
  border-top: 1px solid #cccccc;
}
footer li {
  width: 48.333333333333336%;
  width: 48.333333333333336%;
}
footer li:nth-child(odd) {
  float: left;
}
footer li:nth-child(even) {
  float: right;
}
footer li:last-child {
  clear: both;
  width: 100%;
}
.advert {
  text-align: center;
  margin: 0;
  padding: 5px 0px 5px 0px;
  padding: 0.5rem 0px 0.5rem 0px;
  padding: 5px 0px 5px 0px;
  padding: 0.5rem 0px 0.5rem 0px;
  border: none;
}
.sponsor {
  text-align: right;
  margin-top: -10px;
  margin-top: -1rem;
  margin-top: -10px;
  margin-top: -1rem;
}
.sponsor img {
  width: 30%;
  vertical-align: bottom;
}
/* typography
--------------------------------------------------*/
html {
  font-size: 62.5%;
}
body {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  color: #333333;
  text-rendering: optimizeLegibility;
}
nav h2 {
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
}
nav ol,
nav ul {
  list-style: none;
}
#navigation-controls {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
}
strong.live-latest {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
  font-size: 1rem;
  line-height: 10px;
  line-height: 1rem;
  font-size: 10px;
  font-size: 1rem;
  line-height: 10px;
  line-height: 1rem;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
  font-size: 1rem;
  line-height: 10px;
  line-height: 1rem;
  font-size: 10px;
  font-size: 1rem;
  line-height: 10px;
  line-height: 1rem;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  background: #cc0000;
}
h1,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  vertical-align: baseline;
}
h1 {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 24px;
  font-size: 2.4000000000000004rem;
  line-height: 30px;
  line-height: 3rem;
  font-size: 24px;
  font-size: 2.4000000000000004rem;
  line-height: 30px;
  line-height: 3rem;
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 24px;
  font-size: 2.4000000000000004rem;
  line-height: 30px;
  line-height: 3rem;
  font-size: 24px;
  font-size: 2.4000000000000004rem;
  line-height: 30px;
  line-height: 3rem;
}
.standfirst {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  margin: 0px 0px 20px 0px;
  margin: 0rem 0px 2rem 0px;
  margin: 0px 0px 20px 0px;
  margin: 0rem 0px 2rem 0px;
  color: #666666;
}
footer {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
}
.sponsor {
  font-family: helvetica, sans-serif;
  font-weight: normal;
  font-size: 10px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 10px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: helvetica, sans-serif;
  font-weight: normal;
  font-size: 10px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 10px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 2rem;
  text-transform: uppercase;
}
/* structure
--------------------------------------------------*/
article {
  position: relative;
}
article > section .load-more {
  padding: 0px 0px 9px 0px;
  padding: 0rem 0px 0.9rem 0px;
  padding: 0px 0px 9px 0px;
  padding: 0rem 0px 0.9rem 0px;
  border-bottom: 1px solid #eeeeee;
}
article > section .load-more strong {
  float: right;
}
.score {
  width: 100%;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  background: #fff;
}
.score tr:first-of-type {
  background: #cccccc;
}
.score tr:last-of-type {
  background: #eeeeee;
}
.score td {
  padding: 5px 5px 5px 5px;
  padding: 0.5rem 5px 0.5rem 5px;
  padding: 5px 5px 5px 5px;
  padding: 0.5rem 5px 0.5rem 5px;
}
.score th,
.score td {
  width: 40%;
}
.score th:first-of-type,
.score td:first-of-type {
  text-align: right;
}
.score th:nth-of-type(2),
.score td:nth-of-type(2) {
  width: 20%;
  text-align: center;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px 3.333333333% 20px 3.333333333%;
  padding: 0rem 3.333333333% 2rem 3.333333333%;
  padding: 0px 3.333333333% 20px 3.333333333%;
  padding: 0rem 3.333333333% 2rem 3.333333333%;
}
.tabs {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  border-top: 1px solid #cccccc;
}
.tabs li {
  display: inline-block;
  width: 33.333333333333336%;
  border-right: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.tabs li:last-child {
  border-right: none;
}
.tabs li a {
  display: block;
  padding: 10px 2% 10px 2%;
  padding: 1rem 2% 1rem 2%;
  padding: 10px 2% 10px 2%;
  padding: 1rem 2% 1rem 2%;
  border-bottom: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.tabs li a.selected {
  color: #333333;
  border-bottom: 1px solid #fff;
}
dl {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
dl dd {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
dl dd:last-of-type {
  margin-bottom: 0;
}
.load-more {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  padding: 9px 0px 9px 0px;
  padding: 0.9rem 0px 0.9rem 0px;
  padding: 9px 0px 9px 0px;
  padding: 0.9rem 0px 0.9rem 0px;
}
#live div[role="presentation"] {
  overflow: hidden;
}
#live .load-more:last-child {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  padding: 9px 0px 9px 0px;
  padding: 0.9rem 0px 0.9rem 0px;
  padding: 9px 0px 9px 0px;
  padding: 0.9rem 0px 0.9rem 0px;
  border: none;
  border-top: 1px solid #eeeeee;
}
#statistics dl {
  clear: both;
}
#statistics dl ul {
  width: 43.333333333333336%;
  width: 43.333333333333336%;
  list-style: none;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
#statistics dl ul:first-child {
  float: left;
  text-align: right;
}
#statistics dl ul:last-child {
  float: right;
}
#statistics dl.possession ul,
#statistics dl.attempts ul,
#statistics dl.on-target ul,
#statistics dl.corners ul,
#statistics dl.fouls ul,
#statistics dl.offside ul {
  width: 100%;
}
#statistics dl.possession ul li,
#statistics dl.attempts ul li,
#statistics dl.on-target ul li,
#statistics dl.corners ul li,
#statistics dl.fouls ul li,
#statistics dl.offside ul li {
  width: 43.333333333333336%;
  width: 43.333333333333336%;
  padding: 10px 4% 10px 4%;
  padding: 1rem 4% 1rem 4%;
  padding: 10px 4% 10px 4%;
  padding: 1rem 4% 1rem 4%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#statistics dl.possession ul li:first-child,
#statistics dl.attempts ul li:first-child,
#statistics dl.on-target ul li:first-child,
#statistics dl.corners ul li:first-child,
#statistics dl.fouls ul li:first-child,
#statistics dl.offside ul li:first-child {
  float: left;
  text-align: right;
  background: #cccccc;
}
#statistics dl.possession ul li:last-child,
#statistics dl.attempts ul li:last-child,
#statistics dl.on-target ul li:last-child,
#statistics dl.corners ul li:last-child,
#statistics dl.fouls ul li:last-child,
#statistics dl.offside ul li:last-child {
  float: right;
  text-align: left;
  background: #eeeeee;
}
#gallery div {
  height: 280px;
  height: 28rem;
  height: 280px;
  height: 28rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  background: #cccccc;
}
/* typography
--------------------------------------------------*/
dl dt {
  font-family: "guardian-bold";
}
