.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.reset {
  margin: 0;
  padding: 0;
  border: none;
}
/* general
--------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-text-size-adjust: none;
}
body {
  text-align: center;
}
.wrapper {
  width: 93.75%;
  text-align: left;
  margin: 0 auto;
}
a {
  color: #005689;
  text-decoration: none;
}
a:hover {
  color: #003656;
}
a:visited {
  color: #0076bc;
}
header .branding {
  position: relative;
  width: 120px;
  height: 21px;
  overflow: hidden;
  margin: 10px 0px 9px 0px;
  margin: 1rem 0px 0.9rem 0px;
}
header .branding a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 21px;
  background: url("/img/logo.gif") center center no-repeat;
  background-size: 120px 21px;
  border: none;
}
nav:before,
nav:after {
  content: "";
  display: table;
}
nav:after {
  clear: both;
}
nav ul li,
nav ol li {
  padding: 10px 0px 10px 0px;
  padding: 1rem 0px 1rem 0px;
  border-bottom: 1px solid #eeeeee;
}
nav ul li:last-child,
nav ol li:last-child {
  border: none;
}
#search {
  clear: both;
  padding: 10px 0px 10px 0px;
  padding: 1rem 0px 1rem 0px;
}
#search input {
  padding: 10px 2% 10px 2%;
  padding: 1rem 2% 1rem 2%;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 0;
}
#search input[type="text"] {
  width: 75%;
}
#search input[type="button"] {
  width: 25%;
  background: #cccccc;
  cursor: pointer;
}
.content {
  height: 2000px;
  height: 200rem;
  margin: 20px 0px 20px 0px;
  margin: 2rem 0px 2rem 0px;
  padding: 5px 5px 5px 5px;
  padding: 0.5rem 5px 0.5rem 5px;
  background: #eeeeee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
footer {
  border-top: 1px solid #cccccc;
}
footer li {
  width: 48.333333333333336%;
}
footer li:nth-child(odd) {
  float: left;
}
footer li:nth-child(even) {
  float: right;
}
footer li:last-child {
  clear: both;
  width: 100%;
}
#navigation-one #navigation-controls {
  border-top: 1px solid #cccccc;
}
#navigation-one #navigation-controls li {
  display: inline-block;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#navigation-one #navigation-controls li:first-child {
  border-right: 1px solid #cccccc;
}
#navigation-one #navigation-controls li a {
  display: block;
  padding: 10px 2% 10px 2%;
  padding: 1rem 2% 1rem 2%;
  border-bottom: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#navigation-one #navigation-controls li a.selected {
  border-bottom: 1px solid #fff;
}
#navigation-one #primary-navigation,
#navigation-one #search {
  display: none;
  border-bottom: 1px solid #cccccc;
}
#navigation-one #primary-navigation div {
  width: 48.333333333333336%;
  padding-top: 10px;
  padding-top: 1rem;
}
#navigation-one #primary-navigation div:first-child {
  float: left;
}
#navigation-one #primary-navigation div:last-child {
  float: right;
}
#navigation-two header {
  border-bottom: 1px solid #cccccc;
}
#navigation-two #navigation-controls {
  text-align: right;
  margin: -30px 0px 9px 0px;
  margin: -3rem 0px 0.9rem 0px;
}
#navigation-two #navigation-controls li {
  display: inline-block;
}
#navigation-two #navigation-controls li:first-child {
  margin-right: 6%;
}
#navigation-two #primary-navigation {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #eeeeee;
}
#navigation-two #primary-navigation div:first-child,
#navigation-two #primary-navigation h2 {
  display: none;
}
#navigation-two footer {
  border-top: 1px solid #eeeeee;
}
#navigation-three #navigation-controls {
  border-top: 1px solid #cccccc;
}
#navigation-three #navigation-controls li {
  display: inline-block;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#navigation-three #navigation-controls li:first-child {
  border-right: 1px solid #cccccc;
}
#navigation-three #navigation-controls li a {
  display: block;
  padding: 10px 2% 10px 2%;
  padding: 1rem 2% 1rem 2%;
  border-bottom: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#navigation-three #navigation-controls li a.selected {
  border-bottom: 1px solid #fff;
}
#navigation-three #primary-navigation,
#navigation-three #search {
  display: none;
  border-bottom: 1px solid #cccccc;
}
#navigation-three #primary-navigation {
  overflow-x: scroll;
  overflow-y: hidden;
}
#navigation-three #primary-navigation div {
  width: 726.6666666666666%;
  padding: 10px 0px 10px 0px;
  padding: 1rem 0px 1rem 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#navigation-three #primary-navigation article {
  width: 9.174311926605505%;
  vertical-align: top;
  display: inline-block;
  margin-right: .458715596%;
  padding-right: .412844037%;
  border-right: 1px solid #eeeeee;
}
#navigation-three #primary-navigation article:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
#navigation-three #primary-navigation article img {
  float: left;
  width: 30%;
  margin-right: 2%;
}
#navigation-three #primary-navigation article h3:before,
#navigation-three #primary-navigation article h3:after {
  content: "";
  display: table;
}
#navigation-three #primary-navigation article h3:after {
  clear: both;
}
#navigation-four header {
  border-bottom: 1px solid #cccccc;
}
#navigation-four .branding {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#navigation-four #navigation-controls {
  list-style: none;
  margin: -30px 0px 9px 0px;
  margin: -3rem 0px 0.9rem 0px;
}
#navigation-four #navigation-controls:before,
#navigation-four #navigation-controls:after {
  content: "";
  display: table;
}
#navigation-four #navigation-controls:after {
  clear: both;
}
#navigation-four #navigation-controls li {
  float: left;
}
#navigation-four #navigation-controls li:last-child {
  display: none;
}
#navigation-four #primary-navigation,
#navigation-four .content {
  float: left;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
#navigation-four #primary-navigation {
  width: 80%;
  margin-left: -100%;
  padding-right: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#navigation-four #primary-navigation.active {
  margin-left: 0;
}
#navigation-four #primary-navigation form,
#navigation-four #primary-navigation div:first-of-type {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
}
#navigation-four .content {
  width: 100%;
  margin-left: 0;
}
#navigation-four .content.active {
  margin-right: -90%;
}
#navigation-four footer {
  clear: both;
}
/* typography
--------------------------------------------------*/
html {
  font-size: 62.5%;
}
body {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  text-rendering: optimizeLegibility;
}
nav h2 {
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
}
nav ol,
nav ul {
  list-style: none;
}
#search input {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  color: #333333;
}
.content h2 {
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
}
footer {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
}
#navigation-two #navigation-controls {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
}
#navigation-three #primary-navigation h3 {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
}
