/* imports
--------------------------------------------------*/
.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.reset {
  margin: 0;
  padding: 0;
  border: none;
}
/* general
--------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-text-size-adjust: none;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  text-align: center;
  padding-top: 20px;
  padding-top: 2rem;
}
#wrapper {
  width: 93.75%;
  text-align: left;
  margin: 0 auto;
}
header,
hgroup,
nav,
footer,
section,
article,
figure,
figcaption {
  display: block;
}
a {
  color: #005689;
  text-decoration: none;
}
a:hover,
a:visited:hover {
  color: #003656;
  border-bottom: 1px dotted #003656;
}
table {
  width: 100%;
}
h1,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  vertical-align: baseline;
}
strong.live-latest {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
  font-size: 1rem;
  line-height: 10px;
  line-height: 1rem;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  padding: 2px;
  background: #cc0000;
}
.show-more {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
  margin: 9px 0px 0px 0px;
  margin: 0.9rem 0px 0rem 0px;
  padding: 10px 0px 9px 0px;
  padding: 1rem 0px 0.9rem 0px;
  border-top: 1px solid #eeeeee;
  /*	border-bottom:1px solid @background;*/

}
.section-control {
  font-size: 10px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 2rem;
  text-transform: uppercase;
  text-align: right;
  margin: -26px 0px 10px 0px;
  margin: -2.6rem 0px 1rem 0px;
}
.section-control strong {
  font-weight: normal;
}
.more {
  display: none;
}
.more article:first-of-type img {
  float: left;
  display: block;
  width: 40%;
  margin: 0px 3.333333333% 6px 0px;
  margin: 0rem 3.333333333% 0.6000000000000001rem 0px;
}
.datestamp {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  color: #666666;
}
header {
  margin-bottom: 12px;
  margin-bottom: 1.2000000000000002rem;
  border-bottom: 2px solid #cccccc;
}
header h1 {
  position: relative;
  width: 175px;
  height: 31px;
  overflow: hidden;
  margin: 6px 0px 6px 0px;
  margin: 0.6000000000000001rem 0px 0.6000000000000001rem 0px;
}
header h1 a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 175px;
  height: 31px;
  background: url("/img/logo.gif") center center no-repeat;
  border: none;
}
/* articles
--------------------------------------------------*/
section {
  clear: both;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding-bottom: 9px;
  padding-bottom: 0.9rem;
  border-bottom: 1px solid #eeeeee;
}
section h2 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 20px;
  line-height: 2rem;
  color: #000;
  margin: 0px 0px 10px 0px;
  margin: 0rem 0px 1rem 0px;
  padding: 10px 0px 0px 0px;
  padding: 1rem 0px 0rem 0px;
}
section article {
  clear: both;
  margin-top: 9px;
  margin-top: 0.9rem;
  padding-top: 10px;
  padding-top: 1rem;
  border-top: 1px solid #eeeeee;
}
section article img {
  float: left;
  display: block;
  width: 40%;
  margin: 0px 3.333333333% 6px 0px;
  margin: 0rem 3.333333333% 0.6000000000000001rem 0px;
}
section article h3,
section article h4 {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
section article p {
  clear: both;
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}
section article p:last-child {
  margin: 0;
}
section article .latest {
  clear: both;
  font-style: italic;
  margin: 0px 0px 5px 0px;
  margin: 0rem 0px 0.5rem 0px;
  padding: 5px 2% 5px 2%;
  padding: 0.5rem 2% 0.5rem 2%;
  background: #eeeeee;
}
section article .latest p {
  margin: 0;
}
section article:first-of-type {
  margin: 0;
  padding: 0;
  border: none;
}
section article:first-of-type img {
  float: none;
  width: 100%;
}
section article:only-of-type img {
  float: left;
  display: block;
  width: 25%;
  margin: 0px 3.333333333% 6px 0px;
  margin: 0rem 3.333333333% 0.6000000000000001rem 0px;
}
section article:only-of-type h3 {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
}
section .sublinks {
  list-style: none;
}
#business div > article:nth-of-type(2) img,
#sport div > article:nth-of-type(2) img {
  float: none;
  width: 100%;
}
/*#top-stories, #sport, #life-style, #culture, #features {
	h3	{
		.font(12,20,@serif,bold);
		text-transform:uppercase;
		margin:0;			
	}
}*/
.most-read,
.zeitgeist,
#features {
  padding: 10px 3.333333333% 10px 3.333333333%;
  padding: 1rem 3.333333333% 1rem 3.333333333%;
  background: #eeeeee;
}
.most-read article:first-of-type img,
.zeitgeist article:first-of-type img,
#features article:first-of-type img {
  float: left;
  display: block;
  width: 40%;
  margin: 0px 3.333333333% 6px 0px;
  margin: 0rem 3.333333333% 0.6000000000000001rem 0px;
}
.most-read h2,
.zeitgeist h2 {
  font-family: "guardian-regular", georgia, serif;
  font-weight: bold;
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
blockquote {
  min-height: 60px;
  min-height: 6rem;
  margin-bottom: 12px;
  margin-bottom: 1.2000000000000002rem;
  padding: 6px 70px 6px 6px;
  padding: 0.6000000000000001rem 70px 0.6000000000000001rem 6px;
  background: url("/img/headshot.svg") bottom right no-repeat #eeeeee;
  background-size: 70px 70px;
}
blockquote p {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-style: italic;
  margin: 0;
}
blockquote cite {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-style: normal;
  margin: 0;
}
#most-read-zeitgeist .most-read {
  display: block;
}
#most-read-zeitgeist .zeitgeist {
  display: none;
}
.tabs {
  height: 32px;
  height: 3.2rem;
  list-style: none;
  border-bottom: 1px solid #000;
  clear: both;
}
.tabs li {
  display: inline-block;
}
.tabs li a {
  display: block;
  margin: 3px 0px 0px 2px;
  margin: 0.30000000000000004rem 0px 0rem 2px;
  padding: 4px 10px 4px 10px;
  padding: 0.4rem 10px 0.4rem 10px;
  border: 1px solid #eeeeee;
  border-bottom: none;
}
.tabs li a:hover {
  background: #eeeeee;
  border: 1px solid #ccc;
  border-bottom: none;
}
.tabs li a.selected {
  margin-top: 0;
  padding: 5px 10px 5px 10px;
  padding: 0.5rem 10px 0.5rem 10px;
  background: #eeeeee;
  border: 1px solid #000;
  border-bottom: none;
}
