/* imports
--------------------------------------------------*/
.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.reset {
  margin: 0;
  padding: 0;
  border: none;
}
/* general
--------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-text-size-adjust: none;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  font-family: georgia, sans-serif;
  text-align: center;
}
#wrapper {
  width: 90%;
  text-align: left;
  margin: 0 auto;
}
header,
hgroup,
nav,
footer,
section,
article,
figure,
figcaption {
  display: block;
}
a {
  color: #005689;
  text-decoration: none;
}
a:hover,
a:visited:hover {
  color: #003656;
  border-bottom: 1px dotted #003656;
}
article > a:hover {
  border: none;
}
a:visited {
  color: #0076bc;
}
img {
  /*	width:100%;*/

  width: 40%;
  display: block;
  float: left;
  vertical-align: top;
  max-width: 100%;
  margin: 0px 6px 6px 0px;
  margin: 0rem 6px 0.6000000000000001rem 0px;
}
br:last-child,
section {
  clear: both;
}
/* basic typography
--------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0px 0px 6px 0px;
  margin: 0rem 0px 0.6000000000000001rem 0px;
}
h2 {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 21px;
  line-height: 2.1rem;
}
h3 {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 18px;
  line-height: 1.8rem;
}
h4 {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4000000000000001rem;
  line-height: 18px;
  line-height: 1.8rem;
}
p,
ol,
ul,
cite {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4000000000000001rem;
  line-height: 18px;
  line-height: 1.8rem;
  margin: 0px 0px 6px 0px;
  margin: 0rem 0px 0.6000000000000001rem 0px;
}
/* header
--------------------------------------------------*/
header {
  margin-bottom: 12px;
  margin-bottom: 1.2000000000000002rem;
  border-bottom: 2px solid #cccccc;
}
header h1 {
  position: relative;
  width: 175px;
  height: 31px;
  overflow: hidden;
  margin: 6px 0px 6px 0px;
  margin: 0.6000000000000001rem 0px 0.6000000000000001rem 0px;
}
header h1 a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 175px;
  height: 31px;
  background: url("/img/logo.gif") center center no-repeat;
  border: none;
}
header p {
  float: left;
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 12px;
  line-height: 1.2000000000000002rem;
  color: #666666;
}
header nav #section-links {
  text-align: right;
  list-style: none;
  margin-top: -4px;
  margin-top: -0.4rem;
}
header nav #section-links li {
  display: inline-block;
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 12px;
  line-height: 1.2000000000000002rem;
  /*				.colored-link(@supplemental-color);*/

}
header nav #section-links li:last-child {
  margin-left: 2%;
}
header nav ol {
  display: none;
}
/* sections
--------------------------------------------------*/
section {
  margin-bottom: 12px;
  margin-bottom: 1.2000000000000002rem;
}
section > h2 {
  font-family: "guardian-regular", georgia, serif;
  font-weight: bold;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 18px;
  line-height: 1.8rem;
  padding: 3px 6px 12px 6px;
  padding: 0.30000000000000004rem 6px 1.2000000000000002rem 6px;
  background: #eeeeee;
  border-top: 2px solid #cccccc;
}
#multimedia article.top-story img {
  width: 100%;
}
#multimedia article.top-story h3 {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 21px;
  line-height: 2.1rem;
}
#multimedia article.secondary-story h3 {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4000000000000001rem;
  line-height: 18px;
  line-height: 1.8rem;
}
#multimedia article.secondary-story h3 strong {
  display: block;
}
/*#also-on-guardian {
	article.top-story {
		img {
			width:140px;
		}
	}
}*/
#most-viewed-latest-zeitgeist .tabs {
  height: 35px;
  list-style: none;
  padding-top: 6px;
  padding-top: 0.6000000000000001rem;
  background: #eeeeee;
  border-top: 2px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#most-viewed-latest-zeitgeist .tabs li {
  display: inline-block;
  margin: 0px 0px 0px 2px;
  margin: 0rem 0px 0rem 2px;
  border: 1px solid #cccccc;
  border-bottom: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#most-viewed-latest-zeitgeist .tabs li h2 {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4000000000000001rem;
  line-height: 18px;
  line-height: 1.8rem;
  margin: 0;
}
#most-viewed-latest-zeitgeist .tabs li h2 a,
#most-viewed-latest-zeitgeist .tabs li h2 a:visited {
  display: block;
  padding: 0px 6px 4px 6px;
  padding: 0rem 6px 0.4rem 6px;
  border: none;
}
#most-viewed-latest-zeitgeist .tabs li h2 a:hover,
#most-viewed-latest-zeitgeist .tabs li h2 a:visited:hover {
  background: #cccccc;
}
#most-viewed-latest-zeitgeist .tabs li.selected a,
#most-viewed-latest-zeitgeist .tabs li.selected a:hover,
#most-viewed-latest-zeitgeist .tabs li.selected a:visited {
  display: block;
  margin-top: 0;
  padding: 3px 6px 5px 6px;
  padding: 0.30000000000000004rem 6px 0.5rem 6px;
  background: #fff;
  border: none;
  cursor: default;
}
#most-viewed-latest-zeitgeist section h3 {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 12px;
  line-height: 1.2000000000000002rem;
  color: #666666;
}
#most-viewed-latest-zeitgeist section ol {
  list-style: none;
}
#most-viewed-latest-zeitgeist section ol li {
  clear: both;
  margin: 0px 0px 6px 0px;
  margin: 0rem 0px 0.6000000000000001rem 0px;
  padding: 0px 0px 5px 0px;
  padding: 0rem 0px 0.5rem 0px;
  border-bottom: 1px dotted #cccccc;
}
#most-viewed-latest-zeitgeist section ol li h4 {
  margin: 0;
}
#most-viewed-latest-zeitgeist section ol li h4 strong {
  display: block;
}
#current-topics ul,
#in-depth ul {
  list-style: square;
}
#current-topics ul li,
#in-depth ul li {
  display: inline-block;
}
#current-topics ul li:after,
#in-depth ul li:after {
  content: ",";
}
#current-topics ul li:last-child:after,
#in-depth ul li:last-child:after {
  content: none;
}
/* articles
--------------------------------------------------*/
article {
  clear: both;
  margin: 0px 0px 6px 0px;
  margin: 0rem 0px 0.6000000000000001rem 0px;
  padding: 0px 0px 11px 0px;
  padding: 0rem 0px 1.1rem 0px;
  border-bottom: 1px dotted #cccccc;
}
article p.updated {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 12px;
  line-height: 1.2000000000000002rem;
  color: #666666;
}
article p:last-child {
  margin: 0;
}
article strong.live-latest {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
  font-size: 1rem;
  line-height: 10px;
  line-height: 1rem;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  padding: 2px;
  background: #cc0000;
}
article aside.latest {
  clear: both;
  font-style: italic;
  margin: 0px 0px 6px 0px;
  margin: 0rem 0px 0.6000000000000001rem 0px;
  padding: 6px 6px 6px 6px;
  padding: 0.6000000000000001rem 6px 0.6000000000000001rem 6px;
  background: #eeeeee;
}
article aside.latest p {
  margin: 0;
}
article .related-items {
  clear: both;
  color: #cccccc;
  list-style: square;
  margin: 0;
}
article.top-story h2 {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 24px;
  font-size: 2.4000000000000004rem;
  line-height: 24px;
  line-height: 2.4000000000000004rem;
}
article:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
#features article img {
  width: 20%;
}
#features article.top-story img {
  width: 100%;
}
/* blockquote
--------------------------------------------------*/
blockquote {
  min-height: 60px;
  min-height: 6rem;
  margin-bottom: 12px;
  margin-bottom: 1.2000000000000002rem;
  padding: 6px 70px 6px 6px;
  padding: 0.6000000000000001rem 70px 0.6000000000000001rem 6px;
  background-color: #eeeeee;
  background-position: bottom right;
  background-size: 70px 70px;
  background-repeat: no-repeat;
}
blockquote p {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 18px;
  line-height: 1.8rem;
  font-style: italic;
  margin: 0;
}
blockquote cite {
  font-style: normal;
  margin: 0;
}
blockquote.hetherington {
  background-image: url("/img/peter_hetherington_140x140.png");
}
/* footer
--------------------------------------------------*/
footer {
  margin-top: 12px;
  margin-top: 1.2000000000000002rem;
  padding: 6px 6px 6px 6px;
  padding: 0.6000000000000001rem 6px 0.6000000000000001rem 6px;
  background: #eeeeee;
  border-top: 2px solid #cccccc;
}
footer ul {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 12px;
  line-height: 1.2000000000000002rem;
  list-style: none;
}
