.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.reset {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
}
.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.reset {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
}
/* general
--------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-text-size-adjust: none;
}
body {
  text-align: center;
}
.wrapper {
  width: 93.75%;
  width: 93.75%;
  text-align: left;
  margin: 0 auto;
}
header,
hgroup,
nav,
footer,
section,
article,
figure,
figcaption {
  display: block;
}
a {
  color: #005689;
  text-decoration: none;
}
a:hover {
  color: #003656;
}
a:visited {
  color: #0076bc;
}
header {
  border-bottom: 1px solid #cccccc;
}
header .branding {
  position: relative;
  width: 120px;
  height: 21px;
  overflow: hidden;
  margin: 10px 0px 9px 0px;
  margin: 1rem 0px 0.9rem 0px;
  margin: 10px 0px 9px 0px;
  margin: 1rem 0px 0.9rem 0px;
}
header .branding a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 21px;
  background: url("/img/logo.gif") center center no-repeat;
  background-size: 120px 21px;
  border: none;
}
nav:before,
nav:after {
  content: "";
  display: table;
}
nav:after {
  clear: both;
}
nav:before,
nav:after {
  content: "";
  display: table;
}
nav:after {
  clear: both;
}
nav ul li,
nav ol li {
  padding: 10px 0px 10px 0px;
  padding: 1rem 0px 1rem 0px;
  padding: 10px 0px 10px 0px;
  padding: 1rem 0px 1rem 0px;
  border-bottom: 1px solid #eeeeee;
}
nav ul li:last-child,
nav ol li:last-child {
  border: none;
}
#navigation-controls {
  text-align: right;
  margin: -30px 0px 9px 0px;
  margin: -3rem 0px 0.9rem 0px;
  margin: -30px 0px 9px 0px;
  margin: -3rem 0px 0.9rem 0px;
}
#navigation-controls li {
  display: inline-block;
}
#navigation-controls li:first-child {
  margin-right: 6%;
}
strong.live-latest {
  padding: 2px;
}
h1 {
  margin: 20px 0px 20px 0px;
  margin: 2rem 0px 2rem 0px;
  margin: 20px 0px 20px 0px;
  margin: 2rem 0px 2rem 0px;
}
footer {
  border-top: 1px solid #cccccc;
}
footer li {
  width: 48.333333333333336%;
  width: 48.333333333333336%;
}
footer li:nth-child(odd) {
  float: left;
}
footer li:nth-child(even) {
  float: right;
}
footer li:last-child {
  clear: both;
  width: 100%;
}
.advert {
  text-align: center;
  margin: 0;
  padding: 5px 0px 5px 0px;
  padding: 0.5rem 0px 0.5rem 0px;
  padding: 5px 0px 5px 0px;
  padding: 0.5rem 0px 0.5rem 0px;
  border: none;
}
.sponsor {
  text-align: right;
  margin-top: -10px;
  margin-top: -1rem;
  margin-top: -10px;
  margin-top: -1rem;
}
.sponsor img {
  width: 30%;
  vertical-align: bottom;
}
/* typography
--------------------------------------------------*/
html {
  font-size: 62.5%;
}
body {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  color: #333333;
  text-rendering: optimizeLegibility;
}
nav h2 {
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
}
nav ol,
nav ul {
  list-style: none;
}
#navigation-controls {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
}
strong.live-latest {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
  font-size: 1rem;
  line-height: 10px;
  line-height: 1rem;
  font-size: 10px;
  font-size: 1rem;
  line-height: 10px;
  line-height: 1rem;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
  font-size: 1rem;
  line-height: 10px;
  line-height: 1rem;
  font-size: 10px;
  font-size: 1rem;
  line-height: 10px;
  line-height: 1rem;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  background: #cc0000;
}
h1,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  vertical-align: baseline;
}
h1 {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 24px;
  font-size: 2.4000000000000004rem;
  line-height: 30px;
  line-height: 3rem;
  font-size: 24px;
  font-size: 2.4000000000000004rem;
  line-height: 30px;
  line-height: 3rem;
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 24px;
  font-size: 2.4000000000000004rem;
  line-height: 30px;
  line-height: 3rem;
  font-size: 24px;
  font-size: 2.4000000000000004rem;
  line-height: 30px;
  line-height: 3rem;
}
.standfirst {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  margin: 0px 0px 20px 0px;
  margin: 0rem 0px 2rem 0px;
  margin: 0px 0px 20px 0px;
  margin: 0rem 0px 2rem 0px;
  color: #666666;
}
footer {
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
}
.sponsor {
  font-family: helvetica, sans-serif;
  font-weight: normal;
  font-size: 10px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 10px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: helvetica, sans-serif;
  font-weight: normal;
  font-size: 10px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 10px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 2rem;
  text-transform: uppercase;
}
/* structure
--------------------------------------------------*/
.hide {
  display: none;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px 3.333333333% 20px 3.333333333%;
  padding: 0rem 3.333333333% 2rem 3.333333333%;
  padding: 0px 3.333333333% 20px 3.333333333%;
  padding: 0rem 3.333333333% 2rem 3.333333333%;
}
.switcher {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
.switcher select,
.switcher input[type="submit"],
.switcher button {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  padding: 5px 5px 5px 5px;
  padding: 0.5rem 5px 0.5rem 5px;
  padding: 5px 5px 5px 5px;
  padding: 0.5rem 5px 0.5rem 5px;
  /*		-webkit-appearance:none;*/

  border-radius: 0;
}
.switcher select {
  width: 75%;
  background: #eeeeee;
  border: 1px solid #cccccc;
}
.switcher input[type="submit"],
.switcher button {
  color: #fff;
  background: #005689;
}
.fixtures,
.scores,
.results {
  /*	td {
		.padding-all(5,5,5,5);
		&:nth-child(odd) {
			width:35%;
		}
		&:nth-child(even) {
			width:15%;
		}
		&:first-child {
			text-align:right;
		}
		&:nth-child(2) {
			text-align:center;
		}
		&:nth-child(n+3) {
			text-align:left;
		}
	}*/

}
.fixtures table,
.scores table,
.results table {
  width: 100%;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
.fixtures thead tr:first-child,
.scores thead tr:first-child,
.results thead tr:first-child {
  background: none;
}
.fixtures tr,
.scores tr,
.results tr {
  background: #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.fixtures tr:nth-child(even),
.scores tr:nth-child(even),
.results tr:nth-child(even) {
  background: #eeeeee;
}
.fixtures tr.show,
.scores tr.show,
.results tr.show {
  display: table-row;
}
.fixtures td,
.scores td,
.results td {
  vertical-align: top;
  padding: 5px 5px 5px 5px;
  padding: 0.5rem 5px 0.5rem 5px;
  padding: 5px 5px 5px 5px;
  padding: 0.5rem 5px 0.5rem 5px;
}
.fixtures td:nth-child(even),
.scores td:nth-child(even),
.results td:nth-child(even) {
  width: 35%;
}
.fixtures td:nth-child(odd),
.scores td:nth-child(odd),
.results td:nth-child(odd) {
  width: 10%;
}
.fixtures td:nth-child(-n+2),
.scores td:nth-child(-n+2),
.results td:nth-child(-n+2) {
  text-align: right;
}
.fixtures td:nth-child(3),
.scores td:nth-child(3),
.results td:nth-child(3) {
  text-align: center;
}
.fixtures td:nth-child(n+4),
.scores td:nth-child(n+4),
.results td:nth-child(n+4) {
  text-align: left;
}
.fixtures p:last-child,
.scores p:last-child,
.results p:last-child {
  margin: 0;
}
.fixtures ul li:nth-child(n+2),
.scores ul li:nth-child(n+2),
.results ul li:nth-child(n+2) {
  display: inline-block;
}
.fixtures ul li:nth-child(2),
.scores ul li:nth-child(2),
.results ul li:nth-child(2) {
  margin-right: 1%;
  padding-right: 2%;
  border-right: 1px solid #cccccc;
}
.update-control {
  width: 100%;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  background: #eeeeee;
}
.update-control dt,
.update-control dd {
  display: inline-block;
  vertical-align: top;
}
.update-control dt,
.update-control li a {
  padding: 5px 5px 5px 5px;
  padding: 0.5rem 5px 0.5rem 5px;
  padding: 5px 5px 5px 5px;
  padding: 0.5rem 5px 0.5rem 5px;
}
.update-control dt {
  font-family: "guardian-regular", georgia, serif;
}
.update-control dd {
  float: right;
  width: 50%;
}
.update-control li {
  width: 50%;
  display: inline-block;
  text-align: center;
  border-left: 1px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.update-control li a {
  display: block;
  color: #333333;
  background: #eeeeee;
}
.update-control li a:hover,
.update-control li a:visited:hover,
.update-control li a.selected {
  color: #fff;
  background: #003656;
}
.update-control li a.selected {
  font-family: "guardian-bold";
  cursor: default;
}
.section-control {
  font-size: 10px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 10px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 2rem;
  text-transform: uppercase;
  text-align: right;
  margin: -26px 0px 10px 0px;
  margin: -2.6rem 0px 1rem 0px;
  margin: -26px 0px 10px 0px;
  margin: -2.6rem 0px 1rem 0px;
}
.section-control strong {
  font-weight: normal;
}
article {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding-bottom: 9px;
  padding-bottom: 0.9rem;
  padding-bottom: 9px;
  padding-bottom: 0.9rem;
  border-bottom: 1px dotted #cccccc;
}
article:last-of-type {
  padding: 0;
  border: none;
}
article h2 {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
article h2 img {
  display: none;
}
article p {
  clear: both;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
article h3 {
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}
article h4 img {
  display: none;
}
.small[data-has-pictures="yes"] h2 img,
.small-medium[data-has-pictures="yes"] h2 img,
.medium[data-has-pictures="yes"] h2 img,
.medium-large[data-has-pictures="yes"] h2 img,
.large[data-has-pictures="yes"] h2 img,
.nuclear[data-has-pictures="yes"] h2 img {
  display: block;
}
.small h4 img,
.small-medium h4 img,
.medium h4 img {
  display: none;
}
.small h2 img,
.small-medium h2 img,
.medium h2 img,
.medium-large h2 img {
  float: left;
  margin-right: 2%;
}
.medium h3,
.medium-large h3,
.medium .related-items li:nth-child(n+3),
.medium-large .related-items li:nth-child(n+3) {
  display: none;
}
.medium p,
.medium-large p,
.large p,
.nuclear p,
.medium h3,
.medium-large h3,
.large h3,
.nuclear h3,
.medium .related-items,
.medium-large .related-items,
.large .related-items,
.nuclear .related-items {
  display: block;
}
.medium-large .related-items li,
.large .related-items li,
.nuclear .related-items li {
  margin-top: 5px;
  margin-top: 0.5rem;
  margin-top: 5px;
  margin-top: 0.5rem;
  padding-top: 4px;
  padding-top: 0.4rem;
  padding-top: 4px;
  padding-top: 0.4rem;
  border-top: 1px solid #eeeeee;
}
.medium-large .related-items li:first-child,
.large .related-items li:first-child,
.nuclear .related-items li:first-child {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
}
.medium-large[data-has-pictures="yes"] h4 img,
.large[data-has-pictures="yes"] h4 img,
.nuclear[data-has-pictures="yes"] h4 img {
  float: left;
  display: block;
  width: 20%;
  width: 20%;
  margin-right: 2%;
}
.medium h2 img,
.medium-large h2 img,
.large h2 img {
  float: left;
  width: 41.66666666666667%;
  width: 41.66666666666667%;
  margin: 0px 2% 10px 0px;
  margin: 0rem 2% 1rem 0px;
  margin: 0px 2% 10px 0px;
  margin: 0rem 2% 1rem 0px;
}
.large .related-items li:nth-child(n),
.nuclear .related-items li:nth-child(n) {
  display: block;
}
.large .related-items li:nth-child(n+4),
.nuclear .related-items li:nth-child(n+4) {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
}
.small h2 {
  margin: 0;
}
.small h2:before,
.small h2:after {
  content: "";
  display: table;
}
.small h2:after {
  clear: both;
}
.small h2:before,
.small h2:after {
  content: "";
  display: table;
}
.small h2:after {
  clear: both;
}
.small h2 img {
  width: 33.33333333333333%;
  width: 33.33333333333333%;
}
.small p,
.small h3,
.small .related-items {
  display: none;
}
.small-medium h2 img {
  float: left;
  width: 33.33333333333333%;
  width: 33.33333333333333%;
  margin: 0px 2% 10px 0px;
  margin: 0rem 2% 1rem 0px;
  margin: 0px 2% 10px 0px;
  margin: 0rem 2% 1rem 0px;
}
.small-medium p {
  clear: both;
  display: block;
  margin: 0;
}
.small-medium h3,
.small-medium .related-items {
  display: none;
}
.statistics-module {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  padding: 10px 2% 10px 2%;
  padding: 1rem 2% 1rem 2%;
  padding: 10px 2% 10px 2%;
  padding: 1rem 2% 1rem 2%;
  background: #f5f5f5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.statistics-module h2 {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
.statistics-module ul {
  list-style: none;
}
.statistics-module article:nth-of-type(n+2) ul li {
  display: inline-block;
  margin-right: 1%;
  padding-right: 2%;
  border-right: 1px solid #cccccc;
}
.statistics-module article:nth-of-type(n+2) ul li:last-child {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
}
.statistics-module article:last-of-type {
  margin: 0;
  border: none;
}
#filter {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
#filter-games {
  display: none;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  padding: 10px 2% 10px 2%;
  padding: 1rem 2% 1rem 2%;
  padding: 10px 2% 10px 2%;
  padding: 1rem 2% 1rem 2%;
  background: #eeeeee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#filter-games ul {
  list-style: none;
}
#filter-games input,
#filter-games select {
  width: 100%;
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding: 5px 5px 5px 5px;
  padding: 0.5rem 5px 0.5rem 5px;
  padding: 5px 5px 5px 5px;
  padding: 0.5rem 5px 0.5rem 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#filter-games select {
  height: 30px;
  height: 3rem;
  height: 30px;
  height: 3rem;
  background: #eeeeee;
}
#filter-games input[type="submit"] {
  font-family: "guardian-bold";
  color: #fff;
  background: #005689;
  cursor: pointer;
}
#filter-games input[type="submit"]:hover {
  background: #003656;
}
#load-more {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
.terms-conditions {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
/* typography
--------------------------------------------------*/
.fixtures h2,
.scores h2,
.results h2 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 20px;
  line-height: 2rem;
}
.fixtures h2,
.scores h2,
.results h2,
.fixtures th,
.scores th,
.results th {
  font-weight: normal;
}
article h2 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 30px;
  line-height: 3rem;
  font-size: 20px;
  font-size: 2rem;
  line-height: 30px;
  line-height: 3rem;
}
article h3 {
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
}
article .related-items {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
  line-height: 2rem;
}
.small h2 {
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
}
.small-medium h2,
.medium h2,
.medium-large h2,
.large h2 {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
}
.medium-large .related-items li:nth-child(-n+2) h4 {
  font-family: "guardian-bold";
}
.large h2,
.large .related-items li:nth-child(-n+2) h4 {
  font-family: "guardian-bold";
}
.statistics-module h2 {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 17px;
  font-size: 1.7000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
}
.statistics-module h3 {
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: "guardian-bold";
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
}
.terms-conditions {
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-family: "guardian-regular", georgia, serif;
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
  font-size: 12px;
  font-size: 1.2000000000000002rem;
  line-height: 20px;
  line-height: 2rem;
}
/* specific
--------------------------------------------------*/
